<head>
    <style>
        img{
            width: 28px;
            height: 23px;
        }
        #sign-p > span{
            
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }
        #sign-p >span span{
            margin-top: 4px;
        }

    </style>
</head>
<div>

    <p>
        Hi <%= likedThing.name %>,
    </p>
    <br>
    <p>Your <%= likedThing.type%> <strong><%=  likedThing.content %></strong> has a new like from <strong><%= likedThing.likedUser.name %></strong> on AMIGOBOOK.</p>
    <br>
    <p>Thanks for being an active member!</p>
    <br>
    <p id="sign-p">With best regards,<br>
        <span> <span>AMIGOBOOK Team</span> <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png"></span>
     </p>

</div>