<div id="user-chat-box">

    <ul id="chat-messages-list">
        <li class="other-message ">
            <span>Sender</span>
        </li>
        <li class="self-message ">
            <span>Reciever</span>
        </li>
    </ul>
    <div id="chat-message-input-container">
        
            <input type="text" required placeholder="Type here....." name="message" id="chat-message-input">
        
            <button type="submit" id="send-message">Send</button>
  
    </form>
</div>