<li id="comments-<%= comment._id %>">
    <% if(locals.user.id==comment.user.id || locals.user.id==i.user.id) { %>
        <small>
            <a href="/comments/destroy-comment/<%=comment.id %>" class="delete-comment-button">X</a>
        </small>
    <% } %>
    <p>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user["name"] %>
        </small>
    </p>
</li>