<li id="comment-<%= comment._id %>">
    <p>
    <% if(locals.user.id==comment.user.id) { %>
        <small>
            <a href="/comments/destroy-comment/<%= comment.id %>" class="delete-comment-button">X</a>
        </small>
    <% } %>
    
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user["name"] %>
        </small>
    </p>
</li>