<footer id="layout-footer">
    <div>
        &copy Socialends Foundation (Initiated by Manjari Jain)
    </div>

    <div>

        <ul>
            <li>
                <a href="/" class="hvr-bounce-to-left">
                    Home
                </a>
            </li>
        </ul>
    </div>
</footer>