
<footer id="layout-footer">
    
        <div style="margin:auto">
            <span>&copy Skyinyou Foundation</span><span> (Initiated by Manjari Jain)</span>
        </div>
    

    <!-- <% if (locals.user) {%>
        <div>
            <ul>
                <li>
                    <a href="/" class="hvr-bounce-to-left">
                        Home
                    </a>
                </li>
                
            </ul>
        
        </div>
    <% } %> -->
</footer>