<footer id="layout-footer">
    <div>
        &copy Socialends Foundation (Initiated by Manjari Jain)
    </div>

    <div>

        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <% if(locals.user) { %> 
                <li>
                    <a href="/users/profile/<%= user.id %>">
                        Profile
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
</footer>