<% if(locals.user) { %>
    <footer id="layout-footer" style="justify-content: space-between;padding:0px 20px;">
<% } else { %>
<footer id="layout-footer">
<% } %>
    <% if(locals.user){%>
        <div >
            &copy Socialends Foundation (Initiated by Manjari Jain)
        </div>
    <% } else {%>
        <div style="margin:auto;width: 65%;">
            &copy Socialends Foundation (Initiated by Manjari Jain)
        </div>
    <% } %>

    <% if (locals.user) {%>
        <div>
            <ul>
                <li>
                    <a href="/" class="hvr-bounce-to-left">
                        Home
                    </a>
                </li>
                
            </ul>
        
        </div>
    <% } %>
</footer>