<% if(locals.user) {%>
<footer id="layout-footer">
<% } else {%>
    <footer id="layout-footer">
<% } %>
    
        <div style="margin:auto">
            <span>&copy AMIGOBOOK</span>
            
        </div>
    
</footer>