<h1 class="heading">S.o.c.i.a.l.e.n.d.s</h1>
<marquee direction="left" loop="" scrollamount="12" onmouseover="this.stop();" onmouseout="this.start();" >
    <% if(title=="Socialend | New Password"){ %>
        Please enter your new password!
    <% } else if(title=="Socialend | Forget Password"){%>
        For resetting your password, please enter the registered Email ID. Thank you!
    <% } else { %>
        Click the button and get lost into the excitement!!
    <% } %>
</marquee>