<% if(title=="Skyinyou | New Password"){ %>
    <h1 class="heading" style="margin-top: 50px !important;">S.k.y.i.n.y.o.u</h1>
    <marquee direction="left" loop="" scrollamount="12" onmouseover="this.stop();" onmouseout="this.start();" style="margin-bottom: 35px;">
<% } else { %>
    <h1 class="heading">S.k.y.i.n.y.o.u</h1>
<marquee direction="left" loop="" scrollamount="12" onmouseover="this.stop();" onmouseout="this.start();" >
<% } %>
    <% if(title=="Skyinyou | New Password"){ %>
        Please enter your new password!
    <% } else if(title=="Skyinyou | Forget Password"){%>
        For resetting your password, please enter the registered Email ID. Thank you!
    <% } else { %>
        Click the button and get lost into the excitement!!
    <% } %>
</marquee>