<% if(locals.user) {%>
    <h1 class="heading" style="margin-top: 100px !important;">A.M.I.G.O.B.O.O.K</h1>
    <marquee direction="left" loop="" scrollamount="12" onmouseover="this.stop();" onmouseout="this.start();" >
<% } else {%>
    <% if(title=="AMIGOBOOK | New Password"){ %>
        <h1 class="heading" style="margin-top: 30px !important;">A.M.I.G.O.B.O.O.K</h1>
        <marquee direction="left" loop="" scrollamount="12" onmouseover="this.stop();" onmouseout="this.start();" style="margin-bottom: 35px;">
    <% } else { %>
        <h1 class="heading">A.M.I.G.O.B.O.O.K</h1>
        <marquee direction="left" loop="" scrollamount="12" onmouseover="this.stop();" onmouseout="this.start();" >
    <% } %>
<% } %>
    <% if(title=="AMIGOBOOK | New Password"){ %>
        Please enter your new password!
    <% } else if(title=="AMIGOBOOK | Forget Password"){%>
        For resetting your password, please enter the registered Email ID. Thank you!
    <% } else if(title=="AMIGOBOOK | Change Email"){%>
        Please enter your new email address!
    <% } else { %>
        Click the button and get lost into the excitement!!
    <% } %>
</marquee>