<a href="/users/profile/<%= friend._id %>">
    <% if(friend.avatar) {%>
        <img src="<%= friend.avatar %>"> 
    <% } else if (friend.gender=="male"){%>
        <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
    <% }  else {%>
        <img src="/images/femaleProfile.png" width="100" height="100">
    <% } %>

    <span><%= friend.name %></span>
  
</a>
<% if(profileUser.id==user.id) {%>
<a data-toggle="modal" href="#deleteFriendModal-<%=friend._id%>" class="remove-friend">
    Remove Friend
</a>
<% } %>
