<header id="layout-header">

    <div id="layout-title">
        Codeial
    </div>


    <div>
        <ul>
            <% if(locals.user) { %>

                <li>
                    <a href="/users/profile" class="links">
                        <%= user.name %>
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out" class="links">Sign Out</a>
                </li>

            <% } else { %>

                <li>
                    <a href="/users/sign-in" class="links">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up" class="links">Sign Up</a>
                </li>
            
            <% } %>
        </ul>
    </div>
</header>