<% if(locals.user) {%>
    <header id="layout-header">
<% } else { %>
    <% if(title=="Skyinyou" || title=="Skyinyou | Sign In" || title=="Skyinyou | Sign Up") {%>
        <header id="layout-header" style="flex-direction: row;justify-content: space-between;">
    <% } else {%>
        <header id="layout-header" style="flex-direction: row;justify-content:space-between;">
    <% } %>
<% } %>


    <div id="layout-title">

        <a href="/" class="hvr-grow-shadow ">
            Skyinyou
        </a>
    </div>

    <% if(locals.user) {%>
        <div class="search-bar">
            <input type="text" name="search" placeholder="Are you curious?" oninput="searchFunction()" id="search-input-field" autocomplete="off">
            <ul>
              
            </ul>
        </div>
    <% } %>

    <% if(locals.user) {%>
        <div class="userprofilelink" >
    <% } else {%>
        <div class="userprofilelink">
    <% } %>

 
        <ul>
            <% if(locals.user) { %>

                <li>
                    <a href="/users/profile/<%= user.id %>" class="links" >
                        <% if(user.avatar) {%>
                            <img src="<%=user.avatar %>"> 
                        <% } else if (user.gender=="male"){%>
                                <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
                        <% } else {%>
                                <img src="/images/femaleProfile.png" width="100" height="100">
                        <% } %>
                        
                           <span id="userName"> <%= user.name.split(" ")[0] %> </span>
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out" class="links hvr-icon-sink-away">
                        Sign Out &nbsp; 
                        <i class="fas fa-sign-out-alt hvr-icon"></i>
                    </a>
                </li>

            <% } else { %>

                <% if(title=="Skyinyou | Forget Password" ) { %>

                    <li style="min-width: 0;">
                        <a href="/" class="links hvr-icon-forward">Sign In
                            <i class="fas fa-arrow-circle-right hvr-icon"></i>
                        </a>
                    </li>
                    <li style="min-width: 0;">
                        <a href="/" class="links hvr-icon-forward">Sign Up
                            <i class="fas fa-sign-in-alt hvr-icon"></i>
                        </a>
                    </li>
                
                <% } else { %>

                    <% if(title=="Skyinyou" || title=="Skyinyou | Sign In"){%>
                        <li style="min-width: 0;">
                            <a href="/users/sign-up" class="links hvr-icon-forward">Sign Up
                                <i class="fas fa-sign-in-alt hvr-icon"></i>
                            </a>
                        </li>
                    <% }else { %>
                    
                        <li style="min-width: 0;">
                            <a href="/" class="links hvr-icon-forward">Sign In
                                <i class="fas fa-arrow-circle-right hvr-icon"></i>
                            </a>
                        </li>
                    <%}%>
                <% } %>
                
            
            <% } %>
        </ul>
    </div>
</header>
