<header id="layout-header">

    <div id="layout-title">
        <a href="/" class="hvr-grow-shadow ">
            Socialends
        </a>
    </div>


    <div>
        <ul>
            <% if(locals.user) { %>

                <li>
                    <a href="/users/profile/<%= user.id %>" class="links">
                        <%= user.name %>
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out" class="links">Sign Out</a>
                </li>

            <% } else { %>

                <% if(title=="Socialend | Forget Password" ) { %>

                    <li>
                        <a href="/users/sign-in" class="links hvr-icon-forward">Sign In
                            <i class="fas fa-arrow-circle-right hvr-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/" class="links hvr-icon-forward">Sign Up
                            <i class="fas fa-sign-in-alt hvr-icon"></i>
                        </a>
                    </li>
                
                <% } else { %>

                    <% if(title=="Socialends" || title=="Socialends | Sign Up" || title=="Socialend | New Password"){%>
                        <li>
                            <a href="/users/sign-in" class="links hvr-icon-forward">Sign In
                                <i class="fas fa-arrow-circle-right hvr-icon"></i>
                            </a>
                        </li>
                    <% }else { %>
                    
                        <li>
                            <a href="/" class="links hvr-icon-forward">Sign Up
                                <i class="fas fa-sign-in-alt hvr-icon"></i>
                            </a>
                        </li>
                    <%}%>
                <% } %>
                
            
            <% } %>
        </ul>
    </div>
</header>