<% if(title=="Skyinyou" || title=="Skyinyou | Sign In" || title=="Skyinyou | New Password") {%>
<header style="flex-direction: row;" id="layout-header">
<% } else { %>
<header id="layout-header">
<% } %>  

    <div id="layout-title" >

        <a href="/" class="hvr-grow-shadow ">
            Skyinyou
        </a>
    </div>

    <div class="userprofilelink" >
 
        <ul>
            <% if(locals.user) { %>

                <li>
                    <a href="/users/profile/<%= user.id %>" class="links" >
                        <% if(user.avatar) {%>
                            <img src="<%=user.avatar %>"> 
                        <% } else if (user.gender=="male"){%>
                                <img src="https://i.stack.imgur.com/HQwHI.jpg" width="100" height="100">
                        <% } else {%>
                                <img src="/images/femaleProfile.png" width="100" height="100">
                        <% } %>
                        
                           <span id="userName"> <%= user.name %> </span>
                    </a>
                </li>
                <li>
                    <a href="/users/sign-out" class="links hvr-icon-sink-away">
                        Sign Out &nbsp; 
                        <i class="fas fa-sign-out-alt hvr-icon"></i>
                    </a>
                </li>

            <% } else { %>

                <% if(title=="Skyinyou | Forget Password" ) { %>

                    <li>
                        <a href="/users/sign-in" class="links hvr-icon-forward">Sign In
                            <i class="fas fa-arrow-circle-right hvr-icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/" class="links hvr-icon-forward">Sign Up
                            <i class="fas fa-sign-in-alt hvr-icon"></i>
                        </a>
                    </li>
                
                <% } else { %>

                    <% if(title=="Skyinyou" || title=="Skyinyou | Sign Up" || title=="Skyinyou | New Password" || title=="Skyinyou | Confirm Account"){%>
                        <li>
                            <a href="/users/sign-in" class="links hvr-icon-forward">Sign In
                                <i class="fas fa-arrow-circle-right hvr-icon"></i>
                            </a>
                        </li>
                    <% }else { %>
                    
                        <li>
                            <a href="/" class="links hvr-icon-forward">Sign Up
                                <i class="fas fa-sign-in-alt hvr-icon"></i>
                            </a>
                        </li>
                    <%}%>
                <% } %>
                
            
            <% } %>
        </ul>
    </div>
</header>