<div class="homepage-without-login">
    <p >Welcome to Socialends, kindly signin or signup!</p>
    <div class="display-area">

        <div class="display-images">
            <img src="/images/displayimage1.jpg">
            <img src="/images/displayimage3.jpg">
            <img src="/images/displayimage4.jpg">
        </div>

        <% if(title=="Socialends" || title=="Socialends | Sign Up"){%>
            <%- include("_signup"); %>
        <% }else { %>
        
            <%- include("_signin"); %>
        <%}%>
 
    </div>
</div>