<div class="homepage-without-login">
    <p >Welcome to Socialends. Kindly signin or signup!</p>
    <div class="display-area">

        <div class="display-images">
            <img src="/images/displayimage1.jpg">
            <img src="/images/displayimage3.jpg">
            <img src="/images/displayimage4.jpg">
        </div>

        <%- include("_signup"); %>

    </div>
</div>