<div class="display-signUp-form">
    <p style="margin-bottom: 50px;"><i class="fas fa-sign-in-alt acc-icon"></i> Sign In AMIGOBOOK</p>
    <form action="/users/create-session" method="post">
        <div>
            <!-- <label for="email">Email:</label> -->
            <input type="email" id="email" name="email" required placeholder="Enter your email......">
        </div>
        <div style="position: relative;">
            <!-- <label for="pwd">Password:</label> -->
            <input type="password" id="pwd" name="password" required placeholder="Enter your password......">
            <i class="fas fa-eye" onclick="togglePassword(this)" id="pwd-eye"></i>
        </div>
        <div class="btn">
            <button type="submit">Sign In</button>
        </div>
        <div class="other-signins">
            <a href="/users/forget-password" class="forget-password">
                <i class="fas fa-unlock-alt " style="margin-right: 15px;"></i>
                <span>Forget Password</span>
            </a>
            <a href="/users/auth/google" class="google-signin">
               <img src="/images/googleicon.png">
                <span >Sign In Using Google</span>
            </a>
        </div>
    </form>

</div>

