<div class="display-signUp-form">
    <p><i class="far fa-user-circle acc-icon"></i>Create an account for free</p>
    <form action="/users/create" method="post">
        <div>
            <!-- <label for="name">Name:</label> -->
            <input type="String" id="name" name="name" required placeholder="Enter your Name......">
        </div>
        <div>
            <!-- <label for="email">Email:</label> -->
            <input type="email" id="email" name="email" required placeholder="Enter your email......">
        </div>
        <div id="gender">
            Gender:
            
                <span style="width: 65px;"><input type="radio" name="gender" value="female" required>Female</span>
                <span><input type="radio" name="gender" value="male">Male</span>
                <span><input type="radio" name="gender" value="other">Other</span>
            
        </div>
        <div style="flex-direction: column;font-size: 16.5px;">
            <b>The password essentials:</b>
            <ul>
                <li>It should have strength at least as 8.</li>
                <li>It should contain special characters and numbers.</li>
                <li>One letter should be capitalised.</li>
            </ul>
            <!-- <label for="pwd">Password:</label> -->
            <input type="password" id="pwd" name="password" required placeholder="Enter your password......">
        </div>
        <div>
            <!-- <label for="pwd2">Confirm Password:</label> -->
            <input type="password" id="pwd2" name="confirm_password" required  placeholder="Enter your confirm password.....">
        </div>
        <div class="btn">
            <button type="submit" id="submit-signup">Sign Up</button>
        </div>
    </form>
</div>