<div id="stars-group-1"></div>
<div id="stars-group-2"></div>
<div id="stars-group-3"></div>
<div id="stars-group-4"></div>
<h1>Welcome <%= locals.user.name %> 
    <span class="emoji">
        <div class="eyes" id="left-eye"></div> <div class="eyes" id="right-eye"></div>
        <br>
        <div class="smile"></div>
    </span>! 
</h1>

<div class="home-container">
    <section id="feed-posts">
        <i><h2 class="animated fadeInDown"><i class="fas fa-newspaper" style="margin-right: 20px;"></i>Latest Feeds</h2></i>
        <div id="posts-list-container">
            <ul>
             
                <% for(i of posts) { %>
                    <%- include('_post') -%>
                                
                <% } %>

            </ul>
        </div>
    </section>
    <%- include("_chat"); %>
   
</div>