<link rel="stylesheet" href="/css/forgetPassword.css">

<h1 class="heading">S.k.y.i.n.y.o.u</h1>
<div id="confirm-account-heading">
    <% if(title=="Skyinyou | New Password"){ %>
       <span> Please enter your new password!</span>
    <% } else if(title=="Skyinyou | Forget Password"){%>
        <span>For resetting your password, please enter the registered Email ID. Thank you!</span>
    <% } else { %>
        <span>Buzz the button and get lost into the excitement!!</span>
    <% } %>
</div>

<form action="/users/newaccount/<%= acessToken %>" method="post" id="new-account-form">
        <button type="submit" class="hvr-buzz-out">
                Verification
        </button>
</form>
