<link rel="stylesheet" href="/css/forgetPassword.css">

<%- include("_forget_password_partial.ejs"); %>

<% if(title=="Skyinyou | Forget Password") {%>
<form action="/users/reset-password" method="post" class="forget-email-password">
    <input type="email" placeholder="Enter your email" required name="email" id="email">
    <br><br>
    <button type="submit" class="hvr-icon-fade">
        Send the Link
        <i class="fas fa-check hvr-icon"></i>
    </button>
</form>
<% } else {%>
    <form action="/users/reset-email-confirm/<%= user._id%>" method="post">
        <input type="email" placeholder="Enter new @" required name="email" id="email">
        <br><br>
        <button type="submit" class="hvr-icon-fade">
            Confirm
            <i class="fas fa-check hvr-icon"></i>
        </button>
    </form>
<% } %>