<link rel="stylesheet" href="/css/forgetPassword.css">

<h1 class="heading">S.o.c.i.a.l.e.n.d.s</h1>
<marquee direction="left" loop="" scrollamount="12">
    For resetting your password, please enter the registered Email ID. Thank you!
</marquee>

<form action="/users/reset-password" method="post">
    <input type="email" placeholder="Enter your email" required name="email">
    <br><br>
    <button type="submit" class="hvr-icon-fade">
        Send the Link
        <i class="fas fa-check hvr-icon"></i>
    </button>
</form>