<h1> This is my home </h1>

<section id="feed-posts">
    <h4>Posts</h4>

    <form id="new-post-form" method="post" action="/users/create-post">
        <textarea name="content" id="new-post-content" required cols="30" rows="3" placeholder="Type here..."></textarea>
        <br>
        <button type="submit">Post</button>
    </form>

</section>
    

