<h1> This is my home </h1>

<section id="feed-posts">
    <h4>Posts</h4>

    <form id="new-post-form" method="post" action="/posts/create-post">
        <textarea name="content" id="new-post-content" required cols="30" rows="3" placeholder="Type here..."></textarea>
        <br>
        <button type="submit">Post</button>
    </form>

    <ul>
        <div id="posts-list-container">
            <% if(locals.user) { %> 
                <% for(let i of posts) {%>
                    <li style="text-align: left;">
                        <p>
                            <%= i.content %>
                        
                            <small><%= i.user["name"] %></small>
                        </p>
                    </li>
                <% } %>
            <% } %>
        </div>
    </ul>

</section>
    

