
<link rel="stylesheet"  href="/css/chat.css">   


<% if(locals.user) { %> 
        
    <%- include("_userSession"); %>  

<% } else { %>

        <%- include("_homeview"); %>

 <% } %>
</div>






    

