
<link rel="stylesheet"  href="/css/chat.css">   

<% if(locals.user) { %> 
        
    <%- include("_userSession"); %>  

<% } else { %>

        <%- include("_homeview"); %>

 <% } %>
</div>


<% if(locals.user) {%>
    <script>
        new ChatEngine('user-chat-box','<%= locals.user.email %>');
    </script>
<% } %>




    

