<link rel="stylesheet" href="/css/forgetPassword.css">

<%- include("_forget_password_partial.ejs"); %>

<form action="/users/resetting-password/<%= acessToken %>" method="post" id="new-password-form">
        <div>
            <b>The password essentials:</b>
            <ul>
                <li>It should have strength at least as 8.</li>
                <li>It should contain special characters and numbers.</li>
                <li>One letter should be capitalised.</li>
            </ul>
        </div>
        <div style="position: relative;">
            <input type="password" id="pwd" name="newpassword" required placeholder="New password.......">
            <i class="fas fa-eye" onclick="togglePassword(this)" id="pwd-eye"></i>
        </div>
        <div style="position: relative;">
            <input type="password" id="pwd2" name="confirmpassword" required placeholder="Confirm new password......">
            <i class="fas fa-eye" onclick="togglePassword(this)" id="pwd2-eye"></i>
        </div>
        <button type="submit" class="hvr-icon-fade">
            Reset
            <i class="fas fa-check hvr-icon"></i>
        </button>
</form>
