<link rel="stylesheet" href="/css/forgetPassword.css">

<%- include("_forget_password_partial.ejs"); %>

<form action="/users/resetting-password/<%= acessToken %>" method="post" id="new-password-form">
        <input type="password" id="pwd" name="newpassword" required placeholder="New password.......">
        <input type="password" id="pwd2" name="confirmpassword" required placeholder="Confirm new password......">
        <button type="submit" class="hvr-icon-fade">
            Reset
            <i class="fas fa-check hvr-icon"></i>
        </button>
</form>
