<link rel="stylesheet"  href="<%= assetPath('css/signUp.css') %>">
<h1>Reset password</h1>
<form action="/users/resetting-password/<%= acessToken %>" method="post">
    <div>
        <label for="newpassword">New password:</label>
        <input type="password" id="newpassword" name="newpassword" required>
    </div>
    <div>
        <label for="pwd2">Confirm password:</label>
        <input type="password" id="pwd2" name="confirmpassword" required>
    </div>
    <div class="btn">
        <button type="submit">Reset</button>
    </div>
</form>
<p>