<div class="home-container" style="margin-top: 80px;">
    <section id="feed-posts">
        <div id="posts-list-container">
            <ul>
                <%- include('_post') -%>
            </ul>
        </div>
    </section>
    <!-- <%- include("_chat"); %> -->
   
</div>