
<div>

    <p>
        Hi <%= post.user.name %>,
    </p>
    <br>
    <p>Your post <strong><%=  post.content %></strong> just got published on Skyinyou.</p>
    <br>
    <p>Thanks for being an active member!</p>
    <br>
    <p>With best regards,<br>
        Skyinyou Team <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png" style="width: 40px;">
    </p>

</div>