<div>

    <p>
        Hi <%= post.user.name %>!
    </p>
    <br>
    <br>
    <p>Your post <strong><%=  post.content %></strong> just got published on Socialends.</p>
    <br>
    <br>
    <p>Thank you for being an active member!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team

</div>