<div>

    <p>
        Hi <%= post.name %>!
    </p>
    <br>
    <br>
    <p>Your post <strong><%=  post.content %></strong> has a new comment <strong><%= comment.content%></strong> from <strong><%= comment.user.name %></strong> on Socialends.</p>
    <br>
    <br>
    <p>Thank you for being an active member!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team

</div>