<head>
    <style>
        img{
            width: 28px;
            height: 23px;
        }
        #sign-p > span{
            
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }
        #sign-p >span span{
            margin-top: 4px;
        }

    </style>
</head>

<div>
    <p>
        Hi <%= newpassword.user.name %>,
    </p>
    <br> 
    <p>Here's is your link for the password reset: </p>
    <a href="http://localhost:8000/users/resetting-password/<%= newpassword.acessToken %>">New Password</a>
    <p>You can only use this link once. If you need to reset again, then apply for "Forget Password" at our <strong>Sign In</strong> again.</p>
    <br>
    <p><strong>Don't share this link for security purposes.</strong></p>
    <br>
    <p>Thanks for being an active member!</p>
    <br>
    <p id="sign-p">With best regards,<br>
       <span> <span>Skyinyou Team</span> <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png"></span>
    </p>
</div>