<div>
    <p>
        Hi <%= newpassword.user.name %>
    </p>
    <br> 
    <p>Here's is your link for the password reset: </p>
    <a href="localhost:8000/users/resetting-password/<%= newpassword.acessToken %>">localhost:8000/users/resetting-password/<%= newpassword.acessToken %></a>
    <p>You can only use this link once. If you need to reset again, then apply for "Forget Password" at our <strong>Sign In</strong> again.</p>
    <br>
    <p>Thank you for being an active member!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team
</div>