<div>
    <p>
        Hi <%= newpassword.user.name %>
    </p>
    <br> <br>
    <p>Here's is your link for the password reset: </p>
    <br>
    <br>
    <a href="localhost:8000/users/resetting-password/<%= newpassword.acessToken %>">localhost:8000/users/resetting-password/<%= newpassword.acessToken %></a>
    <br>
    <br>
    <p>Thanks!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team
</div>