#layout-footer
{
  position: fixed;
  bottom: 0;
  background-color: #29AABD;
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #94C3DD;
  padding: 5px 0px;

    .hvr-bounce-to-left {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
      }
      .hvr-bounce-to-left:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #6BB3C3;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .hvr-bounce-to-left:hover, .hvr-bounce-to-left:focus, .hvr-bounce-to-left:active {
        color: white;
      }
      .hvr-bounce-to-left:hover:before, .hvr-bounce-to-left:focus:before, .hvr-bounce-to-left:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      }
    #layout-title
    {
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 1.4rem;
    }

    div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        height: 40px;

        ul
        {
            margin: 0;

            li
            {
                margin-right: 20px;
                list-style: none;
                display: inline-block;

                a
                {
                    text-decoration: none;
                    color: white;
                    transition: border-bottom 1s;
                }
               
            }
        }
        
    }
}