#layout-header
{
    box-shadow: 0px 0px 10px 0px #94C3DD;
    position: absolute;
    top: 0;
    background-color: #29AABD;
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 30px;
    box-sizing: border-box;

    @-webkit-keyframes hvr-icon-sink-away {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
      }
    }
    @keyframes hvr-icon-sink-away {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
      }
    }

    .hvr-icon-sink-away {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .hvr-icon-sink-away .hvr-icon {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .hvr-icon-sink-away:hover .hvr-icon, .hvr-icon-sink-away:focus .hvr-icon, .hvr-icon-sink-away:active .hvr-icon {
      -webkit-animation-name: hvr-icon-sink-away;
      animation-name: hvr-icon-sink-away;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    .hvr-grow-shadow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
      }
      .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      
      .hvr-icon-forward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
      }
      .hvr-icon-forward .hvr-icon {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition-duration: 0.1s;
        transition-duration: 0.1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
      }

    #layout-title
    {
        font-weight: bolder;
        font-family: sans-serif;
        font-size: 22.4px;
        a
        {
            color: white;
            text-decoration: none;
            
        }
        
    }

    div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19.2px;
        height: 40px;

        
    }

    ul
    {
        margin-top: 10px !important;
        text-align: center;
        padding: 0;
        li
        {
            display: inline-block;
            list-style: none;
            margin-right: 20px;
            position: relative;

            img{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              position: absolute;
              left: -35px;
              top: 0px;
          
            }

            img:hover
            {
              filter: drop-shadow(1px 3px 5px #ABDEE5);
              
            }

            a
            {
                text-decoration: none;
                color: white;

            }

            #userName
            {
              position: relative;
              transition: border-bottom,opacity 1s ease-in-out;
              top: 1.2px;
            }
            #userName:hover
            {
              opacity: 0.7;
            }
                
        }
        
    }
}

@media screen and (max-width:550px)
{
  #layout-header
  {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    .userprofilelink{
      margin-left: 11%;
      margin-bottom: 12px;
    }

  }
}

@media (max-width:375px)
{
  #layout-header
  {
    .userprofilelink{
      margin-top: 10px;
      margin-left: 13.5%;
    }
  }
}

@media screen and (max-width:330px)
{
  #layout-header
  {
    justify-content: center;

   

    
    ul{
      text-align: center;
    }
  }
}