.border-images
{
    display: flex;
    position: absolute;
    top: 76px;

    img
    {
        height: 25px;
        width: 25px;
    }
}

#right-side
{
    right:0px
}

h1
{
    text-align: center;
    margin: 65px 0px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.65rem;

    .emoji
    {
        display: inline-block;
        height: 35px;
        width: 35px;
        position: relative;
        border: 2px solid;
        border-radius: 50%;
        

        .eyes
        {
            border-radius: 50%;
            height: 6px;
            width: 6px;
            background-color: lavender;
            position: absolute;
            top: 4px;
        }
        #left-eye
        {
            left:8px;
        }
        #right-eye
        {
            right: 8px;
            animation:wink 2s ease-in-out 1;
        }
        .smile
        {
            width: 17px;
            height: 9px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            border: 2px solid lavender;
            border-top: 0;
            position: absolute;
            top: 50%;
            left: 19%;
        }
    }

   

    @keyframes wink
    {
        0%
        {
            top:4px;
            border-radius: 50%;
            height: 6px;
            width: 6px;
            opacity: 1;
        }
        25%
        {
            top:4px;
            border-radius: 40%;
            height: 4px;
            width: 6px;
            opacity: 0.6;
        }
        50%
        {
            top:5px;
            border-radius: 25%;
            width: 6.5px;
            height: 2px;
            opacity: 0;
        }
        100%
        {
                top:6px;
                border-radius: 0;
                width: 7px;
                height: 0;
                background-color: none;
                border-top: 3px solid lavender;
            
        }
        
    }
}

h1:hover
{
    #right-eye
    {
        top:6px;
        border-radius: 0;
        width: 7px;
        height: 0;
        background-color: none;
        border-top: 3px solid lavender;
    }
}

.home-container
{
    display: flex;

    #feed-posts
    {
        width: 70%;
        height: auto;
        text-align: center;
        border-right: 1px solid lightgrey;
        height: 100%;
    }
    #user-friends
    {
        width:30%;
        text-align: center;

       #friends,#all-users
       {
           height: auto;
           border-bottom: 1px solid lightgrey;
           margin-bottom: 30px;
       }
    }
}

.homepage-without-login
{
    margin-top: 60px;
    margin-bottom: 70px;
    height: auto;
    p
    {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .display-area
    {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width:98%;
        height:auto;
       
        > div
        {
            width:49.8%;
            height: 500px;
           
        }

        @media screen and (max-width:700px)
        {
            >div
            {
                width:100%;
                margin: 10px;
                
            }

            .display-images
            {
                height: 300px;
            }
        }

        .display-images
        {
            display: flex;
            justify-content: space-evenly;
            position: relative;

            img
            {
                width: 32.4%;
                height: 100%;
                cursor: pointer;
                position: absolute;
            }

            img:nth-child(1){
                height:inherit;
                top: 0;
                left: 0;
                z-index: -1;
                box-shadow: 0px 0px 5px 3px #2D3757;
                animation: RFL 20s linear infinite;
            }
            
            img:nth-child(2){
                height: inherit;
                top: 0;
                left: 30%;
                z-index: 1;
                box-shadow: 0px 0px 5px 3px #2D3757;
                animation: LRF 20s linear infinite;
            }
            
            img:nth-child(3){
                height: inherit;
                top: 0;
                left: 90%;
                z-index: 0;
                box-shadow: 0px 0px 5px 3px #2D3757;
                animation: FLR 20s linear infinite;
            }
            
            @keyframes RFL{
                0%{height: 100%; top: 0px; left: 0; z-index: -1;}
                33%{height: 100%; top: 0px; left: 68%; z-index: 0;}
                66%{height: 100%; top: 0; left: 45%; z-index: 1;}
                100%{height: 100%; top: 0px; left: 0; z-index: -1;}
            }
            
            @keyframes LRF{
                0%{height: 100%; top: 0; left: 45%; z-index: 1;}
                33%{height: 100%; top: 0px; left: 0; z-index: -1;}
                66%{height: 100%; top: 0px; left: 68%; z-index: 0;}
                100%{height: 100%; top: 0; left: 45%; z-index: 1;}
            }
            
            @keyframes FLR{
                0%{height: 100%; top: 0px; left: 68%; z-index: 0;}
                33%{height: 100%; top: 0; left: 45%; z-index: 1;}
                66%{height: 100%; top: 0px; left: 0; z-index: -1;}
                100%{height:100%; top: 0px; left: 68%; z-index: 0;}
            }
            
        }

        .display-signUp-form
        {
            background: repeating-linear-gradient(90deg, #6BB5B3,#12627D 108px);
            color:ghostwhite;
            border-radius: 25px;
            font-family: serif;
            p
            {
                margin-left: 25px;
                font-size: 1.75rem;
                text-decoration: underline;

                .acc-icon
                {
                    margin-right: 10px;   
                    font-weight: bolder;
                }
            }
            form
            {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width:65%;
                margin:0px auto 45px;
                height: auto;
                
                >div
                {
                    margin: 10px;
                    width: 95%;
                    height: auto;
                    // /* border: 1px solid black; */
                    display: flex;
                    justify-content: space-between;
                    input
                    {
                        background-color: transparent;
                        border: none;
                        height: 35px;
                        border-bottom: 2px dashed darkgray;
                        width:100%;
                        color: ghostwhite;
                    }
                    input::placeholder
                    {
                        color:ghostwhite;
                    }
                    input:focus
                    {
                        outline:none;
                    }
                    input:-webkit-autofill {
                        transition: background-color 5000s ease-in-out 0s;
                        -webkit-text-fill-color:ghostwhite;
                    }
                   
                }

                .btn
                {
                    justify-content: center !important;
                    height: 45px;
                    width: 100px;
                    border-radius: 20px;
                    margin-top: 25px;
                    button
                    {
                        color:white;
                        border-radius: inherit;
                        background-color:transparent;
                        border:3px solid lightgrey;
                        cursor: pointer;
                        width: 100%;
                        font-size: 1.2rem;
                    }
                    button:hover
                    {
                        background-color: #A7C8BD;
                    }
                    button:focus
                    {
                        outline: none;
                    }
                
                }

               
            }  
            
            .other-signins
            {
                margin:0 auto 30px;
                width: 60%;
                height: 68px;
                display: flex;
                justify-content: center;
                align-items: center;

                >a
                {
                    width: 44%;
                    height: 75%;
                    margin: 10px;
                    border: 3px solid lightgray;
                    border-radius: 20px;
                    /* padding-top: 5px; */
                    text-align: center;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    font-size: 1.1rem;
                    align-items: center;
                    padding: 10px;
                    color: inherit;
                    text-decoration: none;

                   
                }

                .google-signin
                {
                    border-color: #18A05E;
                    background: #008686;
                    img
                    {
                        width:30px;
                    }
                }
                .google-signin:hover
                {
                    box-shadow: 0px 0px 7px 0px #008686;
                }
                .forget-password
                {
                    border-color: #358b94;
                    background: #1d6067;
                }
                .forget-password:hover
                {
                    box-shadow: 0px 0px 7px 0px #358b94;
                }
            }

       

        }

        

                

                

    }
}

.bckgd-dark
{
    background-color: #6aa6a1 !important;
}