.home-container
{
    display: flex;

    #feed-posts
    {
        width: 70%;
        height: auto;
        text-align: center;
        border-right: 1px solid lightgrey;
        height: 100%;
    }
    #user-friends
    {
        width:30%;
        text-align: center;

       #friends,#all-users
       {
           height: auto;
           border-bottom: 1px solid lightgrey;
           margin-bottom: 30px;
       }
    }
}

.homepage-without-login
{
    margin-top: 60px;
    margin-bottom: 70px;
    height: auto;
    p
    {
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 40px;
    }

    .display-area
    {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width:98%;
        height:auto;
       
        > div
        {
            width:49.8%;
            height: 500px;
           
        }

        .display-images
        {
            display: flex;
            justify-content: space-evenly;
            position: relative;

            img
            {
                width: 32.4%;
                height: 100%;
                cursor: pointer;
                position: absolute;
            }

            img:nth-child(1){
                height:inherit;
                top: 0;
                left: 0;
                z-index: -1;
                box-shadow: 0px 0px 5px 3px #2D3757;
                animation: RFL 20s linear infinite;
            }
            
            img:nth-child(2){
                height: inherit;
                top: 0;
                left: 30%;
                z-index: 1;
                box-shadow: 0px 0px 5px 3px #2D3757;
                animation: LRF 20s linear infinite;
            }
            
            img:nth-child(3){
                height: inherit;
                top: 0;
                left: 90%;
                z-index: 0;
                box-shadow: 0px 0px 5px 3px #2D3757;
                animation: FLR 20s linear infinite;
            }
            
            @keyframes RFL{
                0%{height: 100%; top: 0px; left: 0; z-index: -1;}
                33%{height: 100%; top: 0px; left: 68%; z-index: 0;}
                66%{height: 100%; top: 0; left: 45%; z-index: 1;}
                100%{height: 100%; top: 0px; left: 0; z-index: -1;}
            }
            
            @keyframes LRF{
                0%{height: 100%; top: 0; left: 45%; z-index: 1;}
                33%{height: 100%; top: 0px; left: 0; z-index: -1;}
                66%{height: 100%; top: 0px; left: 68%; z-index: 0;}
                100%{height: 100%; top: 0; left: 45%; z-index: 1;}
            }
            
            @keyframes FLR{
                0%{height: 100%; top: 0px; left: 68%; z-index: 0;}
                33%{height: 100%; top: 0; left: 45%; z-index: 1;}
                66%{height: 100%; top: 0px; left: 0; z-index: -1;}
                100%{height:100%; top: 0px; left: 68%; z-index: 0;}
            }
            
        }

        .display-signUp-form
        {
            background: repeating-linear-gradient(90deg, #6BB5B3,#12627D 108px);
            color:ghostwhite;
            border-radius: 25px;
            font-family: serif;
            p
            {
                margin-left: 25px;
                font-size: 1.75rem;
                text-decoration: underline;

                .acc-icon
                {
                    margin-right: 10px;   
                    font-weight: bolder;
                }
            }
            form
            {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                width:65%;
                margin:0px auto 45px;
                height: auto;
                
                >div
                {
                    margin: 10px;
                    width: 95%;
                    height: auto;
                    // /* border: 1px solid black; */
                    display: flex;
                    justify-content: space-between;
                    input
                    {
                        background-color: transparent;
                        border: none;
                        height: 35px;
                        border-bottom: 2px solid darkgray;
                        width:100%;
                        color: ghostwhite;
                    }
                    input::placeholder
                    {
                        color:ghostwhite;
                    }
                    input:focus
                    {
                        outline:none;
                    }

                   
                }

                .btn
                {
                    justify-content: center !important;
                    height: 45px;
                    width: 100px;
                    border-radius: 20px;
                    margin-top: 25px;
                    button
                    {
                        color:white;
                        border-radius: inherit;
                        background-color:transparent;
                        border:3px solid lightgrey;
                        cursor: pointer;
                        width: 100%;
                        font-size: 1.2rem;
                    }
                    button:hover
                    {
                        background-color: #A7C8BD;
                    }
                
                }

               
            }  
            
            .other-signins
            {
                margin:0 auto 30px;
                width: 60%;
                height: 68px;
                display: flex;
                justify-content: center;
                align-items: center;

                >div
                {
                    width: 44%;
                    height: 75%;
                    margin: 10px;
                    border: 3px solid lightgray;
                    border-radius: 20px;
                    /* padding-top: 5px; */
                    text-align: center;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: center;
                    font-size: 1.1rem;
                    align-items: center;
                    padding: 10px;

                    a
                    {
                        color: inherit;
                        text-decoration: none;
                    }
                }

                .google-signin
                {
                    border-color: #18A05E;
                    background: #008686;
                    img
                    {
                        width:30px;
                    }
                }
                .google-signin:hover
                {
                    box-shadow: 0px 0px 7px 0px #008686;
                }
                .forget-password
                {
                    border-color: #358b94;
                    background: #1d6067;
                }
                .forget-password:hover
                {
                    box-shadow: 0px 0px 7px 0px #358b94;
                }
            }

       

        }

        

                

                

    }
}

.bckgd-dark
{
    background-color: #6aa6a1 !important;
}