body{
    margin: 45px 0px 0px 0px;
    height:auto;
    color:white;
    background: #013B50;

    #notification
    {
        margin-top: 75px;
    }

    #layout-main
    {
        margin-bottom: 50px;
        height: 100%;

        .homepage-without-login
        {
            height: 100%;
            p
            {
                font-size: 1.6rem;
                text-align: center;
                margin-top: 60px;
            }
        }
    }

    
}