body{
    margin: 45px 0px 0px 0px !important;
    height:auto;
    color:white !important;
    background: #013B50 !important;

    #notification
    {
        margin-top: 75px;
    }

    #layout-main
    {
        
        min-height: 90vh;

        
    }

    
}