.like-box
{
    margin-bottom: 10px;

    .count
    {
        margin-right: 5px;
    }

    .like-thumbs
    {
        color:#15A8CD;
        cursor: pointer;
    }

    .like-thumbs:hover
    {
        color: #0E7088;
    }


}

.content
{
    margin-bottom: 20px;
    margin-left: 40px;

    .post-comments-list
    {
        ul
        {
              padding-left: 15px;
            
        }
    }
}

