.noty-heading{
    font-size: 25px;
    text-align: center;
    font-family: Pacifico;
    margin-top: 120px;
    margin-bottom: 45px;
}
.noty-list{
    margin:0px auto 50px;
    width: 48%;
    padding: 0;
    list-style: none;
    max-height: 700px;
    overflow: auto;
    .noty-list-item
    {
        width: 100%;
        margin:auto;
        border-bottom: 1px solid whitesmoke;
        padding: 10px 15px;
        min-height: 85px;
        display: flex;
        align-items: center;
        color:whitesmoke;
        background: slateblue;
        img,.concealed-image{
            width: 55px;
            height: 55px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .concealed-image
        {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Pacifico', cursive;
            color: mistyrose;
        }
        b{
            margin-right: 5px;
        }
    }
    .noty-list-item:hover,.noty-list-item:focus,.noty-list-item:active{
        text-decoration: none;
    }
    a:visited
    {
        background:#5141b3;
    }
}
// .noty-list::-webkit-scrollbar {
//     display: none;
// }

@media (max-width:1000px)
{
    .noty-list
    {
        width: 60% !important;
    }
}


@media (max-width:750px)
{
    .noty-list
    {
        width: 75% !important;
    }
}

@media (max-width:575px)
{
    .noty-heading
    {
        margin-top: 150px !important;
    }
    .noty-list
    {
        width: 80% !important;
    }
}

@media (max-width:425px)
{
    .noty-heading
    {
        margin-top: 200px !important;
    }
    .noty-list
    {
        width: 90% !important;
    }
}

@media (max-width:365px)
{
    .noty-heading
    {
        margin-top: 265px !important;
    }
}