.commentReplyClass
{
    color: black;
    border-radius: 20px;
    width: 80%;
    margin: 75px auto 70px;
    background: linear-gradient(to top, #13547a, #4daea3);
    border: 2px dotted forestgreen;
    padding: 20px 20px 40px;
    height: auto;
    min-height: 300px;
    .reply-header
    {
        margin-bottom: 25px;
    }
    .reply-title
    {
        font-variant: all-small-caps;
        color: #0f6b6b;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px !important;
        font-weight: bolder !important;
        text-shadow: 2px 2px 2px lightseagreen;
        p{
            margin-bottom: 15px;
        }
        a{
            
            img{
                    width: 100px;
                    height: 100px;
                    border-radius: 20%;
                }
            img:hover
            {
                filter: contrast(1.2);
            }
            span{
                font-family: serif;
                font-variant: none;
                font-size: 22px;
                font-weight: normal;
                color: silver;
                display: inline-block;
                margin-right: 5px;
                text-shadow: none;
                position: relative;
                display: inline-block;
                transition: all 0.4s ease-in-out;
            }
            span:hover{
                text-decoration: underline;
            }
            
            .author-tag
            {
                width: 60px;
                height: 28px;
                padding: 5px;
                font-size: 16px;
                text-align: center;
                background: #5ca3be;
                color: white;
                margin-left: 6px;
            }
            .author-tag:hover{
                text-decoration: none;
            }
        }
    }
    a:hover
    {
        text-decoration: none;
    }
    .reply-body
    {
        max-height: 400px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .commentReplyContent
        {
            width: 90%;
            margin-bottom: 15px;
            padding: 8px;
            font-family: cursive;
            height: auto;
            color: #1a3c3a;
            font-size: 20px;
        }

        form{
                width: 65%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;

                input
                {
                    width: 75%;
                    border: none;
                    border-bottom: 1.5px solid powderblue;
                    color: darkslategrey;
                    background: transparent;
                }
                input::placeholder
                {
                    font-style: italic;
                    color: darkslategrey;
                }
                input:-webkit-autofill {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-text-fill-color:darkslategrey;
                }
                input:focus,button:focus
                {
                    outline: none;
                }
                button{
                    height: 45px;
                    width: 18%;
                    background: transparent;
                    border: 1.5px solid #DCA8AB;
                    padding: 6px;
                    border-radius: 22px;
                    color: floralwhite;
                    transition: all 0.4s ease-in;
                }
                button:hover
                {
                    background: #47a59f;
                }
            }
        ul{
            width: 65%;
            height: auto;
            min-height: 100px;
            list-style: none;
            overflow: auto;
            
            li
            {
                color: slategray;
                min-height: 65px;
                margin-bottom: 20px;
                border-radius: 25px;
                padding: 5px;
                background-color: #eafafa;
                position: relative;

                .bars
                {
                    .dropdown-toggle
                    {
                        position: absolute;
                        right: 12px;
                        cursor: pointer;
                    }
                    .drop-design
                    {
                        position: absolute;
                        left: 362px;
                        height: auto;
                        top: 16px;
                        min-width: 80px;
                        font-size: 12.5px;
                        box-sizing: border-box;
                        background: #188984;
                        color: #c3cec7;
                        align-items: center;
                        padding: 0;

                        .dropdown-item
                        {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid;
                            width: 100%;
                            padding:3px;
                            margin-bottom: 2px;
                            cursor: pointer;

                            i{
                                margin-top: 2px;
                            }
                        }
                        .dropdown-item:last-child
                        {
                            border: none;
                            margin-bottom: 0;
                        }
                        .dropdown-item:hover
                        {
                            background: #1f7672;
                        }
                    }
                }

                .modal-dialog
                {
                    width: 350px;
                    margin-top: 20%;

                    button:focus{
                        outline: none;
                    }
                }

                .reply-author-tag
                {
                    position: absolute;
                    top: 0;
                    padding: 5px;
                    left: 5px;
                    height: 25px;
                                                    

                    img{
                        height:20px;
                        width:20px;
                        border-radius:15px;
                    }
                    span{
                        font-size: 11.5px;
                        color: #244582;
                        font-variant-caps: petite-caps;
                        font-weight: 600;
                    }
                    .Author-tag
                    {
                        background: #73bbbc;
                        color: white;
                        margin-left: 5px;
                        font-variant-caps: normal;
                        padding: 3px;
                    }
                }
                .reply-content{
                                                            
                    margin-top: 32px;
                    padding-left: 20px;
                    width: 95%;
                    margin-bottom: 5px;
                    color: dimgrey;
                    height: auto;
                }
            }
            li::before
            {
                content: "";
                position: absolute;
                bottom: -5px;
                right: 17px;
                border-top: 7px solid #eafafa;
                border-right: 4px solid #eafafa;
                border-left: 9px solid transparent;
            }
        }
        ul::-webkit-scrollbar {
            display: none;
        }
    }
}
