.commentReplyClass
{
    color: black;
    border-radius: 20px;
    width: 80%;
    margin: 75px auto 70px;
    background: linear-gradient(to top, #13547a, #4daea3);
    border: 2px dotted forestgreen;
    padding: 20px 20px 40px;
    height: auto;
    min-height: 300px;
    position: relative;

    .comment-like-box{
        position: absolute;
        right: 15px;
        font-size: 20px;
        color:#00388b;
        cursor: pointer;

        a{
            color: #145556;
        }

        a:hover{
            color:#00388b;
        }
        span:hover{
            color:#145556;
        }
        
        .commentlikemodal
        {
            
            color: black;
        

            .modal-dialog
            {
                max-height:400px;
                .modal-content
                {
                    max-height:inherit;
                    .modal-title
                    {
                        text-align: center;
                        span
                        {
                            display: block;
                            margin-top: 5px;
                            color: mediumvioletred;
                        }
                    }
                    .modal-body
                    {
                        height: auto;
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        max-height:inherit;
                    
                    }
                }

            }
        }
                    
        .comment-like-username-list
        {
            width: 90%;
            padding-left: 0;
            max-height: 285px;
            overflow-y: auto;
            font-size: 15px;

            li
            {
                
                min-height: 30px;
                width: 95%;
                display: flex;
                justify-content: space-between;
                text-align: right;
                align-items: center;
                margin: 2px auto;

                a{
                    color: #006881;
                    img{
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                    span{
        
                        font-variant: petite-caps;
                    }
                    span:hover
                    {
                        font-weight: bold;
                    }
                    img:hover
                    {
                        filter: brightness(0.8);
                    }
                }
            }

            li::after
            {
                content: '\f21e';
                font-weight: 900;
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                color:#BF0A30;
            }

        }
        .comment-like-username-list::-webkit-scrollbar {
            display: none;
        }
    }

    .comment-deletion{
        position: absolute;
        font-size: 17px;
        cursor: pointer;
        color: ghostwhite;

        span:hover{
            color: #90212a;
        }

        .modal-dialog{
            width: 320px;
            margin: 175px auto 0px;
            text-align: center;
            h2{
                font-family: 'Gill Sans';
                color: #5E99A2;
                font-size: 27.2px !important;
            }

            .modal-content{
                .modal-body{
                    font-size: 14px;
                    color: #8F9BA8;
                    width: 87%;
                    margin: auto;
                }
                .modal-footer{
                    color:#7b6b6b;
                    button:focus{
                        outline: none;
                    }
                }
            }
        }
    }

    .comment-update-tag
    {
        position: absolute;
        left: 49px;
        font-size: 18px;
        top: 19px;

        a{
            color: #97d4cb;
        }
        a:hover{
            color: turquoise;
        }
    }

    .comment-editedTag
    {
        position: absolute;
        left: 81px;
        font-size: 15px;
        color: powderblue;
        font-variant-caps: unicase;
    }


    .reply-header
    {
        margin-bottom: 25px;
    }
    .reply-title
    {
        font-variant: all-small-caps;
        color: #0f6b6b;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px !important;
        font-weight: bolder !important;
        text-shadow: 2px 2px 2px lightseagreen;
        p{
            margin-bottom: 15px;
            text-align: center;
        }
        a{
            
            img{
                    width: 100px;
                    height: 100px;
                    border-radius: 20%;
                }
            img:hover
            {
                filter: contrast(1.2);
            }
            span{
                font-family: serif;
                font-variant: none;
                font-size: 22px;
                font-weight: normal;
                color: silver;
                display: inline-block;
                margin-right: 5px;
                text-shadow: none;
                position: relative;
                display: inline-block;
                transition: all 0.4s ease-in-out;
            }
            span:hover{
                text-decoration: underline;
            }
            
            .author-tag
            {
                width: 60px;
                height: 28px;
                padding: 5px;
                font-size: 16px;
                text-align: center;
                background: #5ca3be;
                color: white;
                margin-left: 6px;
            }
            .author-tag:hover{
                text-decoration: none;
            }
        }
    }
    a:hover
    {
        text-decoration: none;
    }
    .reply-body
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        .commentReplyContent
        {
            width: 90%;
            margin-bottom: 25px;
            padding: 8px;
            font-family: monospace;
            height: auto;
            border: 1.5px dashed darkslategray;
            border-left: none;
            border-right: none;
            color:#52c6bf;
            font-size: 20px;
        }

        .comment-update-form{

            border: 1.5px dashed darkslategray;
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            padding: 8px;
            border-left: none;
            color: #52c6bf;
            font-size: 20px;
            height: auto;
            border-right: none;

            textarea
            {
                background: transparent;
                border: 1.5px solid #7cb07c;
                resize: none;
                width: 75%;
                border-radius: 15px;
                padding: 5px 3px 3px 12px;
                font-family: monospace;
            }
            button{
                border: none;
                width: 60px;
                transition: all 0.5s ease-in-out;
                align-self: center;
            }
            textarea:focus,button:focus{
                outline: none;
            }
            textarea::-webkit-scrollbar {
                display: none;
            }
            button:hover{
                background: transparent;
                font-size: x-large;
            }
        }

        form{
                width: 65%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                textarea
                {
                    width: 75%;
                    border: none;
                    border-bottom: 1.5px solid powderblue;
                    color:#1f2628;
                    background: transparent;
                    resize: none;
                }
                textarea::placeholder
                {
                    font-style: italic;
                    color:#1f2628;
                }
                textarea:-webkit-autofill {
                    transition: background-color 5000s ease-in-out 0s;
                    -webkit-text-fill-color:darkslategrey;
                }
                textarea:focus,button:focus
                {
                    outline: none;
                }
                textarea::-webkit-scrollbar {
                    display: none;
                }
                button{
                    height: 45px;
                    width: 18%;
                    background: transparent;
                    border: 1.5px solid #DCA8AB;
                    padding: 6px;
                    border-radius: 22px;
                    color: floralwhite;
                    transition: all 0.4s ease-in;
                }
                button:hover
                {
                    background: #47a59f;
                }
            }
        ul{
            width: 65%;
            height: auto;
            min-height: 50px;
            list-style: none;
            li
            {
                color: slategray;
                min-height: 67px;
                margin-bottom: 20px;
                border-radius: 25px;
                padding: 5px;
                background-color: #eafafa;
                position: relative;

                .commentreply-like-box{
                    position: absolute;
                    left:45%;
                    top: 8px;
                    font-size: 12px;
                    font-weight: 600;
                    cursor: pointer;

                    .commentreplylikemodal
                    {
                        
                        color: black;
                   
                        

                        .modal-dialog
                        {
                            max-height:400px;
                            .modal-content
                            {
                               max-height:inherit;
                                .modal-title
                                {
                                    text-align: center;
                                    span
                                    {
                                        display: block;
                                        margin-top: 5px;
                                        color: mediumvioletred;
                                    }
                                }
                                .modal-body
                                {
                                    height: auto;
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                    max-height: inherit;
                                
                                }
                            }

                        }
                    }
                                
                    .commentreply-like-username-list
                    {
                        width: 90%;
                        padding-left: 0;
                        max-height: 285px;
                        overflow-y: auto;
                        font-size: 15px;

                        li
                        {
                            
                            min-height: 30px;
                            width: 95%;
                            display: flex;
                            justify-content: space-between;
                            text-align: right;
                            align-items: center;
                            margin: 2px auto;
                            background: transparent;

                            a{
                                color: #006881;
                                img{
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 50%;
                                    margin-right: 5px;
                                }
                                span{
                    
                                    font-variant: petite-caps;
                                    font-weight: normal;
                                }
                                span:hover
                                {
                                    font-weight: bold;
                                }
                                img:hover
                                {
                                    filter: brightness(0.8);
                                }
                            }
                        }

                        li::after
                        {
                            content: '\f21e';
                            font-weight: 900;
                            font-family: "Font Awesome 5 Free";
                            display: inline-block;
                            color:#BF0A30;
                        }
                        li:before{
                            display: none;
                        }

                    }
                    .commentreply-like-username-list::-webkit-scrollbar {
                        display: none;
                    }
                }

                .commentreply-like-box:hover{
                    color: black;
                }

                .bars
                {
                    .dropdown-toggle
                    {
                        position: absolute;
                        right: 12px;
                        cursor: pointer;
                    }
                    .drop-design
                    {
                        position: absolute;
                        left: 86%;
                        height: auto;
                        top: 16px;
                        min-width: 80px;
                        font-size: 12.5px;
                        box-sizing: border-box;
                        background: #188984;
                        color: #c3cec7;
                        align-items: center;
                        padding: 0;

                        a{
                            color: #c3cec7;
                        }

                        .dropdown-item
                        {
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid;
                            width: 100%;
                            padding:3px;
                            margin-bottom: 2px;
                            cursor: pointer;

                            
                            i{
                                margin-top: 2px;
                            }
                        }
                        .dropdown-item:last-child
                        {
                            border: none;
                            margin-bottom: 0;
                        }
                        .dropdown-item:hover
                        {
                            background: #1f7672;
                        }
                    }
                }

                .replydeletemodaldialog
                {
                    width: 350px;
                    margin-top: 175px;
                    text-align: center;
                    .modal-title{
                        font-family: 'Gill Sans';
                        color: #5E99A2;
                        font-size: 27.2px !important;
                    }

                    button:focus{
                        outline: none;
                    }
                }

                .reply-author-tag
                {
                    position: absolute;
                    top: 0;
                    padding: 5px;
                    left: 5px;
                    height: 25px;
                                                    

                    img{
                        height:20px;
                        width:20px;
                        border-radius:15px;
                    }
                    span{
                        font-size: 11.5px;
                        color: #244582;
                        font-variant-caps: petite-caps;
                        font-weight: 600;
                    }
                    .Author-tag
                    {
                        background: #73bbbc;
                        color: white;
                        margin-left: 5px;
                        font-variant-caps: normal;
                        padding: 3px;
                    }
                }
                .reply-content{
                                                            
                    margin-top: 32px;
                    padding-left: 20px;
                    width: 95%;
                    margin-bottom: 5px;
                    color: dimgrey;
                    height: auto;
                    position: relative;
                    word-break: break-all;
                    overflow-wrap: break-word;
                    display: flex;
                    text-align: justify;
                    a{
                        width: 25%;
                        display: block;
                        height: auto;
                        word-break: break-word;
                    }
                    
                    .authorarrow{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 30px;
                        margin-right: 6px;

                        .pointarrows{
                            position: absolute;
                            left: 15%;
                            height: 25px;
                            width: 50px;
                            top: 25px;
                            align-self: center;
                            align-items: center;
                            justify-content: space-evenly;
                            display: flex;
                            // background: linear-gradient(45deg, #C8EEDB, #9BE0BD, #48C686, #5ACB92);
                            // background-size: 400% 400%;
                            // animation: gradient 5s ease-in-out infinite;


                            .circle{
                                width: 5px;
                                height: 5px;
                                border-radius: 50%;
                                margin: 1px;
                                background: linear-gradient(45deg, #C8EEDB, #9BE0BD, #48C686, #5ACB92);
                                background-size: 400% 400%;
                                animation: gradient 5s ease-in-out infinite;
                            }
                            .topright{
                                position: absolute;
                                top: 2px;
                                right: 7px;
                            }
                            .topright2{
                                position: absolute;
                                top: -4px;
                                right: 13px;
                            }
                            .bottomright{
                                position: absolute;
                                bottom: 2px;
                                right: 7px;
                            }
                            .bottomright2{
                                position: absolute;
                                bottom: -4px;
                                right: 13px;
                            }

                        }

                        @keyframes gradient {
                            0% {
                                background-position: 0% 50%;
                            }
                            50% {
                                background-position: 100% 50%;
                            }
                            100% {
                                background-position: 0% 50%;
                            }
                        }

                    }
                    
                    .replyreplycontent{
                        width: 70%;
                        height: auto;
                        display: inline-block;
                        word-break: break-word;
                        text-align: justify;
                    
                    }

                    .removetag{
                        position: absolute;
                        top: -23px;
                        font-size: 11px;
                        font-weight: 600;
                        background: #0b516b;
                        padding: 4px;
                        padding-bottom: 1px;
                        border-radius: 6px;
                        color: whitesmoke;
                        overflow-wrap: normal;

                        a{
                            display: inline-block;
                            margin-left: -7px;
                            font-family:'Lucida Grande';
                            color: whitesmoke;
                            width: 100%;
                        }
                        a:hover{
                            color: #ddd0d0;
                        }
                    }

                    .removetag::before{
                        content: "";
                        width: 0;
                        position: relative;
                        height: 0;
                        bottom: -19.5px;
                        left: 43%;
                        border-top: 6px solid #0b516b;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }

                   a:hover{
                       color: #1d8080;;
                   }
                }
                .editedReply{
                    position: absolute;
                    right: 38px;
                    font-size: 11px;
                    top: 6px;
                    color: #bdb7b7;
                    font-weight: 550;
                }
                .reply-update-form{
                    margin-top: 35px;
                    margin-left: 32px;
                    margin-bottom: 10px;
                    min-height: 30px;
                    width: 85%;
                    justify-content: space-between;


                    textarea{
                        width: 85%;
                        resize: none;
                        background: transparent;
                        border: 1px solid lightblue;
                        border-radius: 10px;
                        padding-left: 10px;
                    }
                    textarea:focus,button:focus{
                        outline:none;
                    }
                    textarea::-webkit-scrollbar {
                        display: none;
                    }
                    button{
                        width: 10%;
                        color: thistle;
                        border: none;
                    }
                    button:hover{
                        box-shadow: 0px 0px 3px 1px lightblue;
                        background: transparent;
                    }
                    .reply2button:hover{
                        background: transparent;
                        text-decoration: underline;
                        box-shadow: none;
                    }
                }
                .reply-reply-form{
                    width: 90%;
                    margin: 0;
                    margin-left: 32px;
                    display: flex;
                    flex-direction: column;

                    .div1,.div2{
                        margin-bottom: 0px;
                        display: flex;
                        align-items: center;
                        width: 100%;
                    }
                   
                    input[type="text"]
                    {
                        align-self: center;
                        margin-top: 7px;
                        border: none;
                        font-weight: bold;
                        font-size: 11px;
                        width: auto;
                        background: transparent;
                    }

                    textarea{
                        height: 30px;
                        align-self: center;
                        resize: none;
                        width: 75%;
                        background: none;
                        border: none;
                        border-bottom: 1.2px solid #6565a6;
                        margin-right: 5%;
                    }
                    textarea:focus,button:focus{
                        outline: none;
                    }
                    textarea::-webkit-scrollbar {
                        display: none;
                    }
                    button{
                        background: #95bad9;
                        padding: 0;
                        border: none;
                        height: 30px;
                        width: 15%;
                        align-self: center;
                    }
                    button:hover{
                        background: #26669c;
                    }
                }
            }
            li::before
            {
                content: "";
                position: absolute;
                bottom: -5px;
                right: 17px;
                border-top: 7px solid #eafafa;
                border-right: 4px solid #eafafa;
                border-left: 9px solid transparent;
            }
        }
        ul::-webkit-scrollbar {
            display: none;
        }
    }
}

@media screen and (max-width:830px)
{
    .commentReplyClass{
        width: 92%;
        ul{
            width: 80% !important;
        }
        .commentreplylikemodal,.commentlikemodal
        {
            ul{
                width: 100% !important;
            }
        }
    }
    .comment-reply-form{
        width: 80% !important;
        button{
            width: 24% !important;
        }
       
    }
}


@media screen and (max-width:600px)
{
    .commentReplyClass{
        .reply-header{
            margin-top: 28px;
            
        }
        .commentReplyContent
        {
            width: 100% !important;
        }
        .comment-reply-form
        {
            width: 95% !important;
        }
        .comment-replies-list
        {
            width: 100% !important;
            padding: 0;
        }
    }
}

@media screen and (max-width:549px)
{
    .commentReplyClass{
        margin-top: 68px;
        width: 98%;

        .comment-update-tag{
            top:46px;
            left:14px;
        }
        .comment-editedTag{
            left: 45px;
        }
        .commentreplylikemodal,.commentlikemodal
        {
            padding: 0;
        }
    }
}

@media (max-width:500px)
{
    .commentReplyClass
    {
        margin-top: 120px;

        .comment-reply-form
        {
            button{
                font-size: 12px;
            }
        }
        .dropdown-menu
        {
            left: 78% !important;
        }
    }
}

@media (max-width:370px)
{
    .commentReplyClass
    {
        .reply-header
        {
            margin-top: 50px;
        }
        .dropdown-menu
        {
            left: 70% !important;
        }
    }
}

@media (min-width:320px)
{
    .commentReplyClass{
        .commentreplylikemodal,.commentlikemodal
        {
            .modal-dialog
            {
                width: 320px;
                margin: 30px auto;
              
            }
        }
    }
}

@media (min-width:550px)
{
    .commentReplyClass{
        .commentreplylikemodal,.commentlikemodal
        {
            .modal-dialog
            {
                width: 550px;
                
            }
        }
        .comment-deletion
        {
            .modal-dialog
            {
                width: 400px;
            }
        }
    }
}