form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width:40%;
    margin:0px auto 30px;
    height: auto;
 
}

form 
{
    div
    {
        margin: 10px;
        width: 50%;
        height: auto;
   
        display: flex;
        justify-content: space-between;
    }
}

.btn
{
   
    justify-content: center !important;
    height: 45px;
    width: 100px;
   
}

.btn
{
    button
    {
        cursor: pointer;
        width: 100%;
        font-size: 1.2rem;
    }
}