body
{
    overflow-x: hidden !important;
    background: linear-gradient(to bottom,#243A63,#1D6396, #00A5CF,#E3C9A6,#D89A73) !important;
    @function generate-random-stars ($screen-width, $color, $density){
  
        $h-shadow: random($screen-width);
        $v-shadow: random($screen-width);
        
        $stars: '#{$h-shadow}px #{$v-shadow}px #{$color}';
          @for $i from 2 through $density {
            $h-shadow: random($screen-width);
            $v-shadow: random($screen-width);
          
          $stars: '#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}';
          }
          @return unquote($stars);
      }
      
      @mixin stars-content($screen-width, $color, $density, $speed, $delay) {
          width: 2px;
          height: 2px;
          border-radius: 50%;
          opacity: 1;
          box-shadow: generate-random-stars($screen-width, $color, $density);
          animation-name: glow;
          animation-duration: $speed+s;
          animation-iteration-count:2;
          animation-direction: alternate;
          animation-timing-function: linear;
          animation-delay: $delay+26.5+s;
          
  }

      @keyframes glow{
          0%{
              opacity: 0;
              
          }
          50%{
              opacity: 1;
          }
          100%{
              opacity: 0;
          }

      }
      
      #stars-group-1{
          @include stars-content(1800, #fff, 200, 1, 0);
      }
      
      #stars-group-2{
          @include stars-content(1800, #fff, 200, 1, 0.1);
      }
      
      #stars-group-3{
          @include stars-content(1800, #fff, 200, 1, 0.2);
      }
      
      #stars-group-4{
          @include stars-content(1800, #fff, 200, 1, 0.3);
      }
      
    //   #stars-group-5{
    //       @include stars-content(1800, #fff, 200, 1, 0.4);
    //   }
      
    //   #stars-group-6{
    //       @include stars-content(1800, #fff, 200, 1, 0.5);
    //   }
      z-index: -2;
}

.heading-background{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    color: #cfacd1;
    text-shadow: 2px 2px 2px #1c6b89;
    font-style: italic;
    font-family: Haettenschweiler !important;
    font-weight: 550;
    margin-top: 20px !important;
    
    >div{
        display: flex;
        position: relative;
        height: 100%;
        align-items: center;
        justify-content: center;
        min-width: 410px;
        width:auto;
        word-wrap: break-word;

        .cloud {
            width: 350px; height: 120px;
            
            background: #f2f9fe;
            background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
            background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
            background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
            background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
            background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
            transform:scale(0.2);
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            position: absolute;
            
    
        }
        
        @keyframes move{
            0%{
                left: -48px;
                opacity: 1;
            }
           
            100%{
                left: -200px;
                opacity: 0;
            }
        }
    
        @keyframes move2{
            0%{
                left:16px;
                opacity: 1;
            }
            
            100%{
                left: -200px;
                opacity: 0;
            }
        }
    
        @keyframes move3{
            0%{
                left: 56px;
                opacity: 1;
            }
            
            100%{
                left: -200px;
                opacity: 0;
            }
        }
        @keyframes move4{
            0%{
                left: 101px;
                opacity: 1;
            }
            100%{
                left: -200px;
                opacity: 0;
            }
        }
        @keyframes move5{
            0%{
                left:78px;
                opacity: 1;
            }
         
            100%{
                left: 45%;
                opacity: 0;
            }
        }
        @keyframes move6{
            0%{
                left:65px;
                opacity: 1;
            }
            100%{
                left: 45%;
                opacity: 0;
            }
        }
        @keyframes move7{
            0%{
                left:-11px;
                opacity: 1;
            }
            100%{
                left: 45%;
                opacity: 0;
            }
        }
        @keyframes move8{
            0%{
                left: 131px;
                opacity: 1;
            }
            
            100%{
                left:45%;
                opacity: 0;
            }
        }
        .cloud:after, .cloud:before {
            content: '';
            position: absolute;
            background: linear-gradient(to bottom, white 60%, #d6f0fd);
            z-index: -1
        }
        
        .cloud:after {
            width: 100px; height: 100px;
            top: -50px; left: 50px;
            
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
        }
        
        .cloud:before {
            width: 180px; height: 180px;
            top: -90px; right: 50px;
            
            border-radius: 200px;
            -webkit-border-radius: 200px;
            -moz-border-radius: 200px;
        }
        #first-cloud
        {
            left: -48px;
            top: -28px;
            transform: scale(0.09);
            animation: move 15s 1  ease-in-out forwards;
        }
        #second-cloud
        {
            left: 16px;
            top: 4px;
            transform: scale(0.35);
            animation: move2 20s 1 1.8s ease-in-out forwards;
        }
    
        #third-cloud
        {
            left: 56px;
            top: 23px;
            transform: scale(0.05);
            animation: move3 16s 1 1s ease-in-out forwards;
        }
    
        #four-cloud
        {
            left: 101px;
            top: 0px;
            transform: scale(0.25);
            animation: move4 18s 1 2.0s ease-in-out forwards;
        }
    
        #five-cloud
        {
            left: 78px;
            top: -8px;
            transform: scale(0.2);
            animation: move5 21s 1 0.5s ease-in-out forwards;
        }
    
        #six-cloud
        {
            left: 65px;
            top: -13px;
            transform: scale(0.2);
            animation: move6 14s 1 2s ease-in-out forwards;
        }
    
        #seven-cloud
        {
            left: -11px;
            top: -3px;
            transform: scale(0.38);
            animation: move7 23s 1 2.2s ease-in-out forwards;
        }
    
        #eight-cloud
        {
            left: 131px;
            top: -7px;
            transform: scale(0.15);
            animation: move8 22s 1 2.4s ease-in-out forwards;
        }
    }
    .heading-image
    {
        width: 62px;
        height: 62px;
        border-radius: 32%
    }

      
   
}

.profile-intro
{
    margin: auto;
    display: flex;
    width: 85%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    padding: 0px 20px 20px;
    border: 1px solid black;
    padding: 10px;
    z-index: 100;
    background: inherit;
    flex-wrap: wrap;
    
    >div
    {
        width: 400px;
        height: 350px;
        margin: 15px;
        display: flex;
        border: 1px solid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 115;
        padding: 15px;
        box-sizing: border-box;
    }
    .first
    {
        min-height: 350px;
        height: auto;
        .accordion
        {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card{
                width: 100%;
                .card-body
                {
                    width: 94%;
                    background:linear-gradient(45deg, #302c2c, transparent);
                    padding: 5px 10px;
                    border-radius: 15px 0px 15px 0px;
                    height: auto;
                    min-height: 40px;
                    display: flex;
                    flex-direction: column;
                    p{
                        margin-bottom: 0;
                    }
                }
                button{
                    width: 100%;
                    height: 54px;
                    font-size: 17px;
                    background:#193a57;
                    text-align: left;
                    margin: 0;
                    border: 2px solid #4b94a0;
                    border-radius: 12%;
                    padding-left: 17px;
                    font-family: Haettenschweiler;
                    color:#b0c69a;
                    transition: all 0.5s ease-in-out;
                
                }
                button:focus
                {
                    outline: none;
                }
                button:hover{
                    background:#193a57;
                }
            }
        }
    }
    .middle
    {
        height: auto;
        min-height: 350px;
        width: 350px;
        border: 4px dotted;
        p{
            font-size: 15.5px;
            height: auto;
            width: 95%;
            text-align: justify;
        }
        .profile-name
        {
            font-size: 24px;
            font-family: serif;
            color:#583030;
            text-align: center;
        }
        .profile-about
        {
            margin-top: 15px;
            font-style: italic;
            .about-tag
            {
                display: block;
                margin-bottom: 8px;
                font-family: monospace;
                font-size: 18px;
                margin-left: 6%;
                color: #47478e;
            }
        }
        .editprofile-tag
        {
            background: #ad8264;
            cursor: pointer;
            padding: 2px 8px;
            font-family: courier;
        }
        .add-chat-friend-group{
            width: 65%;
            display: flex;
            flex-direction: column;
            text-align: center;
            a{
                margin: 5px;
                background: seashell;
                padding: 5px;
                border-radius: 20px;
            }
            .add-friend-button
            {
                background: #ba4269;
                width: 150px;
                align-self: center;
                color: thistle;
            }
            .add-friend-button:hover 
            {
                box-shadow: 0px 0px 6px 0.5px #9b2f2f;
            }
            a:hover{
                text-decoration: none;
            }
            .chat-button
            {
                color: #b57569;
                background: navajowhite;
            }
            .chat-button:hover 
            {
                box-shadow: 0px 0px 8px 0px #c04e2c;
            }
        }
    
    img{
        height: 155px;
        width: 155px;
        border-radius: 20%;
        margin-bottom: 10px;
        box-shadow: 0px 2px 8px 0px;
    }

}
    

        .btn
        {
            
            font-size: 36px;
            color: #6c689d;
        }

        .btn:focus
        {
            outline: none;
        }

        .card{
            .card-body{
                    width: 300px;
                    text-align: justify;
                    height: auto;
                    margin: 10px;
                    p{
                        display: block;
                        margin: 2px;
                        color: white;
                    
                    }
                   
            }
            #collapseOne p:hover{
                text-decoration: underline;
            }

        }
    
}

.modal-dialog
{
    max-height: 400px;
    color: black;
    min-height: 200px;
    overflow: hidden;

    .modal-content
    {
        height: 100%;
        .modal-header
        {
            height: 15%;
            width: 100.5%;
            color: antiquewhite;
            text-align: center;
            font-family: serif;
            background: #2e2727;
            .modal-title
            {
                font-family: 'Courier New';
                font-size: 27px;
            }
        }
        .modal-body
        {
            max-height: 350px;
            min-height: 120px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: center;
            ul
            {
                width: 92%;
                box-sizing: border-box;
                list-style: none;
                padding: 0;
                li{
                    margin: 10px auto;
                    min-height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    img{
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        margin-right: 4px;
                    }
                    img:hover
                    {
                        filter: contrast(1.5);
                    }
                    a{
                        color:#7a4cad;
                        display: flex;
                        span{
                            word-break: break-word;
                            align-self: center;
                        }
                    }
                    .remove-friend
                    {
                        color:#d06c32;
                        display: initial;
                    }
                    a:hover,a:focus,a:active
                    {
                        text-decoration: none;
                    }
                    span:hover{
                        color: #a65b68;
                    }
                    form{
                        align-self: center;
                    }
                }
            }
        }
    }
}

.delete-friend-warning
{
    .modal-dialog
    {
        height: 185px !important;
        margin: 12% auto;
        width: 300px !important;    
        .modal-content
        {
            height: 100%;
            .modal-header
            {
                height: 30%;
                background: #ad2121;
                .modal-title
                {
                    font-size: 17px;
                }
            }
            .modal-body
            {
                height: 40%;
                p{
                    padding-left: 15px;
                }
            }
            .modal-footer
            {
                margin-top: -22px;
                padding: 0;
                padding-top: 7px;
                padding-right: 5px;
                cursor: pointer;
                a{
                    display: inline-block;
                }
                a:hover
                {
                    text-decoration: none;
                }
                .add-friend-button
                {
                    background: #b1689a;
                    padding: 4px;
                    color: antiquewhite;
                    width: 50px;
                    border-radius: 10px;
                    i{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .discard-friend
                {
                    background: #83de9f;
                    color: white;
                    padding: 2px 4px;
                    font-size: 13px;
                    font-weight: 550;
                    border-radius: 11px;
                }
                .add-friend-button:hover{
                    background: #693458;
                }
                .discard-friend:hover{
                    color:#63638c;
                }
            }
        }
    }
}


#user-chat-box:target
{
    visibility: visible;
}

@media (max-width:1025px)
{
    .profile-intro
    {
        .accordion
        {
            .card
            {
                .card-body
                {
                    width: 250px;
                }
            }
        }
    }
}

@media (max-width:835px)
{
    .profile-intro
    {
        .accordion
        {
            .card
            {
                .card-body
                {
                    width: 225px;
                }
            }
        }
    }
}

@media (max-width:760px)
{
    .profile-intro
    {
        .accordion
        {
            .card
            {
                .card-body
                {
                    width: 195px;
                }
            }
        }
    }
}

@media (max-width:665px)
{
    .profile-intro
    {
        .accordion
        {
            .card
            {
                .card-body
                {
                    width: 165px;
                }
            }
        }
        
    }
    .modal-dialog
    {
        ul{
            padding: 0;
        }
    }
}

@media (max-width:575px)
{
    .profile-intro
    {
        .accordion
        {
            display:block !important;
            .card
            {
                .card-body
                {
                    width: 95%;
                }
            }
        }
    }
   
}

@media (max-width:550px)
{
    .heading-background
    {
        margin-top: 70px !important;
        >div{
            font-size: 24.5px;
        }
    }
   
}

@media (max-width:450px)
{
    #friendModal
    {
        ul{
            width: 107%;
            li{
                width: 96%;
                a{
                    margin-right: 5px;
                }
            }
        }
    }
}