<head>
    <style>
        img{
            width: 28px;
            height: 23px;
        }
        #sign-p > span{
            
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }
        #sign-p >span span{
            margin-top: 4px;
        }

    </style>
</head>
<div>

    <p>
        Hi <%= reciever.name %>,
    </p>
    <br>
    <p>You have a new friend request from <strong><%= sender.name %></strong> on Skyinyou.</p>
    <br>
    <span class="pending-form-present">To take action on this friend request?</span>
    <br>
    <a href="http://localhost:8000/users/profile/<%= sender.id%>">Click Here</a>
    <br>
    <br>
    <p>Thanks for being an active member!</p>
    <br>
    <p id="sign-p">With best regards,<br>
        <span> <span>Skyinyou Team</span> <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png"></span>
     </p>

</div>