<div>

    <p>
        Hi <%= comment.user.name %>!
    </p>
    <br>
    <br>
    <p>Your comment <strong><%=  comment.content %></strong> just got published on Socialends.</p>
    <br>
    <br>
    <p>Thanks!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team

</div>