<div>

    <p>
        Hi <%= comment.comment.user.name %>!
    </p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.comment.content %></strong> on post <strong><%= comment.postContent %></strong> just got published on Socialends.</p>
    <br>
    <br>
    <p>Thanks!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team

</div>