.commentReplyClass {
  color: black;
  border-radius: 20px;
  width: 80%;
  margin: 75px auto 70px;
  background: linear-gradient(to top, #13547a, #4daea3);
  border: 2px dotted forestgreen;
  padding: 20px 20px 40px;
  height: auto;
  min-height: 300px;
  position: relative; }
  .commentReplyClass .comment-like-box {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #00388b;
    cursor: pointer; }
    .commentReplyClass .comment-like-box a {
      color: #145556; }
    .commentReplyClass .comment-like-box a:hover {
      color: #00388b; }
    .commentReplyClass .comment-like-box span:hover {
      color: #145556; }
    .commentReplyClass .comment-like-box .commentlikemodal {
      color: black; }
      .commentReplyClass .comment-like-box .commentlikemodal .modal-dialog {
        max-height: 400px; }
        .commentReplyClass .comment-like-box .commentlikemodal .modal-dialog .modal-content {
          max-height: inherit; }
          .commentReplyClass .comment-like-box .commentlikemodal .modal-dialog .modal-content .modal-title {
            text-align: center; }
            .commentReplyClass .comment-like-box .commentlikemodal .modal-dialog .modal-content .modal-title span {
              display: block;
              margin-top: 5px;
              color: mediumvioletred; }
          .commentReplyClass .comment-like-box .commentlikemodal .modal-dialog .modal-content .modal-body {
            height: auto;
            display: flex;
            justify-content: center;
            width: 100%;
            max-height: inherit; }
    .commentReplyClass .comment-like-box .comment-like-username-list {
      width: 90%;
      padding-left: 0;
      max-height: 285px;
      overflow-y: auto;
      font-size: 15px; }
      .commentReplyClass .comment-like-box .comment-like-username-list li {
        min-height: 30px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        text-align: right;
        align-items: center;
        margin: 2px auto; }
        .commentReplyClass .comment-like-box .comment-like-username-list li a {
          color: #006881; }
          .commentReplyClass .comment-like-box .comment-like-username-list li a img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 5px; }
          .commentReplyClass .comment-like-box .comment-like-username-list li a span {
            font-variant: petite-caps; }
          .commentReplyClass .comment-like-box .comment-like-username-list li a span:hover {
            font-weight: bold; }
          .commentReplyClass .comment-like-box .comment-like-username-list li a img:hover {
            filter: brightness(0.8); }
      .commentReplyClass .comment-like-box .comment-like-username-list li::after {
        content: '\f21e';
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        color: #BF0A30; }
    .commentReplyClass .comment-like-box .comment-like-username-list::-webkit-scrollbar {
      display: none; }
  .commentReplyClass .comment-deletion {
    position: absolute;
    font-size: 17px;
    cursor: pointer;
    color: ghostwhite; }
    .commentReplyClass .comment-deletion span:hover {
      color: #90212a; }
    .commentReplyClass .comment-deletion .modal-dialog {
      width: 320px;
      margin: 175px auto 0px;
      text-align: center; }
      .commentReplyClass .comment-deletion .modal-dialog h2 {
        font-family: 'Gill Sans';
        color: #5E99A2;
        font-size: 27.2px !important; }
      .commentReplyClass .comment-deletion .modal-dialog .modal-content .modal-body {
        font-size: 14px;
        color: #8F9BA8;
        width: 87%;
        margin: auto; }
      .commentReplyClass .comment-deletion .modal-dialog .modal-content .modal-footer {
        color: #7b6b6b; }
        .commentReplyClass .comment-deletion .modal-dialog .modal-content .modal-footer button:focus {
          outline: none; }
  .commentReplyClass .comment-update-tag {
    position: absolute;
    left: 49px;
    font-size: 18px;
    top: 19px; }
    .commentReplyClass .comment-update-tag a {
      color: #97d4cb; }
    .commentReplyClass .comment-update-tag a:hover {
      color: turquoise; }
  .commentReplyClass .comment-editedTag {
    position: absolute;
    left: 81px;
    font-size: 15px;
    color: powderblue;
    font-variant-caps: unicase; }
  .commentReplyClass .reply-header {
    margin-bottom: 25px; }
  .commentReplyClass .reply-title {
    font-variant: all-small-caps;
    color: #0f6b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px !important;
    font-weight: bolder !important;
    text-shadow: 2px 2px 2px lightseagreen; }
    .commentReplyClass .reply-title p {
      margin-bottom: 15px;
      text-align: center; }
    .commentReplyClass .reply-title a img {
      width: 100px;
      height: 100px;
      border-radius: 20%; }
    .commentReplyClass .reply-title a img:hover {
      filter: contrast(1.2); }
    .commentReplyClass .reply-title a span {
      font-family: serif;
      font-variant: none;
      font-size: 22px;
      font-weight: normal;
      color: silver;
      display: inline-block;
      margin-right: 5px;
      text-shadow: none;
      position: relative;
      display: inline-block;
      transition: all 0.4s ease-in-out; }
    .commentReplyClass .reply-title a span:hover {
      text-decoration: underline; }
    .commentReplyClass .reply-title a .author-tag {
      width: 60px;
      height: 28px;
      padding: 5px;
      font-size: 16px;
      text-align: center;
      background: #5ca3be;
      color: white;
      margin-left: 6px; }
    .commentReplyClass .reply-title a .author-tag:hover {
      text-decoration: none; }
  .commentReplyClass a:hover {
    text-decoration: none; }
  .commentReplyClass .reply-body {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .commentReplyClass .reply-body .commentReplyContent {
      width: 90%;
      margin-bottom: 25px;
      padding: 8px;
      font-family: monospace;
      height: auto;
      border: 1.5px dashed darkslategray;
      border-left: none;
      border-right: none;
      color: #52c6bf;
      font-size: 20px; }
    .commentReplyClass .reply-body .comment-update-form {
      border: 1.5px dashed darkslategray;
      width: 90%;
      display: flex;
      justify-content: space-evenly;
      padding: 8px;
      border-left: none;
      color: #52c6bf;
      font-size: 20px;
      height: auto;
      border-right: none; }
      .commentReplyClass .reply-body .comment-update-form textarea {
        background: transparent;
        border: 1.5px solid #7cb07c;
        resize: none;
        width: 75%;
        border-radius: 15px;
        padding: 5px 3px 3px 12px;
        font-family: monospace; }
      .commentReplyClass .reply-body .comment-update-form button {
        border: none;
        width: 60px;
        transition: all 0.5s ease-in-out;
        align-self: center; }
      .commentReplyClass .reply-body .comment-update-form textarea:focus, .commentReplyClass .reply-body .comment-update-form button:focus {
        outline: none; }
      .commentReplyClass .reply-body .comment-update-form textarea::-webkit-scrollbar {
        display: none; }
      .commentReplyClass .reply-body .comment-update-form button:hover {
        background: transparent;
        font-size: x-large; }
    .commentReplyClass .reply-body form {
      width: 65%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px; }
      .commentReplyClass .reply-body form textarea {
        width: 75%;
        border: none;
        border-bottom: 1.5px solid powderblue;
        color: #1f2628;
        background: transparent;
        resize: none; }
      .commentReplyClass .reply-body form textarea::placeholder {
        font-style: italic;
        color: #1f2628; }
      .commentReplyClass .reply-body form textarea:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: darkslategrey; }
      .commentReplyClass .reply-body form textarea:focus, .commentReplyClass .reply-body form button:focus {
        outline: none; }
      .commentReplyClass .reply-body form textarea::-webkit-scrollbar {
        display: none; }
      .commentReplyClass .reply-body form button {
        height: 45px;
        width: 18%;
        background: transparent;
        border: 1.5px solid #DCA8AB;
        padding: 6px;
        border-radius: 22px;
        color: floralwhite;
        transition: all 0.4s ease-in; }
      .commentReplyClass .reply-body form button:hover {
        background: #47a59f; }
    .commentReplyClass .reply-body ul {
      width: 65%;
      height: auto;
      min-height: 50px;
      list-style: none; }
      .commentReplyClass .reply-body ul li {
        color: slategray;
        min-height: 67px;
        margin-bottom: 20px;
        border-radius: 25px;
        padding: 5px;
        background-color: #eafafa;
        position: relative; }
        .commentReplyClass .reply-body ul li .commentreply-like-box {
          position: absolute;
          left: 45%;
          top: 8px;
          font-size: 12px;
          font-weight: 600;
          cursor: pointer; }
          .commentReplyClass .reply-body ul li .commentreply-like-box .commentreplylikemodal {
            color: black; }
            .commentReplyClass .reply-body ul li .commentreply-like-box .commentreplylikemodal .modal-dialog {
              max-height: 400px; }
              .commentReplyClass .reply-body ul li .commentreply-like-box .commentreplylikemodal .modal-dialog .modal-content {
                max-height: inherit; }
                .commentReplyClass .reply-body ul li .commentreply-like-box .commentreplylikemodal .modal-dialog .modal-content .modal-title {
                  text-align: center; }
                  .commentReplyClass .reply-body ul li .commentreply-like-box .commentreplylikemodal .modal-dialog .modal-content .modal-title span {
                    display: block;
                    margin-top: 5px;
                    color: mediumvioletred; }
                .commentReplyClass .reply-body ul li .commentreply-like-box .commentreplylikemodal .modal-dialog .modal-content .modal-body {
                  height: auto;
                  display: flex;
                  justify-content: center;
                  width: 100%;
                  max-height: inherit; }
          .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list {
            width: 90%;
            padding-left: 0;
            max-height: 285px;
            overflow-y: auto;
            font-size: 15px; }
            .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li {
              min-height: 30px;
              width: 95%;
              display: flex;
              justify-content: space-between;
              text-align: right;
              align-items: center;
              margin: 2px auto;
              background: transparent; }
              .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li a {
                color: #006881; }
                .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li a img {
                  height: 40px;
                  width: 40px;
                  border-radius: 50%;
                  margin-right: 5px; }
                .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li a span {
                  font-variant: petite-caps;
                  font-weight: normal; }
                .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li a span:hover {
                  font-weight: bold; }
                .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li a img:hover {
                  filter: brightness(0.8); }
            .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li::after {
              content: '\f21e';
              font-weight: 900;
              font-family: "Font Awesome 5 Free";
              display: inline-block;
              color: #BF0A30; }
            .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list li:before {
              display: none; }
          .commentReplyClass .reply-body ul li .commentreply-like-box .commentreply-like-username-list::-webkit-scrollbar {
            display: none; }
        .commentReplyClass .reply-body ul li .commentreply-like-box:hover {
          color: black; }
        .commentReplyClass .reply-body ul li .bars .dropdown-toggle {
          position: absolute;
          right: 12px;
          cursor: pointer; }
        .commentReplyClass .reply-body ul li .bars .drop-design {
          position: absolute;
          left: 86%;
          height: auto;
          top: 16px;
          min-width: 80px;
          font-size: 12.5px;
          box-sizing: border-box;
          background: #188984;
          color: #c3cec7;
          align-items: center;
          padding: 0; }
          .commentReplyClass .reply-body ul li .bars .drop-design a {
            color: #c3cec7; }
          .commentReplyClass .reply-body ul li .bars .drop-design .dropdown-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid;
            width: 100%;
            padding: 3px;
            margin-bottom: 2px;
            cursor: pointer; }
            .commentReplyClass .reply-body ul li .bars .drop-design .dropdown-item i {
              margin-top: 2px; }
          .commentReplyClass .reply-body ul li .bars .drop-design .dropdown-item:last-child {
            border: none;
            margin-bottom: 0; }
          .commentReplyClass .reply-body ul li .bars .drop-design .dropdown-item:hover {
            background: #1f7672; }
        .commentReplyClass .reply-body ul li .replydeletemodaldialog {
          width: 350px;
          margin-top: 175px;
          text-align: center; }
          .commentReplyClass .reply-body ul li .replydeletemodaldialog .modal-title {
            font-family: 'Gill Sans';
            color: #5E99A2;
            font-size: 27.2px !important; }
          .commentReplyClass .reply-body ul li .replydeletemodaldialog button:focus {
            outline: none; }
        .commentReplyClass .reply-body ul li .reply-author-tag {
          position: absolute;
          top: 0;
          padding: 5px;
          left: 5px;
          height: 25px; }
          .commentReplyClass .reply-body ul li .reply-author-tag img {
            height: 20px;
            width: 20px;
            border-radius: 15px; }
          .commentReplyClass .reply-body ul li .reply-author-tag span {
            font-size: 11.5px;
            color: #244582;
            font-variant-caps: petite-caps;
            font-weight: 600; }
          .commentReplyClass .reply-body ul li .reply-author-tag .Author-tag {
            background: #73bbbc;
            color: white;
            margin-left: 5px;
            font-variant-caps: normal;
            padding: 3px; }
        .commentReplyClass .reply-body ul li .reply-content {
          margin-top: 32px;
          padding-left: 20px;
          width: 95%;
          margin-bottom: 5px;
          color: dimgrey;
          height: auto;
          position: relative;
          word-break: break-all;
          overflow-wrap: break-word;
          display: flex;
          text-align: justify; }
          .commentReplyClass .reply-body ul li .reply-content a {
            width: 30%;
            display: block;
            height: auto;
            word-break: break-word;
            margin-right: 10px; }
          .commentReplyClass .reply-body ul li .reply-content .authorarrow {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            margin-right: 6px; }
            .commentReplyClass .reply-body ul li .reply-content .authorarrow .pointarrows {
              position: absolute;
              left: 15%;
              height: 25px;
              width: 50px;
              top: 25px;
              align-self: center;
              align-items: center;
              justify-content: space-evenly;
              display: flex; }
              .commentReplyClass .reply-body ul li .reply-content .authorarrow .pointarrows .circle {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                margin: 1px;
                background: linear-gradient(45deg, #C8EEDB, #9BE0BD, #48C686, #5ACB92);
                background-size: 400% 400%;
                animation: gradient 5s ease-in-out infinite; }
              .commentReplyClass .reply-body ul li .reply-content .authorarrow .pointarrows .topright {
                position: absolute;
                top: 2px;
                right: 7px; }
              .commentReplyClass .reply-body ul li .reply-content .authorarrow .pointarrows .topright2 {
                position: absolute;
                top: -4px;
                right: 13px; }
              .commentReplyClass .reply-body ul li .reply-content .authorarrow .pointarrows .bottomright {
                position: absolute;
                bottom: 2px;
                right: 7px; }
              .commentReplyClass .reply-body ul li .reply-content .authorarrow .pointarrows .bottomright2 {
                position: absolute;
                bottom: -4px;
                right: 13px; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
          .commentReplyClass .reply-body ul li .reply-content .replyreplycontent {
            width: 65%;
            height: auto;
            display: inline-block;
            word-break: break-word;
            text-align: justify; }
          .commentReplyClass .reply-body ul li .reply-content .removetag {
            position: absolute;
            top: -23px;
            font-size: 11px;
            font-weight: 600;
            background: #0b516b;
            padding: 4px;
            padding-bottom: 1px;
            border-radius: 6px;
            color: whitesmoke;
            overflow-wrap: normal; }
            .commentReplyClass .reply-body ul li .reply-content .removetag a {
              display: inline-block;
              margin-left: -7px;
              font-family: 'Lucida Grande';
              color: whitesmoke;
              width: 100%; }
            .commentReplyClass .reply-body ul li .reply-content .removetag a:hover {
              color: #ddd0d0; }
          .commentReplyClass .reply-body ul li .reply-content .removetag::before {
            content: "";
            width: 0;
            position: relative;
            height: 0;
            bottom: -19.5px;
            left: 43%;
            border-top: 6px solid #0b516b;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent; }
          .commentReplyClass .reply-body ul li .reply-content a:hover {
            color: #1d8080; }
        .commentReplyClass .reply-body ul li .editedReply {
          position: absolute;
          right: 38px;
          font-size: 11px;
          top: 6px;
          color: #bdb7b7;
          font-weight: 550; }
        .commentReplyClass .reply-body ul li .reply-update-form {
          margin-top: 35px;
          margin-left: 32px;
          margin-bottom: 10px;
          min-height: 30px;
          width: 85%;
          justify-content: space-between; }
          .commentReplyClass .reply-body ul li .reply-update-form textarea {
            width: 85%;
            resize: none;
            background: transparent;
            border: 1px solid lightblue;
            border-radius: 10px;
            padding-left: 10px; }
          .commentReplyClass .reply-body ul li .reply-update-form textarea:focus, .commentReplyClass .reply-body ul li .reply-update-form button:focus {
            outline: none; }
          .commentReplyClass .reply-body ul li .reply-update-form textarea::-webkit-scrollbar {
            display: none; }
          .commentReplyClass .reply-body ul li .reply-update-form button {
            width: 10%;
            color: thistle;
            border: none; }
          .commentReplyClass .reply-body ul li .reply-update-form button:hover {
            box-shadow: 0px 0px 3px 1px lightblue;
            background: transparent; }
          .commentReplyClass .reply-body ul li .reply-update-form .reply2button:hover {
            background: transparent;
            text-decoration: underline;
            box-shadow: none; }
        .commentReplyClass .reply-body ul li .reply-reply-form {
          width: 90%;
          margin: 0;
          margin-left: 32px;
          display: flex;
          flex-direction: column; }
          .commentReplyClass .reply-body ul li .reply-reply-form .div1, .commentReplyClass .reply-body ul li .reply-reply-form .div2 {
            margin-bottom: 0px;
            display: flex;
            align-items: center;
            width: 100%; }
          .commentReplyClass .reply-body ul li .reply-reply-form input[type="text"] {
            align-self: center;
            margin-top: 7px;
            border: none;
            font-weight: bold;
            font-size: 11px;
            width: auto;
            background: transparent; }
          .commentReplyClass .reply-body ul li .reply-reply-form textarea {
            height: 30px;
            align-self: center;
            resize: none;
            width: 75%;
            background: none;
            border: none;
            border-bottom: 1.2px solid #6565a6;
            margin-right: 5%; }
          .commentReplyClass .reply-body ul li .reply-reply-form textarea:focus, .commentReplyClass .reply-body ul li .reply-reply-form button:focus {
            outline: none; }
          .commentReplyClass .reply-body ul li .reply-reply-form textarea::-webkit-scrollbar {
            display: none; }
          .commentReplyClass .reply-body ul li .reply-reply-form button {
            background: #95bad9;
            padding: 0;
            border: none;
            height: 30px;
            width: 15%;
            align-self: center; }
          .commentReplyClass .reply-body ul li .reply-reply-form button:hover {
            background: #26669c; }
      .commentReplyClass .reply-body ul li::before {
        content: "";
        position: absolute;
        bottom: -5px;
        right: 17px;
        border-top: 7px solid #eafafa;
        border-right: 4px solid #eafafa;
        border-left: 9px solid transparent; }
    .commentReplyClass .reply-body ul::-webkit-scrollbar {
      display: none; }

@media screen and (max-width: 830px) {
  .commentReplyClass {
    width: 92%; }
    .commentReplyClass ul {
      width: 80% !important; }
    .commentReplyClass .commentreplylikemodal ul, .commentReplyClass .commentlikemodal ul {
      width: 100% !important; }
  .comment-reply-form {
    width: 80% !important; }
    .comment-reply-form button {
      width: 24% !important; } }

@media screen and (max-width: 600px) {
  .commentReplyClass .reply-header {
    margin-top: 28px; }
  .commentReplyClass .commentReplyContent {
    width: 100% !important; }
  .commentReplyClass .comment-reply-form {
    width: 95% !important; }
  .commentReplyClass .comment-replies-list {
    width: 100% !important;
    padding: 0; } }

@media screen and (max-width: 549px) {
  .commentReplyClass {
    margin-top: 102px;
    width: 98%; }
    .commentReplyClass .comment-update-tag {
      top: 46px;
      left: 14px; }
    .commentReplyClass .comment-editedTag {
      left: 45px; }
    .commentReplyClass .commentreplylikemodal, .commentReplyClass .commentlikemodal {
      padding: 0; } }

@media (max-width: 500px) {
  .commentReplyClass {
    margin-top: 120px;
    margin-bottom: 85px; }
    .commentReplyClass .comment-reply-form button {
      font-size: 12px; }
    .commentReplyClass .dropdown-menu {
      left: 78% !important; } }

@media (max-width: 460px) {
  .commentReplyClass .reply-content {
    margin-top: 50px !important; }
  .commentReplyClass .commentreply-like-box {
    margin-top: 24px; } }

@media (max-width: 370px) {
  .commentReplyClass .reply-header {
    margin-top: 50px; }
  .commentReplyClass .dropdown-menu {
    left: 70% !important; } }

@media (min-width: 320px) {
  .commentReplyClass .commentreplylikemodal .modal-dialog, .commentReplyClass .commentlikemodal .modal-dialog {
    width: 320px;
    margin: 30px auto; } }

@media (min-width: 550px) {
  .commentReplyClass .commentreplylikemodal .modal-dialog, .commentReplyClass .commentlikemodal .modal-dialog {
    width: 550px; }
  .commentReplyClass .comment-deletion .modal-dialog {
    width: 400px; } }
