.search-bar {
  align-self: center;
  margin-left: 165px;
  position: relative; }
  .search-bar ul {
    position: absolute;
    list-style: none;
    top: 24px;
    z-index: 200;
    width: 267px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden; }
    .search-bar ul a {
      width: 100%;
      border: 1.5px solid #FC575E;
      border-left-width: 4px;
      border-right-width: 4px;
      background: #edcd35;
      padding: 2px;
      padding-left: 9px;
      font-size: 15px;
      word-break: break-word;
      text-align: left;
      color: ghostwhite;
      font-family: 'Bentham', serif;
      text-decoration: none;
      display: block; }
      .search-bar ul a img {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
    .search-bar ul a:hover {
      background: #dec031; }
  .search-bar ul::-webkit-scrollbar {
    display: none; }
  .search-bar input {
    width: 285px;
    height: 70%;
    font-size: 15.5px;
    align-self: center;
    padding-left: 10px;
    color: grey;
    font-weight: 550;
    border-radius: 25px;
    border: 2px solid grey;
    background: #f3f3f3;
    padding-bottom: 4px; }
  .search-bar input:focus {
    outline: none; }
  .search-bar input::placeholder {
    font-size: 17.5px;
    padding-left: 2px;
    font-family: 'Marck Script', cursive;
    font-weight: 600; }
  .search-bar input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: grey; }
