body {
  overflow-x: hidden !important;
  background: linear-gradient(to bottom, #243A63, #1D6396, #00A5CF, #E3C9A6, #D89A73) !important;
  z-index: -2; }

@keyframes glow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  body #stars-group-1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 527px 1376px #fff, 1516px 668px #fff, 1610px 1664px #fff, 1089px 715px #fff, 304px 1210px #fff, 30px 609px #fff, 1608px 993px #fff, 1005px 999px #fff, 608px 1433px #fff, 1310px 1655px #fff, 1075px 1571px #fff, 1413px 76px #fff, 1299px 715px #fff, 638px 1477px #fff, 36px 1677px #fff, 1473px 1293px #fff, 609px 1615px #fff, 1633px 1772px #fff, 668px 891px #fff, 208px 849px #fff, 667px 410px #fff, 376px 1500px #fff, 1268px 1024px #fff, 412px 524px #fff, 510px 108px #fff, 1563px 349px #fff, 309px 1686px #fff, 1284px 451px #fff, 607px 1611px #fff, 789px 13px #fff, 1219px 1613px #fff, 1658px 371px #fff, 1427px 1182px #fff, 1665px 855px #fff, 1391px 237px #fff, 1371px 1797px #fff, 820px 160px #fff, 1588px 1031px #fff, 211px 141px #fff, 1185px 1365px #fff, 1618px 1669px #fff, 1664px 1713px #fff, 272px 393px #fff, 523px 732px #fff, 1288px 1422px #fff, 1276px 1798px #fff, 1755px 279px #fff, 796px 322px #fff, 780px 792px #fff, 412px 1503px #fff, 1572px 1083px #fff, 1071px 1698px #fff, 181px 1263px #fff, 1741px 1446px #fff, 1303px 1268px #fff, 1410px 1449px #fff, 1118px 466px #fff, 60px 288px #fff, 294px 441px #fff, 1459px 1315px #fff, 872px 282px #fff, 1330px 343px #fff, 1324px 97px #fff, 868px 1160px #fff, 475px 933px #fff, 1669px 1736px #fff, 669px 1057px #fff, 358px 518px #fff, 448px 1725px #fff, 1592px 1297px #fff, 793px 33px #fff, 70px 1114px #fff, 1778px 1347px #fff, 123px 1235px #fff, 25px 1154px #fff, 168px 860px #fff, 726px 470px #fff, 1310px 1538px #fff, 1297px 1147px #fff, 1254px 1215px #fff, 217px 65px #fff, 453px 423px #fff, 1465px 842px #fff, 1404px 1045px #fff, 1308px 847px #fff, 950px 674px #fff, 423px 586px #fff, 426px 1495px #fff, 625px 324px #fff, 336px 1180px #fff, 1563px 874px #fff, 244px 1406px #fff, 637px 1334px #fff, 1678px 900px #fff, 47px 416px #fff, 1091px 716px #fff, 1006px 1703px #fff, 656px 1641px #fff, 1222px 129px #fff, 1609px 90px #fff, 1118px 235px #fff, 1593px 1535px #fff, 1792px 137px #fff, 344px 234px #fff, 1767px 1795px #fff, 1531px 342px #fff, 291px 28px #fff, 510px 453px #fff, 895px 393px #fff, 214px 1116px #fff, 1619px 302px #fff, 1106px 1679px #fff, 1127px 1734px #fff, 1452px 1413px #fff, 946px 1307px #fff, 1616px 550px #fff, 1541px 1020px #fff, 193px 1347px #fff, 1480px 122px #fff, 446px 237px #fff, 1572px 1577px #fff, 1670px 581px #fff, 694px 1277px #fff, 1640px 38px #fff, 1630px 1365px #fff, 1521px 304px #fff, 599px 1121px #fff, 489px 273px #fff, 432px 553px #fff, 1379px 1271px #fff, 1383px 1030px #fff, 1591px 928px #fff, 916px 165px #fff, 1613px 884px #fff, 254px 1768px #fff, 1590px 1173px #fff, 676px 699px #fff, 1213px 623px #fff, 853px 1344px #fff, 168px 952px #fff, 1515px 1299px #fff, 928px 492px #fff, 1600px 685px #fff, 33px 106px #fff, 298px 971px #fff, 742px 825px #fff, 1570px 1387px #fff, 820px 316px #fff, 867px 1642px #fff, 787px 1119px #fff, 1000px 375px #fff, 1223px 1011px #fff, 1213px 893px #fff, 232px 1790px #fff, 727px 594px #fff, 605px 1544px #fff, 433px 1311px #fff, 298px 1227px #fff, 865px 1136px #fff, 559px 620px #fff, 1191px 1127px #fff, 1660px 73px #fff, 942px 534px #fff, 1294px 382px #fff, 1689px 353px #fff, 124px 1311px #fff, 919px 64px #fff, 646px 1064px #fff, 1754px 1679px #fff, 1773px 277px #fff, 250px 804px #fff, 164px 758px #fff, 1268px 1182px #fff, 829px 531px #fff, 1689px 753px #fff, 55px 1352px #fff, 1788px 1650px #fff, 1429px 1402px #fff, 1179px 246px #fff, 319px 814px #fff, 645px 1677px #fff, 1684px 939px #fff, 510px 1372px #fff, 1547px 348px #fff, 261px 1655px #fff, 1298px 1404px #fff, 1134px 1498px #fff, 1618px 568px #fff, 985px 1223px #fff, 719px 1768px #fff, 1027px 1204px #fff, 1026px 1752px #fff, 134px 1323px #fff, 627px 539px #fff, 476px 346px #fff, 1075px 1315px #fff, 1453px 1701px #fff, 268px 458px #fff, 209px 724px #fff, 530px 424px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 26.5s; }
  body #stars-group-2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1770px 883px #fff, 344px 1702px #fff, 1549px 1574px #fff, 1516px 655px #fff, 670px 909px #fff, 772px 56px #fff, 1050px 1012px #fff, 843px 451px #fff, 1208px 1103px #fff, 364px 194px #fff, 1363px 1461px #fff, 650px 1258px #fff, 385px 30px #fff, 518px 1683px #fff, 1751px 402px #fff, 701px 968px #fff, 217px 742px #fff, 186px 1109px #fff, 645px 1709px #fff, 239px 1338px #fff, 829px 65px #fff, 351px 1443px #fff, 1603px 355px #fff, 1484px 1654px #fff, 1270px 156px #fff, 255px 1528px #fff, 1183px 1208px #fff, 709px 1573px #fff, 1361px 1782px #fff, 1237px 1107px #fff, 1220px 1520px #fff, 17px 817px #fff, 251px 1161px #fff, 1047px 168px #fff, 1487px 1739px #fff, 1375px 712px #fff, 1458px 1274px #fff, 1147px 140px #fff, 32px 1091px #fff, 135px 26px #fff, 791px 1375px #fff, 168px 1383px #fff, 796px 1196px #fff, 379px 357px #fff, 31px 1260px #fff, 1671px 779px #fff, 1777px 1071px #fff, 1227px 905px #fff, 1056px 1098px #fff, 257px 1015px #fff, 218px 100px #fff, 762px 1112px #fff, 369px 1684px #fff, 1038px 1286px #fff, 1090px 1469px #fff, 902px 367px #fff, 811px 243px #fff, 78px 523px #fff, 1709px 299px #fff, 175px 6px #fff, 23px 878px #fff, 1112px 1206px #fff, 378px 1104px #fff, 1574px 1491px #fff, 1095px 1724px #fff, 172px 1626px #fff, 958px 1725px #fff, 1152px 443px #fff, 386px 1415px #fff, 1528px 1720px #fff, 1339px 290px #fff, 988px 1472px #fff, 879px 1318px #fff, 374px 749px #fff, 1423px 601px #fff, 435px 241px #fff, 1413px 577px #fff, 534px 947px #fff, 1344px 1087px #fff, 388px 1366px #fff, 732px 1676px #fff, 603px 209px #fff, 1565px 442px #fff, 395px 763px #fff, 320px 327px #fff, 1005px 711px #fff, 1642px 1004px #fff, 1760px 615px #fff, 814px 589px #fff, 1126px 583px #fff, 25px 548px #fff, 895px 1394px #fff, 102px 629px #fff, 710px 338px #fff, 318px 803px #fff, 971px 266px #fff, 1493px 341px #fff, 1456px 952px #fff, 522px 1773px #fff, 508px 1739px #fff, 1740px 1075px #fff, 583px 1106px #fff, 1259px 1696px #fff, 678px 1547px #fff, 1581px 262px #fff, 713px 1688px #fff, 1127px 372px #fff, 787px 419px #fff, 1150px 1515px #fff, 1552px 1203px #fff, 982px 1253px #fff, 1380px 676px #fff, 764px 1579px #fff, 438px 95px #fff, 677px 1069px #fff, 648px 558px #fff, 916px 392px #fff, 1128px 1710px #fff, 1456px 707px #fff, 1233px 1070px #fff, 546px 347px #fff, 1296px 578px #fff, 949px 1594px #fff, 1013px 1769px #fff, 1464px 586px #fff, 194px 420px #fff, 1792px 1153px #fff, 394px 792px #fff, 1552px 477px #fff, 594px 1091px #fff, 1134px 1154px #fff, 883px 921px #fff, 675px 254px #fff, 91px 1589px #fff, 571px 75px #fff, 1524px 269px #fff, 173px 1178px #fff, 1624px 54px #fff, 1663px 1285px #fff, 1233px 1327px #fff, 606px 572px #fff, 675px 1118px #fff, 672px 444px #fff, 1298px 1430px #fff, 596px 11px #fff, 1346px 1219px #fff, 793px 419px #fff, 79px 1793px #fff, 365px 1395px #fff, 1156px 454px #fff, 93px 1551px #fff, 1515px 792px #fff, 657px 521px #fff, 894px 1389px #fff, 752px 1408px #fff, 1403px 784px #fff, 1477px 1356px #fff, 1681px 279px #fff, 370px 1260px #fff, 1538px 1163px #fff, 1182px 1042px #fff, 650px 73px #fff, 649px 440px #fff, 1550px 1350px #fff, 1217px 931px #fff, 1319px 1454px #fff, 1060px 158px #fff, 923px 1320px #fff, 853px 525px #fff, 1378px 623px #fff, 1659px 496px #fff, 1214px 507px #fff, 1183px 452px #fff, 961px 196px #fff, 1603px 1289px #fff, 177px 575px #fff, 633px 165px #fff, 1374px 1710px #fff, 1341px 1224px #fff, 1087px 1304px #fff, 1111px 1032px #fff, 567px 579px #fff, 1496px 615px #fff, 80px 484px #fff, 1224px 1402px #fff, 1016px 1075px #fff, 369px 1159px #fff, 466px 850px #fff, 1709px 1099px #fff, 932px 1065px #fff, 1095px 514px #fff, 784px 1586px #fff, 1557px 1499px #fff, 1410px 300px #fff, 1794px 370px #fff, 1664px 902px #fff, 1323px 798px #fff, 1262px 732px #fff, 223px 1225px #fff, 792px 428px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 26.6s; }
  body #stars-group-3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1555px 1595px #fff, 1643px 851px #fff, 26px 1645px #fff, 956px 333px #fff, 377px 1151px #fff, 183px 1239px #fff, 931px 482px #fff, 749px 858px #fff, 817px 1447px #fff, 1570px 1175px #fff, 1233px 683px #fff, 475px 1702px #fff, 987px 155px #fff, 811px 1606px #fff, 1598px 587px #fff, 925px 1362px #fff, 1172px 895px #fff, 1542px 700px #fff, 755px 925px #fff, 190px 69px #fff, 751px 393px #fff, 20px 195px #fff, 1609px 120px #fff, 678px 1363px #fff, 303px 1353px #fff, 933px 197px #fff, 1693px 1612px #fff, 406px 531px #fff, 857px 1218px #fff, 178px 1041px #fff, 1254px 1279px #fff, 1451px 194px #fff, 1542px 157px #fff, 1080px 809px #fff, 822px 1621px #fff, 1040px 136px #fff, 343px 829px #fff, 1056px 1181px #fff, 1359px 605px #fff, 356px 705px #fff, 431px 1493px #fff, 347px 1136px #fff, 1489px 528px #fff, 1161px 1066px #fff, 1105px 1760px #fff, 813px 279px #fff, 1701px 899px #fff, 504px 1658px #fff, 922px 963px #fff, 325px 68px #fff, 92px 1189px #fff, 659px 1236px #fff, 526px 1752px #fff, 311px 185px #fff, 477px 1653px #fff, 701px 1708px #fff, 856px 1209px #fff, 123px 754px #fff, 1123px 1510px #fff, 422px 826px #fff, 1241px 1380px #fff, 1113px 232px #fff, 104px 478px #fff, 849px 1697px #fff, 97px 1310px #fff, 1239px 108px #fff, 512px 572px #fff, 375px 612px #fff, 348px 693px #fff, 464px 1795px #fff, 1012px 1413px #fff, 1573px 53px #fff, 1329px 1057px #fff, 944px 1522px #fff, 1563px 344px #fff, 1552px 441px #fff, 1065px 501px #fff, 256px 394px #fff, 1425px 969px #fff, 566px 1585px #fff, 1449px 1627px #fff, 733px 665px #fff, 1262px 1527px #fff, 13px 1691px #fff, 1519px 587px #fff, 353px 1305px #fff, 416px 38px #fff, 643px 1385px #fff, 15px 871px #fff, 236px 144px #fff, 521px 664px #fff, 1737px 1561px #fff, 1265px 783px #fff, 618px 1317px #fff, 1541px 867px #fff, 1614px 1018px #fff, 512px 30px #fff, 489px 332px #fff, 234px 321px #fff, 811px 989px #fff, 630px 600px #fff, 422px 1351px #fff, 1004px 1201px #fff, 320px 808px #fff, 932px 1081px #fff, 528px 1776px #fff, 392px 1739px #fff, 1532px 1449px #fff, 264px 867px #fff, 1779px 115px #fff, 1267px 516px #fff, 13px 1204px #fff, 227px 1491px #fff, 568px 1222px #fff, 451px 639px #fff, 1153px 1171px #fff, 480px 347px #fff, 182px 339px #fff, 1699px 1629px #fff, 460px 570px #fff, 521px 1405px #fff, 1073px 902px #fff, 156px 1446px #fff, 1128px 1490px #fff, 693px 1523px #fff, 378px 1654px #fff, 760px 1623px #fff, 822px 378px #fff, 511px 43px #fff, 303px 1751px #fff, 1356px 987px #fff, 13px 954px #fff, 274px 997px #fff, 855px 263px #fff, 1200px 1635px #fff, 1416px 983px #fff, 890px 547px #fff, 591px 504px #fff, 305px 234px #fff, 157px 713px #fff, 736px 584px #fff, 1046px 1195px #fff, 1668px 643px #fff, 597px 962px #fff, 464px 781px #fff, 1549px 1160px #fff, 440px 1018px #fff, 219px 1191px #fff, 813px 696px #fff, 1532px 1589px #fff, 562px 788px #fff, 1175px 26px #fff, 260px 1628px #fff, 877px 1087px #fff, 93px 1655px #fff, 721px 557px #fff, 1589px 1543px #fff, 371px 864px #fff, 1327px 1079px #fff, 1156px 331px #fff, 212px 390px #fff, 56px 67px #fff, 254px 1451px #fff, 752px 1523px #fff, 51px 797px #fff, 830px 30px #fff, 765px 1579px #fff, 941px 1561px #fff, 1282px 26px #fff, 1062px 780px #fff, 448px 1709px #fff, 1536px 719px #fff, 1357px 40px #fff, 1077px 626px #fff, 1141px 752px #fff, 1509px 1630px #fff, 885px 1754px #fff, 108px 374px #fff, 660px 66px #fff, 1170px 1191px #fff, 1478px 1551px #fff, 1114px 1046px #fff, 1292px 1726px #fff, 1105px 1037px #fff, 1112px 1413px #fff, 1396px 1182px #fff, 228px 278px #fff, 1400px 275px #fff, 249px 1133px #fff, 1192px 835px #fff, 378px 728px #fff, 515px 327px #fff, 1219px 823px #fff, 93px 1128px #fff, 166px 697px #fff, 283px 893px #fff, 1268px 54px #fff, 981px 1219px #fff, 852px 949px #fff, 102px 690px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 26.7s; }
  body #stars-group-4 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1330px 608px #fff, 1044px 195px #fff, 1353px 1455px #fff, 1072px 907px #fff, 1248px 1227px #fff, 1627px 306px #fff, 185px 634px #fff, 1224px 879px #fff, 540px 990px #fff, 982px 1503px #fff, 1154px 473px #fff, 359px 1525px #fff, 278px 1790px #fff, 1692px 1155px #fff, 801px 1122px #fff, 1613px 1604px #fff, 542px 195px #fff, 189px 1230px #fff, 660px 773px #fff, 1151px 599px #fff, 903px 1471px #fff, 837px 835px #fff, 941px 1319px #fff, 499px 1511px #fff, 7px 40px #fff, 1202px 393px #fff, 706px 433px #fff, 56px 1472px #fff, 1689px 1716px #fff, 1367px 540px #fff, 1609px 910px #fff, 639px 339px #fff, 1237px 1199px #fff, 634px 1778px #fff, 1017px 1267px #fff, 337px 255px #fff, 1331px 251px #fff, 370px 1535px #fff, 1377px 39px #fff, 635px 253px #fff, 1748px 1442px #fff, 759px 620px #fff, 1736px 1741px #fff, 1458px 1026px #fff, 1059px 89px #fff, 949px 1193px #fff, 1358px 1558px #fff, 916px 1399px #fff, 422px 622px #fff, 940px 313px #fff, 273px 1165px #fff, 279px 1314px #fff, 498px 1098px #fff, 1678px 84px #fff, 1043px 1369px #fff, 291px 570px #fff, 753px 123px #fff, 823px 1127px #fff, 1395px 842px #fff, 357px 976px #fff, 317px 61px #fff, 1731px 78px #fff, 876px 1533px #fff, 1301px 661px #fff, 1571px 1226px #fff, 1578px 1701px #fff, 406px 185px #fff, 501px 1170px #fff, 779px 1323px #fff, 524px 1253px #fff, 1384px 870px #fff, 424px 725px #fff, 1638px 1452px #fff, 1436px 651px #fff, 56px 1619px #fff, 1767px 1083px #fff, 550px 122px #fff, 74px 186px #fff, 213px 1592px #fff, 709px 1234px #fff, 639px 233px #fff, 279px 781px #fff, 1479px 1395px #fff, 339px 1591px #fff, 1745px 986px #fff, 1470px 1304px #fff, 337px 1551px #fff, 260px 188px #fff, 902px 1297px #fff, 77px 1034px #fff, 714px 788px #fff, 1569px 112px #fff, 972px 308px #fff, 1260px 1279px #fff, 945px 1599px #fff, 1467px 572px #fff, 1328px 296px #fff, 52px 257px #fff, 573px 1642px #fff, 3px 1640px #fff, 593px 928px #fff, 39px 816px #fff, 757px 1033px #fff, 426px 1234px #fff, 667px 867px #fff, 1283px 1690px #fff, 524px 1398px #fff, 1308px 756px #fff, 1267px 334px #fff, 1586px 1042px #fff, 1353px 130px #fff, 719px 479px #fff, 1364px 923px #fff, 475px 1497px #fff, 955px 1101px #fff, 903px 731px #fff, 181px 356px #fff, 756px 1403px #fff, 1596px 1207px #fff, 1413px 162px #fff, 111px 1290px #fff, 1195px 87px #fff, 1097px 1176px #fff, 692px 1679px #fff, 71px 34px #fff, 1318px 931px #fff, 7px 592px #fff, 1213px 1526px #fff, 17px 849px #fff, 603px 872px #fff, 849px 1388px #fff, 1164px 1146px #fff, 1172px 1059px #fff, 251px 929px #fff, 308px 1668px #fff, 54px 1036px #fff, 541px 853px #fff, 489px 1020px #fff, 266px 648px #fff, 219px 207px #fff, 590px 691px #fff, 1075px 1115px #fff, 945px 1134px #fff, 1245px 779px #fff, 1157px 1333px #fff, 1772px 124px #fff, 627px 1618px #fff, 1349px 872px #fff, 909px 832px #fff, 604px 491px #fff, 596px 720px #fff, 241px 1759px #fff, 18px 1541px #fff, 1361px 1327px #fff, 1341px 545px #fff, 896px 1323px #fff, 432px 500px #fff, 640px 849px #fff, 400px 1742px #fff, 1289px 337px #fff, 13px 634px #fff, 1063px 572px #fff, 1252px 185px #fff, 423px 297px #fff, 790px 560px #fff, 1593px 537px #fff, 646px 12px #fff, 417px 1127px #fff, 463px 1289px #fff, 1455px 99px #fff, 155px 493px #fff, 657px 910px #fff, 523px 453px #fff, 834px 467px #fff, 736px 1768px #fff, 645px 729px #fff, 683px 1749px #fff, 284px 1700px #fff, 932px 1412px #fff, 780px 1174px #fff, 871px 1617px #fff, 197px 1508px #fff, 1580px 1791px #fff, 735px 1126px #fff, 1019px 572px #fff, 1527px 262px #fff, 1073px 1669px #fff, 548px 1489px #fff, 485px 927px #fff, 563px 1080px #fff, 1431px 1457px #fff, 1785px 954px #fff, 567px 1246px #fff, 421px 1651px #fff, 95px 1253px #fff, 1220px 287px #fff, 1707px 1559px #fff, 1483px 822px #fff, 867px 919px #fff, 1555px 498px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 26.8s; }

.heading-background {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: #cfacd1;
  text-shadow: 2px 2px 2px #1c6b89;
  font-style: italic;
  font-family: Haettenschweiler !important;
  font-weight: 550;
  margin-top: 20px !important; }
  .heading-background > div {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 410px;
    width: auto;
    word-wrap: break-word; }
    .heading-background > div .cloud {
      width: 350px;
      height: 120px;
      background: #f2f9fe;
      background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      transform: scale(0.2);
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      position: absolute; }

@keyframes move {
  0% {
    left: -48px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move2 {
  0% {
    left: 16px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move3 {
  0% {
    left: 56px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move4 {
  0% {
    left: 101px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move5 {
  0% {
    left: 78px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move6 {
  0% {
    left: 65px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move7 {
  0% {
    left: -11px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move8 {
  0% {
    left: 131px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }
    .heading-background > div .cloud:after, .heading-background > div .cloud:before {
      content: '';
      position: absolute;
      background: linear-gradient(to bottom, white 60%, #d6f0fd);
      z-index: -1; }
    .heading-background > div .cloud:after {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 50px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px; }
    .heading-background > div .cloud:before {
      width: 180px;
      height: 180px;
      top: -90px;
      right: 50px;
      border-radius: 200px;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px; }
    .heading-background > div #first-cloud {
      left: -48px;
      top: -28px;
      transform: scale(0.09);
      animation: move 15s 1  ease-in-out forwards; }
    .heading-background > div #second-cloud {
      left: 16px;
      top: 4px;
      transform: scale(0.35);
      animation: move2 20s 1 1.8s ease-in-out forwards; }
    .heading-background > div #third-cloud {
      left: 56px;
      top: 23px;
      transform: scale(0.05);
      animation: move3 16s 1 1s ease-in-out forwards; }
    .heading-background > div #four-cloud {
      left: 101px;
      top: 0px;
      transform: scale(0.25);
      animation: move4 18s 1 2.0s ease-in-out forwards; }
    .heading-background > div #five-cloud {
      left: 78px;
      top: -8px;
      transform: scale(0.2);
      animation: move5 21s 1 0.5s ease-in-out forwards; }
    .heading-background > div #six-cloud {
      left: 65px;
      top: -13px;
      transform: scale(0.2);
      animation: move6 14s 1 2s ease-in-out forwards; }
    .heading-background > div #seven-cloud {
      left: -11px;
      top: -3px;
      transform: scale(0.38);
      animation: move7 23s 1 2.2s ease-in-out forwards; }
    .heading-background > div #eight-cloud {
      left: 131px;
      top: -7px;
      transform: scale(0.15);
      animation: move8 22s 1 2.4s ease-in-out forwards; }
  .heading-background .heading-image {
    width: 62px;
    height: 62px;
    border-radius: 32%; }

.profile-intro {
  margin: auto;
  display: flex;
  width: 85%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  padding: 0px 20px 20px;
  border: 1px solid black;
  padding: 10px;
  z-index: 100;
  background: inherit;
  flex-wrap: wrap; }
  .profile-intro > div {
    width: 400px;
    height: 350px;
    margin: 15px;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 115;
    padding: 15px;
    box-sizing: border-box; }
  .profile-intro .first {
    min-height: 350px;
    height: auto; }
    .profile-intro .first .accordion {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profile-intro .first .accordion .card {
        width: 100%; }
        .profile-intro .first .accordion .card .card-body {
          width: 94%;
          background: linear-gradient(45deg, #302c2c, transparent);
          padding: 5px 10px;
          border-radius: 15px 0px 15px 0px;
          height: auto;
          min-height: 40px;
          display: flex;
          flex-direction: column; }
          .profile-intro .first .accordion .card .card-body p {
            margin-bottom: 0; }
        .profile-intro .first .accordion .card button {
          width: 100%;
          height: 54px;
          font-size: 17px;
          background: #193a57;
          text-align: left;
          margin: 0;
          border: 2px solid #4b94a0;
          border-radius: 12%;
          padding-left: 17px;
          font-family: Haettenschweiler;
          color: #b0c69a;
          transition: all 0.5s ease-in-out; }
        .profile-intro .first .accordion .card button:focus {
          outline: none; }
        .profile-intro .first .accordion .card button:hover {
          background: #193a57; }
  .profile-intro .middle {
    height: auto;
    min-height: 350px;
    width: 350px;
    border: 4px dotted; }
    .profile-intro .middle p {
      font-size: 15.5px;
      height: auto;
      width: 95%;
      text-align: justify; }
    .profile-intro .middle .profile-name {
      font-size: 24px;
      font-family: serif;
      color: #583030;
      text-align: center; }
    .profile-intro .middle .profile-about {
      margin-top: 15px;
      font-style: italic; }
      .profile-intro .middle .profile-about .about-tag {
        display: block;
        margin-bottom: 8px;
        font-family: monospace;
        font-size: 18px;
        margin-left: 6%;
        color: #47478e; }
    .profile-intro .middle .editprofile-tag {
      background: #ad8264;
      cursor: pointer;
      padding: 2px 8px;
      font-family: courier; }
    .profile-intro .middle .add-chat-friend-group {
      width: 85%;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .profile-intro .middle .add-chat-friend-group a, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1 {
        margin: 5px;
        background: seashell;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer; }
      .profile-intro .middle .add-chat-friend-group .add-friend-button, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1 {
        background: #ba4269;
        width: 150px;
        align-self: center;
        color: thistle; }
      .profile-intro .middle .add-chat-friend-group .add-friend-button:hover, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1:hover {
        box-shadow: 0px 0px 6px 0.5px #9b2f2f; }
      .profile-intro .middle .add-chat-friend-group a:hover {
        text-decoration: none; }
      .profile-intro .middle .add-chat-friend-group .chat-button {
        color: #b57569;
        max-width: 100%;
        padding: 4px 10px;
        height: auto;
        align-self: center;
        word-break: break-word;
        background: navajowhite; }
      .profile-intro .middle .add-chat-friend-group .chat-button:hover {
        box-shadow: 0px 0px 8px 0px #c04e2c; }
      .profile-intro .middle .add-chat-friend-group .pending-from {
        color: #88235f;
        font-weight: 550; }
      .profile-intro .middle .add-chat-friend-group .pending-form-present {
        font-size: 16px;
        color: darkslategrey;
        margin-bottom: 3px;
        font-family: courier;
        font-weight: 700; }
      .profile-intro .middle .add-chat-friend-group .cancel-friend-button {
        background: #9be4d7;
        width: 132px;
        align-self: center;
        color: darkcyan; }
      .profile-intro .middle .add-chat-friend-group .cancel-friend-button:hover {
        color: darkgreen; }
      .profile-intro .middle .add-chat-friend-group .pending-form-options {
        margin: 10px auto;
        margin-bottom: 20px; }
        .profile-intro .middle .add-chat-friend-group .pending-form-options a {
          padding: 5px 10px; }
    .profile-intro .middle img {
      height: 155px;
      width: 155px;
      border-radius: 20%;
      margin-bottom: 10px;
      box-shadow: 0px 2px 8px 0px; }
  .profile-intro .btn {
    font-size: 36px;
    color: #6c689d; }
  .profile-intro .btn:focus {
    outline: none; }
  .profile-intro .card .card-body {
    width: 300px;
    text-align: justify;
    height: auto;
    margin: 10px; }
    .profile-intro .card .card-body p {
      display: block;
      margin: 2px;
      color: white; }
  .profile-intro .card #collapseOne p:hover {
    text-decoration: underline; }

.modal-dialog {
  max-height: 400px;
  color: black;
  min-height: 200px;
  overflow: hidden; }
  .modal-dialog .modal-content {
    height: 100%; }
    .modal-dialog .modal-content .modal-header {
      height: 15%;
      width: 100.5%;
      color: antiquewhite;
      text-align: center;
      font-family: serif;
      background: #2e2727; }
      .modal-dialog .modal-content .modal-header .modal-title {
        font-family: 'Courier New';
        font-size: 27px; }
    .modal-dialog .modal-content .modal-body {
      max-height: 350px;
      min-height: 120px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      text-align: center; }
      .modal-dialog .modal-content .modal-body ul {
        width: 92%;
        box-sizing: border-box;
        list-style: none;
        padding: 0; }
        .modal-dialog .modal-content .modal-body ul li {
          margin: 10px auto;
          min-height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%; }
          .modal-dialog .modal-content .modal-body ul li img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 4px; }
          .modal-dialog .modal-content .modal-body ul li img:hover {
            filter: contrast(1.5); }
          .modal-dialog .modal-content .modal-body ul li a {
            color: #7a4cad;
            display: flex; }
            .modal-dialog .modal-content .modal-body ul li a span {
              word-break: break-word;
              align-self: center; }
          .modal-dialog .modal-content .modal-body ul li .remove-friend {
            color: #d06c32;
            display: initial; }
          .modal-dialog .modal-content .modal-body ul li a:hover, .modal-dialog .modal-content .modal-body ul li a:focus, .modal-dialog .modal-content .modal-body ul li a:active {
            text-decoration: none; }
          .modal-dialog .modal-content .modal-body ul li span:hover {
            color: #a65b68; }
          .modal-dialog .modal-content .modal-body ul li form {
            align-self: center; }

.remove-friend-warning .modal-header {
  background: #ad2121 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.remove-friend-warning .modal-footer {
  color: white; }
  .remove-friend-warning .modal-footer .discard-friend {
    background: #33a98d;
    border-color: darkgreen; }
  .remove-friend-warning .modal-footer .discard-friend:hover {
    background: #2d927a;
    color: white; }
  .remove-friend-warning .modal-footer .btn-primary {
    background: #8D6E63;
    border-color: saddlebrown; }
  .remove-friend-warning .modal-footer .btn-primary:hover {
    background: #745d54; }

.delete-friend-warning .modal-dialog {
  height: 185px !important;
  margin: 12% auto;
  width: 300px !important; }
  .delete-friend-warning .modal-dialog .modal-content {
    height: 100%; }
    .delete-friend-warning .modal-dialog .modal-content .modal-header {
      height: 30%;
      background: #ad2121; }
      .delete-friend-warning .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 17px; }
    .delete-friend-warning .modal-dialog .modal-content .modal-body {
      height: 40%; }
      .delete-friend-warning .modal-dialog .modal-content .modal-body p {
        padding-left: 15px; }
    .delete-friend-warning .modal-dialog .modal-content .modal-footer {
      margin-top: -22px;
      padding: 0;
      padding-top: 7px;
      padding-right: 5px;
      cursor: pointer; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer a {
        display: inline-block; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer a:hover {
        text-decoration: none; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button {
        background: #b1689a;
        padding: 4px;
        color: antiquewhite;
        width: 50px;
        border-radius: 10px; }
        .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button i, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button i {
          display: flex;
          justify-content: center;
          align-items: center; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .discard-friend {
        background: #83de9f;
        color: white;
        padding: 2px 4px;
        font-size: 13px;
        font-weight: 550;
        border-radius: 11px; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button:hover, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button:hover {
        background: #693458; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .discard-friend:hover {
        color: #63638c; }

#user-chat-box:target {
  visibility: visible; }

@media (max-width: 1025px) {
  .profile-intro .accordion .card .card-body {
    width: 250px; } }

@media (max-width: 835px) {
  .profile-intro .accordion .card .card-body {
    width: 225px; } }

@media (max-width: 760px) {
  .profile-intro .accordion .card .card-body {
    width: 195px; } }

@media (max-width: 665px) {
  .profile-intro .accordion .card .card-body {
    width: 165px; }
  .modal-dialog ul {
    padding: 0; } }

@media (max-width: 575px) {
  .profile-intro .accordion {
    display: block !important; }
    .profile-intro .accordion .card .card-body {
      width: 95%; } }

@media (max-width: 550px) {
  .heading-background {
    margin-top: 70px !important; }
    .heading-background > div {
      font-size: 24.5px; } }

@media (max-width: 450px) {
  #friendModal ul {
    width: 107%; }
    #friendModal ul li {
      width: 96%; }
      #friendModal ul li a {
        margin-right: 5px; } }
