body {
  z-index: -2; }

@keyframes glow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  body #stars-group-1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1303px 936px #fff, 746px 383px #fff, 670px 740px #fff, 1418px 1241px #fff, 934px 1704px #fff, 1072px 334px #fff, 1382px 683px #fff, 381px 253px #fff, 320px 720px #fff, 391px 1201px #fff, 456px 684px #fff, 664px 3px #fff, 69px 1206px #fff, 1025px 1494px #fff, 1772px 245px #fff, 1762px 1138px #fff, 90px 1667px #fff, 979px 1569px #fff, 1211px 157px #fff, 1639px 1173px #fff, 223px 48px #fff, 798px 1282px #fff, 117px 1703px #fff, 1435px 582px #fff, 872px 225px #fff, 1135px 149px #fff, 1496px 494px #fff, 1551px 843px #fff, 417px 1247px #fff, 730px 538px #fff, 968px 506px #fff, 236px 1793px #fff, 1287px 1278px #fff, 1686px 1628px #fff, 1670px 343px #fff, 1609px 863px #fff, 925px 742px #fff, 812px 979px #fff, 680px 1112px #fff, 971px 1747px #fff, 1023px 529px #fff, 111px 721px #fff, 849px 1593px #fff, 1732px 407px #fff, 808px 124px #fff, 72px 1458px #fff, 1220px 1632px #fff, 1383px 1556px #fff, 861px 626px #fff, 154px 801px #fff, 567px 1488px #fff, 704px 1232px #fff, 228px 1376px #fff, 1430px 778px #fff, 1731px 241px #fff, 569px 133px #fff, 249px 1713px #fff, 1643px 381px #fff, 561px 1426px #fff, 131px 1366px #fff, 1565px 100px #fff, 1777px 659px #fff, 436px 1714px #fff, 173px 699px #fff, 143px 702px #fff, 1307px 1207px #fff, 802px 869px #fff, 688px 392px #fff, 1659px 1600px #fff, 1451px 1484px #fff, 998px 1169px #fff, 1438px 701px #fff, 364px 1092px #fff, 1746px 1420px #fff, 1374px 637px #fff, 1591px 401px #fff, 1038px 960px #fff, 848px 1124px #fff, 344px 417px #fff, 326px 1139px #fff, 1733px 224px #fff, 1626px 1515px #fff, 924px 551px #fff, 319px 446px #fff, 1072px 191px #fff, 486px 130px #fff, 286px 632px #fff, 1623px 516px #fff, 129px 352px #fff, 134px 43px #fff, 1761px 868px #fff, 411px 1622px #fff, 334px 667px #fff, 202px 1041px #fff, 1600px 989px #fff, 1693px 1107px #fff, 585px 811px #fff, 595px 772px #fff, 273px 857px #fff, 259px 597px #fff, 1517px 122px #fff, 1392px 107px #fff, 1041px 601px #fff, 689px 1718px #fff, 599px 1465px #fff, 1164px 1533px #fff, 1369px 270px #fff, 1092px 806px #fff, 982px 1222px #fff, 956px 546px #fff, 1218px 915px #fff, 31px 1048px #fff, 734px 1317px #fff, 10px 1218px #fff, 324px 869px #fff, 870px 1277px #fff, 150px 1424px #fff, 10px 126px #fff, 1434px 1486px #fff, 1431px 1658px #fff, 1497px 68px #fff, 917px 939px #fff, 453px 911px #fff, 51px 733px #fff, 1235px 1474px #fff, 441px 158px #fff, 597px 1209px #fff, 789px 741px #fff, 339px 979px #fff, 1505px 1619px #fff, 346px 490px #fff, 1449px 372px #fff, 1489px 1166px #fff, 701px 309px #fff, 99px 1538px #fff, 9px 1774px #fff, 234px 22px #fff, 1035px 45px #fff, 1794px 534px #fff, 1112px 1330px #fff, 1067px 380px #fff, 699px 1145px #fff, 634px 1697px #fff, 1461px 715px #fff, 473px 1177px #fff, 1565px 624px #fff, 221px 1750px #fff, 771px 1166px #fff, 1447px 87px #fff, 219px 452px #fff, 688px 1628px #fff, 1327px 989px #fff, 602px 557px #fff, 1423px 799px #fff, 1566px 284px #fff, 1094px 1214px #fff, 1005px 1469px #fff, 1306px 1547px #fff, 781px 227px #fff, 1738px 129px #fff, 655px 1794px #fff, 1293px 1388px #fff, 701px 739px #fff, 1208px 543px #fff, 1683px 1414px #fff, 1056px 1381px #fff, 451px 1771px #fff, 1318px 481px #fff, 900px 120px #fff, 1385px 1100px #fff, 394px 1533px #fff, 578px 909px #fff, 998px 385px #fff, 1087px 1683px #fff, 1530px 441px #fff, 1620px 1791px #fff, 1762px 708px #fff, 1557px 1427px #fff, 402px 180px #fff, 1218px 1709px #fff, 1647px 1287px #fff, 606px 1256px #fff, 196px 1410px #fff, 890px 1278px #fff, 733px 765px #fff, 892px 139px #fff, 1675px 1329px #fff, 159px 1077px #fff, 778px 512px #fff, 1766px 876px #fff, 1171px 1686px #fff, 269px 1278px #fff, 1667px 492px #fff, 779px 1273px #fff, 522px 1438px #fff, 1800px 1396px #fff, 1755px 1547px #fff, 793px 1486px #fff, 1686px 1448px #fff, 672px 1399px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25s; }
  body #stars-group-2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1055px 708px #fff, 695px 1475px #fff, 1116px 402px #fff, 1388px 753px #fff, 648px 1015px #fff, 1317px 469px #fff, 613px 677px #fff, 612px 1099px #fff, 972px 1209px #fff, 1313px 524px #fff, 619px 1019px #fff, 1557px 1237px #fff, 1559px 894px #fff, 1626px 178px #fff, 1345px 622px #fff, 1265px 1146px #fff, 466px 540px #fff, 129px 829px #fff, 1291px 237px #fff, 850px 726px #fff, 1293px 310px #fff, 1800px 1478px #fff, 425px 1295px #fff, 1008px 1007px #fff, 1019px 1590px #fff, 1044px 570px #fff, 436px 1448px #fff, 967px 782px #fff, 40px 1215px #fff, 1687px 1094px #fff, 818px 1459px #fff, 180px 1577px #fff, 416px 651px #fff, 333px 679px #fff, 1706px 1672px #fff, 228px 968px #fff, 721px 1201px #fff, 1758px 1250px #fff, 1528px 1750px #fff, 191px 1655px #fff, 1070px 76px #fff, 1626px 307px #fff, 1597px 1677px #fff, 1326px 1360px #fff, 1490px 1261px #fff, 988px 256px #fff, 1382px 1716px #fff, 1772px 24px #fff, 1549px 570px #fff, 344px 536px #fff, 169px 351px #fff, 959px 615px #fff, 1012px 313px #fff, 847px 1018px #fff, 1070px 82px #fff, 1760px 679px #fff, 139px 1324px #fff, 1400px 340px #fff, 546px 1670px #fff, 969px 1008px #fff, 1398px 1373px #fff, 1141px 1665px #fff, 1138px 1201px #fff, 1395px 343px #fff, 1503px 399px #fff, 634px 1686px #fff, 857px 1601px #fff, 644px 1483px #fff, 1407px 251px #fff, 1231px 792px #fff, 542px 1402px #fff, 1351px 1372px #fff, 421px 31px #fff, 1458px 1297px #fff, 467px 39px #fff, 1299px 418px #fff, 1298px 566px #fff, 1276px 342px #fff, 704px 1046px #fff, 1661px 473px #fff, 1743px 1283px #fff, 1273px 682px #fff, 1511px 1741px #fff, 682px 724px #fff, 1474px 459px #fff, 903px 1348px #fff, 1096px 1401px #fff, 1069px 1090px #fff, 249px 764px #fff, 181px 409px #fff, 1389px 417px #fff, 1429px 801px #fff, 996px 1652px #fff, 725px 321px #fff, 130px 911px #fff, 796px 1143px #fff, 1514px 1579px #fff, 1488px 1213px #fff, 1306px 1644px #fff, 662px 1766px #fff, 880px 60px #fff, 537px 438px #fff, 1247px 1011px #fff, 551px 1423px #fff, 1636px 1710px #fff, 203px 61px #fff, 1457px 1592px #fff, 747px 931px #fff, 1472px 1325px #fff, 1221px 106px #fff, 421px 1640px #fff, 1716px 1218px #fff, 542px 272px #fff, 308px 461px #fff, 1062px 655px #fff, 65px 1285px #fff, 805px 731px #fff, 1413px 574px #fff, 720px 607px #fff, 103px 1402px #fff, 309px 1002px #fff, 1513px 1195px #fff, 1522px 491px #fff, 487px 1658px #fff, 690px 276px #fff, 477px 199px #fff, 1625px 910px #fff, 637px 1175px #fff, 657px 290px #fff, 70px 781px #fff, 809px 1621px #fff, 108px 267px #fff, 1716px 1187px #fff, 672px 324px #fff, 129px 132px #fff, 1666px 1536px #fff, 1224px 323px #fff, 88px 298px #fff, 824px 1266px #fff, 1490px 569px #fff, 1604px 1355px #fff, 645px 1735px #fff, 1108px 1010px #fff, 541px 1669px #fff, 906px 1312px #fff, 786px 747px #fff, 49px 136px #fff, 456px 661px #fff, 489px 702px #fff, 269px 1465px #fff, 356px 867px #fff, 614px 49px #fff, 741px 283px #fff, 347px 730px #fff, 1531px 1271px #fff, 1056px 791px #fff, 710px 1164px #fff, 1400px 1383px #fff, 1533px 1034px #fff, 925px 31px #fff, 683px 672px #fff, 1475px 542px #fff, 500px 1749px #fff, 838px 456px #fff, 1534px 1393px #fff, 128px 1747px #fff, 816px 1480px #fff, 1408px 1087px #fff, 516px 1700px #fff, 131px 200px #fff, 1156px 530px #fff, 369px 405px #fff, 1657px 697px #fff, 712px 641px #fff, 181px 728px #fff, 1379px 1672px #fff, 1628px 1311px #fff, 1473px 1036px #fff, 8px 881px #fff, 659px 471px #fff, 139px 1712px #fff, 132px 1599px #fff, 790px 894px #fff, 980px 306px #fff, 632px 1239px #fff, 394px 1396px #fff, 1799px 375px #fff, 1192px 1714px #fff, 538px 152px #fff, 601px 320px #fff, 444px 1542px #fff, 618px 532px #fff, 85px 383px #fff, 386px 58px #fff, 1735px 1392px #fff, 1486px 1472px #fff, 911px 976px #fff, 479px 539px #fff, 1093px 1346px #fff, 828px 453px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25.1s; }
  body #stars-group-3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 146px 210px #fff, 420px 1500px #fff, 547px 220px #fff, 1414px 453px #fff, 873px 427px #fff, 1621px 489px #fff, 1033px 2px #fff, 1117px 1579px #fff, 37px 1128px #fff, 1535px 121px #fff, 1616px 1255px #fff, 1403px 358px #fff, 1539px 1614px #fff, 1642px 1586px #fff, 649px 295px #fff, 591px 1621px #fff, 1257px 1445px #fff, 958px 1342px #fff, 549px 637px #fff, 784px 1585px #fff, 1204px 1271px #fff, 973px 1750px #fff, 1699px 1323px #fff, 1117px 1712px #fff, 764px 736px #fff, 559px 1553px #fff, 518px 512px #fff, 154px 187px #fff, 1639px 1272px #fff, 364px 604px #fff, 1778px 598px #fff, 1562px 132px #fff, 68px 1141px #fff, 1px 1605px #fff, 454px 230px #fff, 39px 562px #fff, 547px 221px #fff, 777px 643px #fff, 1217px 1789px #fff, 58px 1038px #fff, 1131px 818px #fff, 844px 1738px #fff, 618px 896px #fff, 1422px 1394px #fff, 1002px 205px #fff, 1290px 1529px #fff, 98px 82px #fff, 271px 517px #fff, 323px 1530px #fff, 9px 29px #fff, 530px 1109px #fff, 768px 1373px #fff, 1143px 1070px #fff, 477px 533px #fff, 428px 768px #fff, 1242px 1476px #fff, 490px 1099px #fff, 1280px 1285px #fff, 298px 1347px #fff, 725px 479px #fff, 452px 1135px #fff, 522px 1177px #fff, 606px 765px #fff, 543px 949px #fff, 1276px 365px #fff, 285px 1567px #fff, 538px 48px #fff, 1254px 785px #fff, 1179px 658px #fff, 369px 742px #fff, 1697px 1658px #fff, 920px 1296px #fff, 747px 555px #fff, 1538px 87px #fff, 1725px 1287px #fff, 255px 701px #fff, 1356px 726px #fff, 95px 193px #fff, 900px 369px #fff, 1038px 1609px #fff, 749px 698px #fff, 1186px 1588px #fff, 1540px 1314px #fff, 1661px 695px #fff, 420px 1331px #fff, 291px 67px #fff, 1020px 804px #fff, 557px 332px #fff, 933px 1233px #fff, 1307px 229px #fff, 1263px 528px #fff, 1703px 1650px #fff, 747px 1120px #fff, 1799px 237px #fff, 198px 67px #fff, 252px 1354px #fff, 970px 1585px #fff, 269px 705px #fff, 798px 921px #fff, 1268px 392px #fff, 1230px 680px #fff, 575px 950px #fff, 533px 1185px #fff, 1573px 1519px #fff, 664px 797px #fff, 45px 9px #fff, 848px 1052px #fff, 1127px 1616px #fff, 813px 1149px #fff, 684px 1216px #fff, 767px 1543px #fff, 1052px 1789px #fff, 1706px 956px #fff, 952px 569px #fff, 1417px 571px #fff, 1536px 1289px #fff, 561px 603px #fff, 589px 162px #fff, 1372px 960px #fff, 1480px 1321px #fff, 824px 939px #fff, 632px 364px #fff, 531px 821px #fff, 1119px 613px #fff, 551px 1253px #fff, 16px 1028px #fff, 1593px 1648px #fff, 1339px 1345px #fff, 1037px 312px #fff, 1546px 719px #fff, 1299px 1532px #fff, 70px 12px #fff, 1528px 478px #fff, 384px 919px #fff, 1355px 411px #fff, 1454px 812px #fff, 613px 531px #fff, 816px 1534px #fff, 949px 258px #fff, 1106px 1584px #fff, 1791px 88px #fff, 778px 1471px #fff, 787px 819px #fff, 218px 658px #fff, 895px 1652px #fff, 1169px 1021px #fff, 1055px 1408px #fff, 620px 87px #fff, 635px 115px #fff, 1010px 340px #fff, 1646px 881px #fff, 1149px 1075px #fff, 1282px 1652px #fff, 477px 1658px #fff, 815px 201px #fff, 1775px 940px #fff, 834px 1764px #fff, 827px 1451px #fff, 1242px 1097px #fff, 1434px 430px #fff, 960px 980px #fff, 249px 378px #fff, 1541px 558px #fff, 497px 1179px #fff, 369px 813px #fff, 1086px 155px #fff, 1057px 854px #fff, 575px 1429px #fff, 1467px 951px #fff, 745px 678px #fff, 480px 1471px #fff, 1111px 730px #fff, 453px 832px #fff, 631px 1495px #fff, 494px 634px #fff, 1401px 987px #fff, 244px 1420px #fff, 471px 704px #fff, 353px 155px #fff, 935px 765px #fff, 332px 344px #fff, 737px 91px #fff, 714px 68px #fff, 501px 1417px #fff, 1425px 1694px #fff, 1373px 126px #fff, 1458px 546px #fff, 748px 536px #fff, 623px 205px #fff, 163px 445px #fff, 1555px 356px #fff, 1590px 414px #fff, 1028px 1474px #fff, 820px 1798px #fff, 1439px 911px #fff, 1085px 1534px #fff, 1507px 874px #fff, 1298px 538px #fff, 1338px 1112px #fff, 14px 1019px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25.2s; }
  body #stars-group-4 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1686px 728px #fff, 160px 1145px #fff, 492px 695px #fff, 1126px 1321px #fff, 1076px 292px #fff, 97px 140px #fff, 668px 1476px #fff, 1403px 743px #fff, 369px 297px #fff, 1060px 1121px #fff, 1666px 1658px #fff, 573px 1670px #fff, 491px 680px #fff, 392px 1231px #fff, 1741px 561px #fff, 461px 672px #fff, 1556px 1713px #fff, 597px 1292px #fff, 803px 82px #fff, 149px 1605px #fff, 1514px 91px #fff, 926px 516px #fff, 1363px 1503px #fff, 612px 1739px #fff, 508px 589px #fff, 962px 685px #fff, 742px 734px #fff, 672px 1795px #fff, 1224px 290px #fff, 294px 1196px #fff, 185px 552px #fff, 971px 396px #fff, 1420px 292px #fff, 186px 614px #fff, 1380px 1369px #fff, 366px 170px #fff, 972px 243px #fff, 1042px 144px #fff, 331px 786px #fff, 68px 1674px #fff, 1773px 112px #fff, 460px 1026px #fff, 1226px 155px #fff, 260px 240px #fff, 713px 78px #fff, 852px 625px #fff, 342px 512px #fff, 1508px 1747px #fff, 155px 1689px #fff, 1598px 1250px #fff, 11px 476px #fff, 1261px 1406px #fff, 489px 720px #fff, 1222px 406px #fff, 1715px 487px #fff, 1400px 638px #fff, 942px 1177px #fff, 1526px 1337px #fff, 137px 674px #fff, 131px 554px #fff, 570px 1655px #fff, 1003px 702px #fff, 1618px 1392px #fff, 1578px 587px #fff, 591px 1362px #fff, 784px 228px #fff, 1665px 567px #fff, 1243px 1532px #fff, 1170px 1287px #fff, 890px 1303px #fff, 1015px 1778px #fff, 857px 362px #fff, 1529px 229px #fff, 1312px 1447px #fff, 1073px 1364px #fff, 707px 10px #fff, 665px 423px #fff, 326px 1551px #fff, 434px 738px #fff, 964px 1581px #fff, 1761px 1742px #fff, 1744px 441px #fff, 118px 1170px #fff, 1417px 566px #fff, 1305px 318px #fff, 1188px 1261px #fff, 1553px 355px #fff, 1275px 939px #fff, 1221px 1231px #fff, 1602px 260px #fff, 1036px 589px #fff, 1056px 160px #fff, 1270px 300px #fff, 95px 904px #fff, 1077px 757px #fff, 100px 975px #fff, 1749px 1032px #fff, 1342px 1248px #fff, 938px 1209px #fff, 593px 1248px #fff, 478px 331px #fff, 1492px 369px #fff, 1039px 549px #fff, 1692px 1145px #fff, 1711px 1490px #fff, 1720px 22px #fff, 1547px 944px #fff, 937px 30px #fff, 1535px 1011px #fff, 379px 1680px #fff, 1208px 67px #fff, 261px 1570px #fff, 992px 607px #fff, 873px 902px #fff, 661px 1322px #fff, 1029px 174px #fff, 898px 1432px #fff, 243px 479px #fff, 1183px 889px #fff, 554px 456px #fff, 1292px 1653px #fff, 840px 1369px #fff, 552px 788px #fff, 857px 560px #fff, 15px 580px #fff, 144px 1368px #fff, 1539px 440px #fff, 179px 1612px #fff, 256px 1309px #fff, 1796px 404px #fff, 1764px 310px #fff, 1771px 1313px #fff, 946px 1131px #fff, 1223px 227px #fff, 490px 1551px #fff, 1126px 855px #fff, 1305px 451px #fff, 643px 548px #fff, 976px 44px #fff, 1334px 661px #fff, 945px 1565px #fff, 1626px 961px #fff, 752px 796px #fff, 996px 461px #fff, 506px 1586px #fff, 1796px 1349px #fff, 1176px 273px #fff, 487px 774px #fff, 1644px 749px #fff, 161px 827px #fff, 1347px 125px #fff, 1385px 1129px #fff, 177px 1434px #fff, 129px 1330px #fff, 874px 134px #fff, 1234px 1170px #fff, 776px 627px #fff, 1455px 310px #fff, 886px 152px #fff, 1233px 997px #fff, 1757px 1333px #fff, 364px 878px #fff, 1072px 524px #fff, 293px 102px #fff, 1738px 668px #fff, 1069px 1347px #fff, 1336px 707px #fff, 21px 893px #fff, 1210px 924px #fff, 348px 442px #fff, 660px 120px #fff, 1723px 1119px #fff, 394px 1729px #fff, 1267px 308px #fff, 247px 1420px #fff, 980px 597px #fff, 534px 577px #fff, 1243px 139px #fff, 282px 515px #fff, 231px 598px #fff, 282px 1493px #fff, 995px 439px #fff, 88px 1532px #fff, 374px 1015px #fff, 363px 372px #fff, 104px 350px #fff, 86px 1313px #fff, 1123px 1710px #fff, 862px 1635px #fff, 524px 126px #fff, 5px 324px #fff, 857px 309px #fff, 981px 764px #fff, 1207px 1368px #fff, 1719px 1739px #fff, 42px 295px #fff, 1100px 192px #fff, 674px 520px #fff, 1138px 294px #fff, 925px 1633px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25.3s; }

.heading-background {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: #cfacd1;
  text-shadow: 2px 2px 2px #1c6b89;
  font-style: italic;
  font-family: Haettenschweiler !important;
  font-weight: 550;
  margin-top: 15px !important; }
  .heading-background > div {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 410px;
    width: auto;
    word-wrap: break-word; }
    .heading-background > div .cloud {
      width: 350px;
      height: 120px;
      background: #f2f9fe;
      background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      transform: scale(0.2);
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      position: absolute; }

@keyframes move {
  0% {
    left: -48px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move2 {
  0% {
    left: 16px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move3 {
  0% {
    left: 56px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move4 {
  0% {
    left: 101px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move5 {
  0% {
    left: 78px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move6 {
  0% {
    left: 65px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move7 {
  0% {
    left: -11px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move8 {
  0% {
    left: 131px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }
    .heading-background > div .cloud:after, .heading-background > div .cloud:before {
      content: '';
      position: absolute;
      background: linear-gradient(to bottom, white 60%, #d6f0fd);
      z-index: -1; }
    .heading-background > div .cloud:after {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 50px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px; }
    .heading-background > div .cloud:before {
      width: 180px;
      height: 180px;
      top: -90px;
      right: 50px;
      border-radius: 200px;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px; }
    .heading-background > div #first-cloud {
      left: -48px;
      top: -28px;
      transform: scale(0.09);
      animation: move 15s 1  ease-in-out forwards; }
    .heading-background > div #second-cloud {
      left: 16px;
      top: 4px;
      transform: scale(0.35);
      animation: move2 20s 1 1.8s ease-in-out forwards; }
    .heading-background > div #third-cloud {
      left: 56px;
      top: 23px;
      transform: scale(0.05);
      animation: move3 16s 1 1s ease-in-out forwards; }
    .heading-background > div #four-cloud {
      left: 101px;
      top: 0px;
      transform: scale(0.25);
      animation: move4 18s 1 2.0s ease-in-out forwards; }
    .heading-background > div #five-cloud {
      left: 78px;
      top: -8px;
      transform: scale(0.2);
      animation: move5 21s 1 0.5s ease-in-out forwards; }
    .heading-background > div #six-cloud {
      left: 65px;
      top: -13px;
      transform: scale(0.2);
      animation: move6 14s 1 2s ease-in-out forwards; }
    .heading-background > div #seven-cloud {
      left: -11px;
      top: -3px;
      transform: scale(0.38);
      animation: move7 23s 1 2.2s ease-in-out forwards; }
    .heading-background > div #eight-cloud {
      left: 131px;
      top: -7px;
      transform: scale(0.15);
      animation: move8 22s 1 2.4s ease-in-out forwards; }
  .heading-background .heading-image {
    width: 62px;
    height: 62px;
    border-radius: 32%; }
  .heading-background span {
    display: block;
    word-break: break-word;
    width: 100%; }

.profile-intro {
  margin: auto;
  display: flex;
  width: 85%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  padding: 0px 20px 20px;
  border: 1px solid black;
  padding: 10px;
  z-index: 100;
  background: inherit;
  flex-wrap: wrap; }
  .profile-intro > div {
    width: 400px;
    height: 350px;
    margin: 15px;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 115;
    padding: 15px;
    box-sizing: border-box; }
  .profile-intro .first {
    min-height: 350px;
    height: auto; }
    .profile-intro .first .accordion {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profile-intro .first .accordion .card {
        width: 100%; }
        .profile-intro .first .accordion .card .card-body {
          width: 94%;
          background: linear-gradient(45deg, #302c2c, transparent);
          padding: 5px 10px;
          border-radius: 15px 0px 15px 0px;
          height: auto;
          min-height: 40px;
          display: flex;
          flex-direction: column; }
          .profile-intro .first .accordion .card .card-body p {
            margin-bottom: 0; }
        .profile-intro .first .accordion .card button {
          width: 100%;
          height: 54px;
          font-size: 17px;
          background: #193a57;
          text-align: left;
          margin: 0;
          border: 2px solid #4b94a0;
          border-radius: 12%;
          padding-left: 17px;
          font-family: Haettenschweiler;
          color: #b0c69a;
          transition: all 0.5s ease-in-out; }
        .profile-intro .first .accordion .card button:focus {
          outline: none; }
        .profile-intro .first .accordion .card button:hover {
          background: #193a57; }
  .profile-intro .middle {
    height: auto;
    min-height: 350px;
    width: 350px;
    border: 4px dotted; }
    .profile-intro .middle p {
      font-size: 15.5px;
      height: auto;
      width: 95%;
      text-align: justify; }
    .profile-intro .middle .profile-name {
      font-size: 24px;
      font-family: serif;
      color: #583030;
      text-align: center; }
    .profile-intro .middle .profile-about {
      margin-top: 15px;
      font-style: italic; }
      .profile-intro .middle .profile-about .about-tag {
        display: block;
        margin-bottom: 8px;
        font-family: monospace;
        font-size: 18px;
        margin-left: 6%;
        color: #47478e; }
    .profile-intro .middle .editprofile-tag {
      background: #ad8264;
      cursor: pointer;
      padding: 2px 8px;
      font-family: courier; }
    .profile-intro .middle .add-chat-friend-group {
      width: 85%;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .profile-intro .middle .add-chat-friend-group a, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1 {
        margin: 5px;
        background: seashell;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer; }
      .profile-intro .middle .add-chat-friend-group .add-friend-button, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1 {
        background: #ba4269;
        width: 150px;
        align-self: center;
        color: thistle; }
      .profile-intro .middle .add-chat-friend-group .add-friend-button:hover, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1:hover {
        box-shadow: 0px 0px 6px 0.5px #9b2f2f; }
      .profile-intro .middle .add-chat-friend-group a:hover {
        text-decoration: none; }
      .profile-intro .middle .add-chat-friend-group .chat-button {
        color: #b57569;
        max-width: 100%;
        padding: 4px 10px;
        height: auto;
        align-self: center;
        word-break: break-word;
        background: navajowhite; }
      .profile-intro .middle .add-chat-friend-group .chat-button:hover {
        box-shadow: 0px 0px 8px 0px #c04e2c; }
      .profile-intro .middle .add-chat-friend-group .pending-from {
        color: #88235f;
        font-weight: 550; }
      .profile-intro .middle .add-chat-friend-group .pending-form-present {
        font-size: 16px;
        color: darkslategrey;
        margin-bottom: 3px;
        font-family: courier;
        font-weight: 700; }
      .profile-intro .middle .add-chat-friend-group .cancel-friend-button {
        background: #9be4d7;
        width: 132px;
        align-self: center;
        color: darkcyan; }
      .profile-intro .middle .add-chat-friend-group .cancel-friend-button:hover {
        color: darkgreen; }
      .profile-intro .middle .add-chat-friend-group .pending-form-options {
        margin: 10px auto;
        margin-bottom: 20px; }
        .profile-intro .middle .add-chat-friend-group .pending-form-options a {
          padding: 5px 10px; }
    .profile-intro .middle img {
      height: 155px;
      width: 155px;
      border-radius: 20%;
      margin-bottom: 10px;
      box-shadow: 0px 2px 8px 0px; }
  .profile-intro .btn {
    font-size: 36px;
    color: #6c689d; }
  .profile-intro .btn:focus {
    outline: none; }
  .profile-intro .card .card-body {
    width: 300px;
    text-align: justify;
    height: auto;
    margin: 10px; }
    .profile-intro .card .card-body p {
      display: block;
      margin: 2px;
      color: white; }
  .profile-intro .card #collapseOne p:hover {
    text-decoration: underline; }

.modal-dialog {
  max-height: 400px;
  color: black;
  min-height: 200px;
  overflow: hidden; }
  .modal-dialog .modal-content {
    height: 100%; }
    .modal-dialog .modal-content .modal-header {
      height: 15%;
      width: 100.5%;
      color: antiquewhite;
      text-align: center;
      font-family: serif;
      background: #2e2727; }
      .modal-dialog .modal-content .modal-header .modal-title {
        font-family: 'Courier New';
        font-size: 27px; }
    .modal-dialog .modal-content .modal-body {
      max-height: 350px;
      min-height: 120px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      text-align: center; }
      .modal-dialog .modal-content .modal-body ul {
        width: 92%;
        box-sizing: border-box;
        list-style: none;
        padding: 0; }
        .modal-dialog .modal-content .modal-body ul li {
          margin: 10px auto;
          min-height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%; }
          .modal-dialog .modal-content .modal-body ul li img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 4px; }
          .modal-dialog .modal-content .modal-body ul li img:hover {
            filter: contrast(1.5); }
          .modal-dialog .modal-content .modal-body ul li a {
            color: #7a4cad;
            display: flex; }
            .modal-dialog .modal-content .modal-body ul li a span {
              word-break: break-word;
              align-self: center; }
          .modal-dialog .modal-content .modal-body ul li .remove-friend {
            color: #d06c32;
            display: initial; }
          .modal-dialog .modal-content .modal-body ul li a:hover, .modal-dialog .modal-content .modal-body ul li a:focus, .modal-dialog .modal-content .modal-body ul li a:active {
            text-decoration: none; }
          .modal-dialog .modal-content .modal-body ul li span:hover {
            color: #a65b68; }
          .modal-dialog .modal-content .modal-body ul li form {
            align-self: center; }

.remove-friend-warning .modal-header {
  background: #ad2121 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.remove-friend-warning .modal-footer {
  color: white; }
  .remove-friend-warning .modal-footer .discard-friend {
    background: #33a98d;
    border-color: darkgreen; }
  .remove-friend-warning .modal-footer .discard-friend:hover {
    background: #2d927a;
    color: white; }
  .remove-friend-warning .modal-footer .btn-primary {
    background: #8D6E63;
    border-color: saddlebrown; }
  .remove-friend-warning .modal-footer .btn-primary:hover {
    background: #745d54; }

.delete-friend-warning .modal-dialog {
  height: 185px !important;
  margin: 12% auto;
  width: 300px !important; }
  .delete-friend-warning .modal-dialog .modal-content {
    height: 100%; }
    .delete-friend-warning .modal-dialog .modal-content .modal-header {
      height: 30%;
      background: #ad2121; }
      .delete-friend-warning .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 17px; }
    .delete-friend-warning .modal-dialog .modal-content .modal-body {
      height: 40%; }
      .delete-friend-warning .modal-dialog .modal-content .modal-body p {
        padding-left: 15px; }
    .delete-friend-warning .modal-dialog .modal-content .modal-footer {
      margin-top: -22px;
      padding: 0;
      padding-top: 7px;
      padding-right: 5px;
      cursor: pointer; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer a {
        display: inline-block; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer a:hover {
        text-decoration: none; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button {
        background: #b1689a;
        padding: 4px;
        color: antiquewhite;
        width: 50px;
        border-radius: 10px; }
        .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button i, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button i {
          display: flex;
          justify-content: center;
          align-items: center; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .discard-friend {
        background: #83de9f;
        color: white;
        padding: 2px 4px;
        font-size: 13px;
        font-weight: 550;
        border-radius: 11px; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button:hover, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button:hover {
        background: #693458; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .discard-friend:hover {
        color: #63638c; }

#user-chat-box:target {
  visibility: visible; }

@media (max-width: 1025px) {
  .profile-intro .accordion .card .card-body {
    width: 250px; } }

@media (max-width: 835px) {
  .profile-intro .accordion .card .card-body {
    width: 225px; } }

@media (max-width: 760px) {
  .profile-intro .accordion .card .card-body {
    width: 195px; } }

@media (max-width: 700px) {
  .heading-background {
    margin-top: 7px !important;
    margin-bottom: 45px !important; } }

@media (max-width: 665px) {
  .heading-background {
    margin-top: 20px !important; }
  .profile-intro .accordion .card .card-body {
    width: 165px; }
  .modal-dialog ul {
    padding: 0; } }

@media (max-width: 575px) {
  .profile-intro .accordion {
    display: block !important; }
    .profile-intro .accordion .card .card-body {
      width: 95%; } }

@media (max-width: 450px) {
  #friendModal ul {
    width: 107%; }
    #friendModal ul li {
      width: 96%; }
      #friendModal ul li a {
        margin-right: 5px; }
  .heading-background span {
    width: 70%; } }

@media (max-width: 425px) {
  .heading-background > div {
    font-size: 24.5px; } }
