body {
  z-index: -2; }

@keyframes glow {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  body #stars-group-1 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 132px 1680px #fff, 629px 633px #fff, 987px 347px #fff, 1199px 506px #fff, 332px 188px #fff, 486px 972px #fff, 1786px 1365px #fff, 1440px 875px #fff, 1618px 963px #fff, 281px 39px #fff, 545px 964px #fff, 1166px 310px #fff, 1032px 283px #fff, 189px 1031px #fff, 1073px 540px #fff, 1586px 488px #fff, 106px 23px #fff, 791px 435px #fff, 886px 1519px #fff, 372px 490px #fff, 1440px 1193px #fff, 1141px 290px #fff, 153px 637px #fff, 394px 194px #fff, 823px 1041px #fff, 1055px 1151px #fff, 439px 662px #fff, 720px 1335px #fff, 1054px 1501px #fff, 1800px 1386px #fff, 381px 1021px #fff, 433px 878px #fff, 857px 88px #fff, 1555px 554px #fff, 283px 194px #fff, 1155px 1144px #fff, 986px 1336px #fff, 1312px 1793px #fff, 1016px 11px #fff, 1335px 198px #fff, 1171px 1544px #fff, 1619px 1688px #fff, 716px 1243px #fff, 1063px 586px #fff, 1104px 1156px #fff, 914px 1168px #fff, 120px 926px #fff, 84px 113px #fff, 264px 1364px #fff, 1613px 812px #fff, 859px 849px #fff, 426px 851px #fff, 1391px 1723px #fff, 1505px 1294px #fff, 321px 1497px #fff, 1306px 232px #fff, 609px 306px #fff, 1779px 1522px #fff, 1197px 687px #fff, 491px 609px #fff, 582px 1657px #fff, 1781px 73px #fff, 921px 477px #fff, 163px 1583px #fff, 1248px 1087px #fff, 213px 1728px #fff, 766px 1642px #fff, 1793px 1667px #fff, 895px 415px #fff, 776px 1419px #fff, 864px 319px #fff, 538px 954px #fff, 1525px 387px #fff, 672px 204px #fff, 1349px 462px #fff, 1233px 1515px #fff, 718px 1104px #fff, 1215px 117px #fff, 575px 1140px #fff, 182px 1038px #fff, 1476px 1690px #fff, 710px 1197px #fff, 148px 36px #fff, 1206px 597px #fff, 1530px 452px #fff, 1428px 1710px #fff, 637px 362px #fff, 335px 477px #fff, 998px 1517px #fff, 804px 1240px #fff, 1792px 818px #fff, 1678px 241px #fff, 1055px 682px #fff, 1339px 771px #fff, 989px 331px #fff, 1624px 449px #fff, 814px 305px #fff, 153px 1759px #fff, 30px 553px #fff, 1762px 899px #fff, 548px 1279px #fff, 316px 961px #fff, 128px 1437px #fff, 476px 445px #fff, 1215px 220px #fff, 538px 736px #fff, 1359px 689px #fff, 265px 595px #fff, 1069px 1373px #fff, 607px 269px #fff, 1028px 1670px #fff, 79px 1504px #fff, 736px 1742px #fff, 529px 583px #fff, 1703px 1427px #fff, 719px 1286px #fff, 632px 1697px #fff, 1439px 1757px #fff, 492px 309px #fff, 1371px 1525px #fff, 241px 725px #fff, 311px 1401px #fff, 1474px 1284px #fff, 705px 840px #fff, 826px 684px #fff, 522px 1783px #fff, 1718px 886px #fff, 565px 1197px #fff, 615px 741px #fff, 1220px 1738px #fff, 1256px 1480px #fff, 1671px 1422px #fff, 1633px 396px #fff, 1730px 798px #fff, 1744px 877px #fff, 1183px 425px #fff, 65px 370px #fff, 798px 662px #fff, 809px 1719px #fff, 16px 568px #fff, 1025px 1031px #fff, 408px 1798px #fff, 1250px 1298px #fff, 793px 1590px #fff, 92px 1010px #fff, 988px 1296px #fff, 627px 568px #fff, 8px 677px #fff, 1183px 1023px #fff, 949px 76px #fff, 1466px 1291px #fff, 1404px 482px #fff, 825px 349px #fff, 1361px 544px #fff, 394px 1493px #fff, 1600px 606px #fff, 528px 333px #fff, 1066px 1550px #fff, 1224px 1537px #fff, 1698px 372px #fff, 192px 622px #fff, 1332px 1516px #fff, 931px 474px #fff, 1227px 1225px #fff, 1516px 209px #fff, 1046px 906px #fff, 319px 115px #fff, 1561px 343px #fff, 939px 1526px #fff, 1699px 788px #fff, 1363px 416px #fff, 189px 1047px #fff, 80px 1065px #fff, 441px 247px #fff, 1141px 1000px #fff, 1140px 866px #fff, 193px 576px #fff, 1791px 829px #fff, 1618px 1200px #fff, 1172px 115px #fff, 174px 32px #fff, 889px 877px #fff, 1011px 1344px #fff, 1190px 1186px #fff, 527px 778px #fff, 1093px 102px #fff, 1587px 203px #fff, 1534px 356px #fff, 370px 180px #fff, 874px 777px #fff, 1651px 836px #fff, 1236px 800px #fff, 1199px 1518px #fff, 1750px 1735px #fff, 910px 1458px #fff, 1324px 1264px #fff, 889px 319px #fff, 744px 53px #fff, 225px 50px #fff, 291px 567px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25s; }
  body #stars-group-2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 969px 775px #fff, 786px 113px #fff, 310px 1786px #fff, 335px 1381px #fff, 1348px 671px #fff, 501px 40px #fff, 564px 634px #fff, 632px 307px #fff, 1099px 189px #fff, 890px 109px #fff, 1745px 1145px #fff, 462px 1395px #fff, 174px 1313px #fff, 576px 1290px #fff, 1098px 1732px #fff, 640px 440px #fff, 784px 1097px #fff, 953px 197px #fff, 1765px 358px #fff, 583px 1203px #fff, 912px 141px #fff, 1230px 121px #fff, 466px 892px #fff, 1031px 1125px #fff, 51px 722px #fff, 313px 534px #fff, 1221px 1241px #fff, 1420px 228px #fff, 666px 538px #fff, 418px 711px #fff, 869px 350px #fff, 487px 483px #fff, 1614px 1302px #fff, 233px 31px #fff, 1786px 1610px #fff, 938px 1653px #fff, 380px 558px #fff, 1405px 1437px #fff, 1508px 1628px #fff, 1436px 398px #fff, 824px 4px #fff, 404px 474px #fff, 344px 727px #fff, 1070px 393px #fff, 500px 22px #fff, 1787px 1695px #fff, 1466px 999px #fff, 569px 113px #fff, 834px 43px #fff, 1403px 409px #fff, 1722px 1733px #fff, 632px 1484px #fff, 896px 985px #fff, 28px 937px #fff, 165px 1564px #fff, 26px 185px #fff, 1615px 1619px #fff, 1781px 483px #fff, 1400px 126px #fff, 962px 1090px #fff, 1776px 1027px #fff, 539px 1760px #fff, 1474px 1633px #fff, 1545px 1775px #fff, 508px 981px #fff, 391px 1616px #fff, 173px 239px #fff, 685px 576px #fff, 1357px 246px #fff, 691px 499px #fff, 936px 968px #fff, 668px 167px #fff, 1121px 486px #fff, 1085px 857px #fff, 1302px 962px #fff, 733px 1732px #fff, 1645px 722px #fff, 1415px 1480px #fff, 289px 988px #fff, 635px 1467px #fff, 177px 1780px #fff, 275px 255px #fff, 1493px 1107px #fff, 463px 1348px #fff, 394px 1px #fff, 969px 1071px #fff, 1776px 1211px #fff, 536px 322px #fff, 1129px 1023px #fff, 370px 257px #fff, 1291px 582px #fff, 893px 1607px #fff, 1338px 981px #fff, 1249px 1556px #fff, 1369px 192px #fff, 974px 980px #fff, 1174px 137px #fff, 15px 1031px #fff, 1576px 1224px #fff, 1785px 302px #fff, 1634px 1382px #fff, 1322px 647px #fff, 242px 1058px #fff, 1247px 32px #fff, 378px 1447px #fff, 642px 1169px #fff, 1491px 841px #fff, 191px 519px #fff, 1567px 981px #fff, 1547px 902px #fff, 497px 1308px #fff, 1246px 500px #fff, 209px 1617px #fff, 1644px 965px #fff, 514px 298px #fff, 1135px 284px #fff, 104px 1281px #fff, 156px 1394px #fff, 443px 920px #fff, 1304px 202px #fff, 430px 163px #fff, 363px 1165px #fff, 488px 903px #fff, 1383px 559px #fff, 519px 510px #fff, 1465px 1590px #fff, 1401px 517px #fff, 1441px 858px #fff, 431px 704px #fff, 1050px 772px #fff, 151px 3px #fff, 415px 898px #fff, 1575px 792px #fff, 1542px 1082px #fff, 1787px 1324px #fff, 1668px 331px #fff, 1329px 1686px #fff, 636px 1307px #fff, 325px 1037px #fff, 1179px 893px #fff, 1549px 1608px #fff, 882px 384px #fff, 502px 927px #fff, 1212px 1195px #fff, 463px 234px #fff, 22px 628px #fff, 1307px 348px #fff, 51px 1216px #fff, 1762px 232px #fff, 413px 823px #fff, 957px 1340px #fff, 21px 1119px #fff, 571px 431px #fff, 1161px 278px #fff, 1211px 1302px #fff, 401px 739px #fff, 1398px 808px #fff, 132px 1329px #fff, 1380px 483px #fff, 1469px 305px #fff, 686px 687px #fff, 1480px 1720px #fff, 1537px 339px #fff, 1022px 921px #fff, 1335px 1356px #fff, 454px 1372px #fff, 1760px 823px #fff, 1676px 1571px #fff, 610px 148px #fff, 1283px 415px #fff, 263px 1691px #fff, 1143px 1062px #fff, 1492px 1193px #fff, 1448px 1046px #fff, 1529px 1484px #fff, 1276px 402px #fff, 56px 1229px #fff, 952px 1402px #fff, 246px 824px #fff, 1467px 146px #fff, 918px 58px #fff, 805px 766px #fff, 1436px 1745px #fff, 624px 502px #fff, 28px 1441px #fff, 587px 13px #fff, 536px 487px #fff, 751px 998px #fff, 1147px 1050px #fff, 1525px 590px #fff, 589px 1791px #fff, 1527px 1722px #fff, 777px 1204px #fff, 929px 1508px #fff, 499px 983px #fff, 1714px 218px #fff, 1630px 1290px #fff, 158px 1023px #fff, 588px 1181px #fff, 649px 466px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25.1s; }
  body #stars-group-3 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 574px 1645px #fff, 236px 1623px #fff, 1296px 1615px #fff, 518px 387px #fff, 282px 849px #fff, 1502px 362px #fff, 1539px 332px #fff, 848px 1272px #fff, 1180px 1784px #fff, 572px 550px #fff, 1632px 809px #fff, 1447px 1423px #fff, 387px 1241px #fff, 1064px 1139px #fff, 733px 380px #fff, 1444px 15px #fff, 606px 806px #fff, 1771px 880px #fff, 1140px 1235px #fff, 646px 350px #fff, 375px 1672px #fff, 1450px 1191px #fff, 407px 1152px #fff, 509px 416px #fff, 838px 1271px #fff, 131px 83px #fff, 609px 332px #fff, 268px 1549px #fff, 1444px 1648px #fff, 1133px 32px #fff, 977px 914px #fff, 779px 1125px #fff, 1052px 118px #fff, 1738px 1497px #fff, 811px 1723px #fff, 375px 248px #fff, 410px 858px #fff, 59px 1769px #fff, 1186px 715px #fff, 390px 1779px #fff, 342px 429px #fff, 827px 266px #fff, 1071px 675px #fff, 1456px 680px #fff, 374px 952px #fff, 249px 665px #fff, 130px 1479px #fff, 1426px 1111px #fff, 459px 707px #fff, 1416px 1492px #fff, 298px 1015px #fff, 1578px 873px #fff, 166px 688px #fff, 1130px 771px #fff, 899px 1168px #fff, 947px 1483px #fff, 415px 1460px #fff, 280px 1192px #fff, 38px 195px #fff, 703px 1799px #fff, 1145px 1608px #fff, 415px 767px #fff, 1622px 1595px #fff, 428px 50px #fff, 1329px 1734px #fff, 919px 310px #fff, 698px 1076px #fff, 602px 1681px #fff, 669px 1625px #fff, 545px 1693px #fff, 1129px 1633px #fff, 1448px 1219px #fff, 967px 360px #fff, 597px 31px #fff, 305px 1698px #fff, 1679px 931px #fff, 310px 1777px #fff, 1615px 1683px #fff, 1440px 952px #fff, 218px 524px #fff, 813px 844px #fff, 1744px 1603px #fff, 1759px 1473px #fff, 482px 697px #fff, 1171px 792px #fff, 1144px 1659px #fff, 1106px 138px #fff, 1759px 1720px #fff, 366px 1007px #fff, 1588px 391px #fff, 1647px 1222px #fff, 1393px 763px #fff, 500px 1764px #fff, 804px 1702px #fff, 850px 782px #fff, 733px 1298px #fff, 249px 315px #fff, 634px 1270px #fff, 1143px 192px #fff, 1429px 1161px #fff, 619px 1096px #fff, 818px 1542px #fff, 532px 729px #fff, 349px 985px #fff, 1423px 202px #fff, 1769px 556px #fff, 1362px 909px #fff, 1510px 1178px #fff, 900px 694px #fff, 1440px 257px #fff, 1743px 1717px #fff, 1196px 1026px #fff, 755px 1196px #fff, 1191px 935px #fff, 810px 237px #fff, 118px 1799px #fff, 1003px 1792px #fff, 800px 1346px #fff, 756px 446px #fff, 137px 1244px #fff, 50px 1752px #fff, 1027px 1059px #fff, 687px 1742px #fff, 1074px 1271px #fff, 1747px 486px #fff, 1337px 282px #fff, 328px 1353px #fff, 1753px 822px #fff, 479px 590px #fff, 148px 1089px #fff, 201px 646px #fff, 1412px 537px #fff, 1394px 31px #fff, 687px 777px #fff, 366px 1346px #fff, 301px 1185px #fff, 110px 1366px #fff, 1277px 42px #fff, 403px 1710px #fff, 630px 1168px #fff, 1044px 1177px #fff, 762px 1120px #fff, 107px 1185px #fff, 1224px 1655px #fff, 1378px 1437px #fff, 1162px 855px #fff, 1674px 470px #fff, 472px 229px #fff, 511px 1699px #fff, 1007px 649px #fff, 306px 1773px #fff, 1583px 50px #fff, 628px 34px #fff, 1704px 108px #fff, 24px 695px #fff, 1475px 347px #fff, 1034px 1268px #fff, 184px 1233px #fff, 1306px 65px #fff, 914px 1078px #fff, 1304px 689px #fff, 985px 346px #fff, 1029px 1432px #fff, 326px 1600px #fff, 877px 1092px #fff, 277px 595px #fff, 646px 474px #fff, 901px 657px #fff, 889px 1390px #fff, 1479px 1395px #fff, 1571px 839px #fff, 384px 349px #fff, 1446px 877px #fff, 14px 279px #fff, 655px 830px #fff, 1652px 1042px #fff, 1234px 969px #fff, 1114px 1475px #fff, 524px 931px #fff, 833px 245px #fff, 1142px 278px #fff, 1735px 1575px #fff, 1023px 550px #fff, 159px 865px #fff, 1468px 873px #fff, 930px 1304px #fff, 1540px 491px #fff, 1513px 725px #fff, 875px 270px #fff, 651px 239px #fff, 471px 1133px #fff, 1609px 1199px #fff, 1556px 368px #fff, 60px 1367px #fff, 429px 1729px #fff, 6px 865px #fff, 462px 144px #fff, 1157px 1157px #fff, 1789px 217px #fff, 1203px 686px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25.2s; }
  body #stars-group-4 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1435px 968px #fff, 1723px 54px #fff, 1080px 1102px #fff, 562px 1012px #fff, 1412px 966px #fff, 1247px 29px #fff, 1445px 753px #fff, 1772px 1449px #fff, 975px 985px #fff, 355px 34px #fff, 214px 1644px #fff, 1323px 1734px #fff, 213px 1744px #fff, 561px 561px #fff, 132px 8px #fff, 1190px 394px #fff, 506px 366px #fff, 1180px 39px #fff, 1035px 395px #fff, 892px 992px #fff, 132px 606px #fff, 408px 1393px #fff, 1391px 926px #fff, 40px 706px #fff, 1792px 1712px #fff, 628px 954px #fff, 1278px 1153px #fff, 112px 702px #fff, 347px 366px #fff, 1055px 1609px #fff, 387px 283px #fff, 999px 23px #fff, 232px 664px #fff, 263px 1381px #fff, 62px 770px #fff, 1059px 567px #fff, 898px 443px #fff, 1218px 1678px #fff, 688px 766px #fff, 1241px 1497px #fff, 849px 366px #fff, 1725px 1492px #fff, 1495px 1368px #fff, 21px 1614px #fff, 1756px 376px #fff, 941px 1054px #fff, 192px 1622px #fff, 105px 68px #fff, 835px 787px #fff, 1319px 291px #fff, 880px 251px #fff, 1785px 704px #fff, 1165px 1677px #fff, 245px 1633px #fff, 1011px 1159px #fff, 1041px 1593px #fff, 1661px 1220px #fff, 436px 621px #fff, 913px 778px #fff, 1481px 709px #fff, 677px 985px #fff, 1791px 590px #fff, 1617px 915px #fff, 29px 1196px #fff, 1414px 439px #fff, 304px 1023px #fff, 82px 1537px #fff, 871px 435px #fff, 443px 1411px #fff, 939px 1194px #fff, 1210px 601px #fff, 1662px 403px #fff, 1089px 1541px #fff, 1390px 963px #fff, 161px 1501px #fff, 551px 850px #fff, 558px 678px #fff, 667px 1213px #fff, 1385px 1462px #fff, 72px 155px #fff, 1480px 1118px #fff, 1731px 1390px #fff, 1008px 1468px #fff, 1680px 94px #fff, 1187px 1375px #fff, 63px 1223px #fff, 1047px 610px #fff, 202px 866px #fff, 526px 94px #fff, 189px 1334px #fff, 283px 50px #fff, 287px 1084px #fff, 1679px 1108px #fff, 727px 1121px #fff, 649px 135px #fff, 1544px 720px #fff, 1767px 257px #fff, 35px 561px #fff, 75px 1304px #fff, 134px 511px #fff, 1028px 1182px #fff, 39px 1325px #fff, 1624px 810px #fff, 371px 778px #fff, 1322px 826px #fff, 1351px 898px #fff, 1088px 1018px #fff, 280px 485px #fff, 1372px 173px #fff, 1121px 96px #fff, 547px 1641px #fff, 102px 1140px #fff, 911px 1536px #fff, 196px 633px #fff, 952px 342px #fff, 1631px 1068px #fff, 851px 1111px #fff, 339px 960px #fff, 1656px 1607px #fff, 823px 1019px #fff, 1056px 745px #fff, 758px 1059px #fff, 747px 1639px #fff, 663px 1554px #fff, 445px 1140px #fff, 927px 1728px #fff, 1756px 1565px #fff, 1747px 1538px #fff, 1227px 670px #fff, 778px 627px #fff, 1457px 377px #fff, 4px 574px #fff, 1011px 959px #fff, 988px 1630px #fff, 850px 55px #fff, 73px 616px #fff, 1018px 630px #fff, 495px 382px #fff, 1311px 65px #fff, 1038px 715px #fff, 1303px 1465px #fff, 1797px 459px #fff, 618px 1484px #fff, 1235px 1448px #fff, 1472px 1127px #fff, 771px 1690px #fff, 1450px 1253px #fff, 1557px 1573px #fff, 1369px 1550px #fff, 1448px 138px #fff, 553px 515px #fff, 634px 224px #fff, 996px 977px #fff, 560px 211px #fff, 1784px 1661px #fff, 1733px 698px #fff, 317px 1745px #fff, 277px 37px #fff, 1789px 308px #fff, 586px 1794px #fff, 1677px 1618px #fff, 218px 116px #fff, 384px 1189px #fff, 47px 770px #fff, 799px 596px #fff, 1271px 977px #fff, 649px 1205px #fff, 1052px 625px #fff, 971px 313px #fff, 577px 1375px #fff, 1577px 249px #fff, 934px 1286px #fff, 1280px 941px #fff, 1659px 996px #fff, 940px 1644px #fff, 682px 576px #fff, 1459px 1591px #fff, 630px 1170px #fff, 1159px 1459px #fff, 446px 426px #fff, 1697px 580px #fff, 877px 69px #fff, 936px 1230px #fff, 1251px 550px #fff, 1590px 817px #fff, 744px 1064px #fff, 1613px 127px #fff, 872px 124px #fff, 576px 684px #fff, 652px 1016px #fff, 1449px 1004px #fff, 50px 1686px #fff, 1373px 825px #fff, 1056px 281px #fff, 104px 592px #fff, 956px 305px #fff, 388px 1682px #fff, 348px 1012px #fff, 1126px 1338px #fff, 858px 823px #fff;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-delay: 25.3s; }

.heading-background {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  color: #cfacd1;
  text-shadow: 2px 2px 2px #1c6b89;
  font-style: italic;
  font-family: Haettenschweiler !important;
  font-weight: 550;
  margin-top: 15px !important; }
  .heading-background > div {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 410px;
    width: auto;
    word-wrap: break-word; }
    .heading-background > div .cloud {
      width: 350px;
      height: 120px;
      background: #f2f9fe;
      background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
      transform: scale(0.2);
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      position: absolute; }

@keyframes move {
  0% {
    left: -48px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move2 {
  0% {
    left: 16px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move3 {
  0% {
    left: 56px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move4 {
  0% {
    left: 101px;
    opacity: 1; }
  100% {
    left: -200px;
    opacity: 0; } }

@keyframes move5 {
  0% {
    left: 78px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move6 {
  0% {
    left: 65px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move7 {
  0% {
    left: -11px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }

@keyframes move8 {
  0% {
    left: 131px;
    opacity: 1; }
  100% {
    left: 45%;
    opacity: 0; } }
    .heading-background > div .cloud:after, .heading-background > div .cloud:before {
      content: '';
      position: absolute;
      background: linear-gradient(to bottom, white 60%, #d6f0fd);
      z-index: -1; }
    .heading-background > div .cloud:after {
      width: 100px;
      height: 100px;
      top: -50px;
      left: 50px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px; }
    .heading-background > div .cloud:before {
      width: 180px;
      height: 180px;
      top: -90px;
      right: 50px;
      border-radius: 200px;
      -webkit-border-radius: 200px;
      -moz-border-radius: 200px; }
    .heading-background > div #first-cloud {
      left: -48px;
      top: -28px;
      transform: scale(0.09);
      animation: move 15s 1  ease-in-out forwards; }
    .heading-background > div #second-cloud {
      left: 16px;
      top: 4px;
      transform: scale(0.35);
      animation: move2 20s 1 1.8s ease-in-out forwards; }
    .heading-background > div #third-cloud {
      left: 56px;
      top: 23px;
      transform: scale(0.05);
      animation: move3 16s 1 1s ease-in-out forwards; }
    .heading-background > div #four-cloud {
      left: 101px;
      top: 0px;
      transform: scale(0.25);
      animation: move4 18s 1 2.0s ease-in-out forwards; }
    .heading-background > div #five-cloud {
      left: 78px;
      top: -8px;
      transform: scale(0.2);
      animation: move5 21s 1 0.5s ease-in-out forwards; }
    .heading-background > div #six-cloud {
      left: 65px;
      top: -13px;
      transform: scale(0.2);
      animation: move6 14s 1 2s ease-in-out forwards; }
    .heading-background > div #seven-cloud {
      left: -11px;
      top: -3px;
      transform: scale(0.38);
      animation: move7 23s 1 2.2s ease-in-out forwards; }
    .heading-background > div #eight-cloud {
      left: 131px;
      top: -7px;
      transform: scale(0.15);
      animation: move8 22s 1 2.4s ease-in-out forwards; }
  .heading-background .heading-image {
    width: 62px;
    height: 62px;
    border-radius: 32%; }
  .heading-background span {
    display: block;
    word-break: break-word;
    width: 100%; }

.profile-intro {
  margin: auto;
  display: flex;
  width: 85%;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  padding: 0px 20px 20px;
  border: 1px solid black;
  padding: 10px;
  z-index: 100;
  background: inherit;
  flex-wrap: wrap; }
  .profile-intro > div {
    width: 400px;
    height: 350px;
    margin: 15px;
    display: flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 115;
    padding: 15px;
    box-sizing: border-box; }
  .profile-intro .first {
    min-height: 350px;
    height: auto; }
    .profile-intro .first .accordion {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .profile-intro .first .accordion .card {
        width: 100%; }
        .profile-intro .first .accordion .card .card-body {
          width: 94%;
          background: linear-gradient(45deg, #302c2c, transparent);
          padding: 5px 10px;
          border-radius: 15px 0px 15px 0px;
          height: auto;
          min-height: 40px;
          display: flex;
          flex-direction: column; }
          .profile-intro .first .accordion .card .card-body p {
            margin-bottom: 0; }
        .profile-intro .first .accordion .card button {
          width: 100%;
          height: 54px;
          font-size: 17px;
          background: #193a57;
          text-align: left;
          margin: 0;
          border: 2px solid #4b94a0;
          border-radius: 12%;
          padding-left: 17px;
          font-family: Haettenschweiler;
          color: #b0c69a;
          transition: all 0.5s ease-in-out; }
        .profile-intro .first .accordion .card button:focus {
          outline: none; }
        .profile-intro .first .accordion .card button:hover {
          background: #193a57; }
  .profile-intro .middle {
    height: auto;
    min-height: 350px;
    width: 350px;
    border: 4px dotted; }
    .profile-intro .middle p {
      font-size: 15.5px;
      height: auto;
      width: 95%;
      text-align: justify; }
    .profile-intro .middle .profile-name {
      font-size: 24px;
      font-family: serif;
      color: #583030;
      text-align: center; }
    .profile-intro .middle .profile-about {
      margin-top: 15px;
      font-style: italic; }
      .profile-intro .middle .profile-about .about-tag {
        display: block;
        margin-bottom: 8px;
        font-family: monospace;
        font-size: 18px;
        margin-left: 6%;
        color: #47478e; }
    .profile-intro .middle .editprofile-tag {
      background: #ad8264;
      cursor: pointer;
      padding: 2px 8px;
      font-family: courier; }
    .profile-intro .middle .add-chat-friend-group {
      width: 85%;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .profile-intro .middle .add-chat-friend-group a, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1 {
        margin: 5px;
        background: seashell;
        padding: 5px;
        border-radius: 20px;
        cursor: pointer; }
      .profile-intro .middle .add-chat-friend-group .add-friend-button, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1 {
        background: #ba4269;
        width: 150px;
        align-self: center;
        color: thistle; }
      .profile-intro .middle .add-chat-friend-group .add-friend-button:hover, .profile-intro .middle .add-chat-friend-group .remove-friend-button-1:hover {
        box-shadow: 0px 0px 6px 0.5px #9b2f2f; }
      .profile-intro .middle .add-chat-friend-group a:hover {
        text-decoration: none; }
      .profile-intro .middle .add-chat-friend-group .chat-button {
        color: #b57569;
        max-width: 100%;
        padding: 4px 10px;
        height: auto;
        align-self: center;
        word-break: break-word;
        background: navajowhite; }
      .profile-intro .middle .add-chat-friend-group .chat-button:hover {
        box-shadow: 0px 0px 8px 0px #c04e2c; }
      .profile-intro .middle .add-chat-friend-group .pending-from {
        color: #88235f;
        font-weight: 550; }
      .profile-intro .middle .add-chat-friend-group .pending-form-present {
        font-size: 16px;
        color: darkslategrey;
        margin-bottom: 3px;
        font-family: courier;
        font-weight: 700; }
      .profile-intro .middle .add-chat-friend-group .cancel-friend-button {
        background: #9be4d7;
        width: 132px;
        align-self: center;
        color: darkcyan; }
      .profile-intro .middle .add-chat-friend-group .cancel-friend-button:hover {
        color: darkgreen; }
      .profile-intro .middle .add-chat-friend-group .pending-form-options {
        margin: 10px auto;
        margin-bottom: 20px; }
        .profile-intro .middle .add-chat-friend-group .pending-form-options a {
          padding: 5px 10px; }
    .profile-intro .middle img, .profile-intro .middle .concealed-image {
      height: 155px;
      width: 155px;
      border-radius: 20%;
      margin-bottom: 10px;
      box-shadow: 0px 2px 8px 0px; }
    .profile-intro .middle .concealed-image {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Pacifico', cursive;
      color: mistyrose;
      font-size: 37px; }
  .profile-intro .btn {
    font-size: 36px;
    color: #6c689d; }
  .profile-intro .btn:focus {
    outline: none; }
  .profile-intro .card .card-body {
    width: 300px;
    text-align: justify;
    height: auto;
    margin: 10px; }
    .profile-intro .card .card-body p {
      display: block;
      margin: 2px;
      color: white; }
  .profile-intro .card #collapseOne p:hover {
    text-decoration: underline; }

.modal-dialog {
  max-height: 400px;
  color: black;
  min-height: 200px;
  overflow: hidden; }
  .modal-dialog .modal-content {
    height: 100%; }
    .modal-dialog .modal-content .modal-header {
      height: 15%;
      width: 100.5%;
      color: antiquewhite;
      text-align: center;
      font-family: serif;
      background: #2e2727; }
      .modal-dialog .modal-content .modal-header .modal-title {
        font-family: 'Courier New';
        font-size: 27px; }
    .modal-dialog .modal-content .modal-body {
      max-height: 350px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      justify-content: center;
      text-align: center; }
      .modal-dialog .modal-content .modal-body ul {
        width: 92%;
        box-sizing: border-box;
        list-style: none;
        padding: 0; }
        .modal-dialog .modal-content .modal-body ul li {
          margin: 10px auto;
          min-height: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 90%; }
          .modal-dialog .modal-content .modal-body ul li img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-right: 4px; }
          .modal-dialog .modal-content .modal-body ul li img:hover {
            filter: contrast(1.5); }
          .modal-dialog .modal-content .modal-body ul li a {
            color: #7a4cad;
            display: flex; }
            .modal-dialog .modal-content .modal-body ul li a span {
              word-break: break-word;
              align-self: center; }
          .modal-dialog .modal-content .modal-body ul li .remove-friend {
            color: #d06c32;
            display: initial; }
          .modal-dialog .modal-content .modal-body ul li a:hover, .modal-dialog .modal-content .modal-body ul li a:focus, .modal-dialog .modal-content .modal-body ul li a:active {
            text-decoration: none; }
          .modal-dialog .modal-content .modal-body ul li span:hover {
            color: #a65b68; }
          .modal-dialog .modal-content .modal-body ul li form {
            align-self: center; }

.remove-friend-warning .modal-header {
  background: #ad2121 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.remove-friend-warning .modal-footer {
  color: white; }
  .remove-friend-warning .modal-footer .discard-friend {
    background: #33a98d;
    border-color: darkgreen; }
  .remove-friend-warning .modal-footer .discard-friend:hover {
    background: #2d927a;
    color: white; }
  .remove-friend-warning .modal-footer .btn-primary {
    background: #8D6E63;
    border-color: saddlebrown; }
  .remove-friend-warning .modal-footer .btn-primary:hover {
    background: #745d54; }

.delete-friend-warning .modal-dialog {
  height: 185px !important;
  margin: 12% auto;
  width: 300px !important; }
  .delete-friend-warning .modal-dialog .modal-content {
    height: 100%; }
    .delete-friend-warning .modal-dialog .modal-content .modal-header {
      height: 30%;
      background: #ad2121; }
      .delete-friend-warning .modal-dialog .modal-content .modal-header .modal-title {
        font-size: 17px; }
    .delete-friend-warning .modal-dialog .modal-content .modal-body {
      height: 40%; }
      .delete-friend-warning .modal-dialog .modal-content .modal-body p {
        padding-left: 15px; }
    .delete-friend-warning .modal-dialog .modal-content .modal-footer {
      margin-top: -22px;
      padding: 0;
      padding-top: 7px;
      padding-right: 5px;
      cursor: pointer; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer a {
        display: inline-block; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer a:hover {
        text-decoration: none; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button {
        background: #b1689a;
        padding: 4px;
        color: antiquewhite;
        width: 50px;
        border-radius: 10px; }
        .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button i, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button i {
          display: flex;
          justify-content: center;
          align-items: center; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .discard-friend {
        background: #83de9f;
        color: white;
        padding: 2px 4px;
        font-size: 13px;
        font-weight: 550;
        border-radius: 11px; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .add-friend-button:hover, .delete-friend-warning .modal-dialog .modal-content .modal-footer .remove-friend-button:hover {
        background: #693458; }
      .delete-friend-warning .modal-dialog .modal-content .modal-footer .discard-friend:hover {
        color: #63638c; }

#user-chat-box:target {
  visibility: visible; }

@media (max-width: 1025px) {
  .profile-intro .accordion .card .card-body {
    width: 250px; } }

@media (max-width: 835px) {
  .profile-intro .accordion .card .card-body {
    width: 225px; } }

@media (max-width: 760px) {
  .profile-intro .accordion .card .card-body {
    width: 195px; } }

@media (max-width: 700px) {
  .heading-background {
    margin-top: 7px !important;
    margin-bottom: 45px !important; } }

@media (max-width: 665px) {
  .heading-background {
    margin-top: 20px !important; }
  .profile-intro .accordion .card .card-body {
    width: 165px; }
  .modal-dialog ul {
    padding: 0; } }

@media (max-width: 575px) {
  .profile-intro .accordion {
    display: block !important; }
    .profile-intro .accordion .card .card-body {
      width: 95%; } }

@media (max-width: 450px) {
  #friendModal ul {
    width: 107%; }
    #friendModal ul li {
      width: 96%; }
      #friendModal ul li a {
        margin-right: 5px; }
  .heading-background span {
    width: 70%; } }

@media (max-width: 425px) {
  .heading-background > div {
    font-size: 24.5px; } }
