<head>
    <style>
        img{
            width: 28px;
            height: 23px;
        }
        #sign-p > span{
            
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }
        #sign-p >span span{
            margin-top: 4px;
        }


    </style>
</head>
<div>
    <p>
        Hi <%= user.name %>,
    </p>
    <br> 
    <p>Welcome to the Skyinyou Family, We hope that you will find this journey enchanting!</p>
    <p id="login-p"><br>
                Here are your login credentials:
                <br>
                <span style="margin-top: 10px;margin-left: 60px;">
                    Email: <strong><%= user.email %></strong>
                </span>
                <br>
                <% if(user.notGoogle) {%>
                <span style="margin-left: 60px;">
                    <strong>Password: <%= user.password %></strong>
                </span>
                <br>
                <br>
                <span><strong>Don't share this with anyone for security purposes.</strong></span>
                <% } %> 
    </p>
    <br><br>
    <span>Looking forward for your contribution.</span>
    <br>
    <p id="sign-p">With best regards,<br>
        <span> <span>Skyinyou Team</span> <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png"></span>
     </p>
</div>