<head>
    <style>
        img{
            width: 28px;
            height: 23px;
        }
        #sign-p > span{
            
            margin-top: 0px;
            display: flex;
            align-items: flex-end;
        }
        #sign-p >span span{
            margin-top: 4px;
        }

    </style>
</head>
<div>
    <p>
        Hi <%= newuser.name %>,
    </p>
    <br> 
    <p>Thank you for making the first step towards Skyinyou. Kindly, sign out if you are logged in.</p>
    <p>Here is the link for your account verification:</p>
    <a href="http://localhost:8000/users/newaccount/<%= acessToken%>">Verify Link</a>
    <br><br>
    <p>Hope to see you soon as an engaged member!</p>
    <br>
    <p id="sign-p">With best regards,<br>
        <span> <span>Skyinyou Team</span> <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png"></span>
     </p>
</div>