<div>
    <p>
        Hi <%= newuser.name %>,
    </p>
    <br> 
    <p>Thank you for making the first step towards Skyinyou.</p>
    <p>Here is the link for your account verification:</p>
    <a href="localhost:8000/users/newaccount/<%= acessToken%>">localhost:8000/users/newaccount/<%= acessToken %></a>
    <p>Hope to see you soon as an engaged member!</p>
    <br>
    <p>With best regards,<br>
        Skyinyou Team <img src="https://pngimg.com/uploads/peace_symbol/peace_symbol_PNG8.png" style="width: 40px;">
    </p>
</div>