<div>
    <p>
        Hi <%= newuser.name %>!
    </p>
    <br> 
    <p>Thank you for making the first step towards Socialends.</p>
    <p>Here is the link for your account verification:</p>
    <a href="localhost:8000/users/newaccount/<%= acessToken%>">localhost:8000/users/newaccount/<%= acessToken %></a>
    <p>Hope to see you as an engaged Socialender soon!</p>
    <br>
    <p>With best regards!</p>
    Socialends Team
</div>